{% load i18n %}<div class="blessbox mb20">
  {% if user.is_authenticated %}<div class="btn-bless display-ib-m {% if user_vote %}recommended{% endif %}"><a href="#" class="bless-trigger full-click-box custom-tooltip"{% if user_vote %} title="{% trans "You recommended this" %}"{% endif %} data-ct="{{ ct }}" data-pk="{{ pk }}">
    <span class="fa {% if not user_vote %}fa-heart-o{% else %}fa-heart{% endif %}"></span>
  </a><span>{% if not user_vote %} {% trans "Recommend" %}{% else %} {% trans "Recommended"%}{% endif %}</span></div>{% endif %}
  <div class="counter-body">
    {% if item_counter %}{% if last_user == user %}<span class="text-def">{% trans "You" %}</span>{% else %}<a href="{{ last_user.profile.get_absolute_url }}">{{ last_user.profile }}</a>{% endif %}
    {% if count_others %} {% trans "and" %} <span class="counter text-def">{{ count_others }}</span> {% trans "others" %}{% endif %} {% trans "recommended this" %}{% endif %}
  </div>
</div>
