{% load i18n %}<div class="blessbox mb20" data-ct="{{ ct }}" data-pk="{{ pk }}">
  {% if user.is_authenticated %}<div class="btn-bless display-ib-m {% if user_vote %}recommended{% endif %}"><a href="#" class="bless-trigger full-click-box custom-tooltip"{% if user_vote %} title="{% trans "You recommended this" %}"{% endif %}>
    <span class="fa {% if not user_vote %}fa-heart-o{% else %}fa-heart{% endif %}"></span>
  </a><span>{% if not user_vote %} {% trans "Recommend" %}{% else %} {% trans "Recommended"%}{% endif %}</span></div>{% endif %}
  <div class="counter-body">
    {% if item_counter %}{% if last_user == user %}<span class="text-def">{% trans "You" %}</span>{% else %}<a href="{{ last_user.profile.get_absolute_url }}">{{ last_user.profile }}</a>{% endif %}
    {% if count_others %} {% trans "and" %} <span class="t-count text-def">{{ count_others }}</span> {% trans "others" %}{% endif %} {% trans "recommended this" %}{% endif %}
  </div>
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="{% trans "close"|capfirst %}"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{% trans "all recommendations"|capfirst %}</h4>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
          <button type="button" class="btn-cancelBig" data-dismiss="modal">{% trans "close"|capfirst %}</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
