{% extends 'locations/index.html' %}
{% load staticfiles i18n %}

{% block require_scripts %}

  <script data-main="{% static 'places_core/js/build/locations/background/location-background-main.js' %}" src="{% static 'places_core/includes/require/require.js' %}"></script>

{% endblock %}


{% block content %}

  <form id="user-background-form" method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="form-group">
      <label class="control-label col-sm-2">&nbsp;</label>
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary submit-btn">{% trans "Save" %}</button>
      </div>
    </div>
  </form>

{% endblock %}