{% extends 'locations/index.html' %}{% load staticfiles i18n civil_tags %}

{% block require_scripts %}<script src="{% module_path 'location-background' %}"></script>{% endblock %}

{% block content %}<ul class="menu">
<li><a href="{% url 'locations:upload-background' location.pk %}">{% trans "Upload new picture" %}</a></li>
  <li><a href="{% url 'locations:background' location.slug %}" class="active">{% trans "Edit picture data" %}</a></li>
</ul>
<form id="user-background-form" method="post" action="" enctype="multipart/form-data">{% csrf_token %}
  {{ form.as_p }}
  <div class="form-group">
    <label class="control-label col-sm-2">&nbsp;</label>
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary submit-btn">{% trans "Save" %}</button>
    </div>
  </div>
</form>{% endblock %}
