{% extends 'locations/index.html' %}
{% load staticfiles i18n civil_tags %}

{% block content %}

    <div class="col-sm-9 main-content contentPX">
        <center>
            <h2>{% trans "Are you sure you want to delete this item" %}?</h2>
            <form id="content-delete-form" class="form-hidden" method="post" action="">
                {% csrf_token %}
                <input type="hidden" name="content_type" value="{{ content_type }}" />
                <input type="hidden" name="object_pk" value="{{ object_pk }}" />
                <button type="button" class="btn btn-grayBack cancel-btn" onClick="javascript:history.go(-1);">{% trans "Cancel" %}</button>
                <button type="submit" class="btn btn-minusDelete submit-btn">{% trans "Delete" %}</button>
            </form>
        </center>
    </div>
    
    <div class="col-sm-3 boxPX">
        
        {% include 'locations/sidebar.html' %}
        
    </div>

{% endblock %}