{% extends 'places_core/base.html' %}{% load i18n civil_tags %}

{% block require_scripts %}<script src="{% module_path 'user-ranking' %}"></script>{% endblock %}

{% block content %}
<div class="col-sm-3">
  <div class="sidebar left">
    <div class="sidebar-label">{% trans "Actions" %}:</div>
    <div class="sidebar-content">
      <ul>
	<li><a href="{% url 'user:ranking' %}">{% trans "User ranking" %}</a></li>
        <li><a href="{% url 'ranking-countries' %}">{% trans "countries"|capfirst %}</a></li>
        <li{% if not full_list %} class="active"{% endif %}><a href="{% url 'ranking-cities' current_code %}">{% trans "biggest cities"|capfirst %}</a></li>
        <li{% if full_list %} class="active"{% endif %}><a href="{% url 'ranking-regions' current_code %}">{% trans "regions"|capfirst %}</a></li>
        <li{% if full_list %} class="active"{% endif %}><a href="{% url 'ranking-locations' current_code %}">{% trans "other locations"|capfirst %}</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="col-sm-9 main-content">
  <div class="create-form newFormCreate">
    <h3>{% trans "country ranking"|capfirst %}</h3>
    <div class="container-fluid">
      <div class="row civ-tablelike-heading">
        <div class="col-xs-1">&nbsp;</div>
        <div class="col-xs-3"><a href="{% url_from_params 'o' 'name' %}" data-field="name">{% trans "name"|capfirst %}</a></div>
        <div class="col-xs-2 text-center"><a href="{% url_from_params 'o' 'usercount' %}" data-field="usercount">{% trans "users total"|capfirst %}</a></div>
        <div class="col-xs-2 text-center"><a href="{% url_from_params 'o' 'actioncount' %}" data-field="actioncount">{% trans "actions total"|capfirst %}</a></div>
        <div class="col-xs-2 text-center"><a href="{% url_from_params 'o' 'avg' %}" data-field="avg">{% trans "average points"|capfirst %}</a></div>
        <div class="col-xs-2 text-center">{% trans "active users"|capfirst %}</div>
      </div>
      {% for entry in object_list %}<div class="row civ-tablelike notip">
        <div class="col-xs-1 text-center"><img src="{{ entry.thumb_url }}" alt="{{ entry }}" class="user-avatar"></div>
        <div class="col-xs-3"><a href="{% url 'ranking-cities' entry.country_code %}">{{ entry }}</a></div>
        <div class="col-xs-2 text-center">{{ entry.usercount }}</div>
        <div class="col-xs-2 text-center">{{ entry.target_actions.count }}</div>
        <div class="col-xs-2 text-center">{{ entry.avg_points|floatformat:2 }}</div>
        <div class="col-xs-2 text-center">{{ entry.active_users }}</div>
      </div>{% endfor %}
    </div>
    {% include 'places_core/pagination.html' %}

  </div>
</div>
{% endblock %}
