{% extends 'places_core/base.html' %}
{% load staticfiles %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'locations/css/location-details.css' %}" />
{% endblock %}

{% block header %}

<div class="location-logo" style="background-image:url({{ location.image.url }})">
    <h1 class="location-name-title">{{ location.name }}</h1>
    {% if user not in locations.users.all %}
        <button class="btn btn-success btn-fallow-location">Fallow</button>
    {% endif %}
</div>
<nav id="location-navbar" class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-location-collapse-menu">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
        <div class="collapse navbar-collapse" id="bs-location-collapse-menu">
            <ul class="nav navbar-nav">
                <li><a href="{{ location.get_absolute_url }}">Summary</a></li>
                <li><a href="{% url 'locations:news' location.slug %}">News</a></li>
                <li><a href="/{{ location.slug }}/ideas/">Ideas</a></li>
                <li><a href="{% url 'locations:followers' location.slug %}">Followers</a></li>
                <li><a href="{% url 'locations:discussions' location.slug %}">Discussions</a></li>
            </ul>
        </div>
    </div>
</nav>

{% endblock %}