{% extends 'places_core/base.html' %}
{% load staticfiles i18n civil_tags cache %}

{% cache 600 header location.slug %}

{% block geometa %}{% if location.latitude and location.longitude %}
<meta name="DC.title" content="{{ location }}" />
<meta name="geo.region" content="{{ location.country_code }}" />
<meta name="geo.placename" content="{{ location.name }}" />
<meta name="geo.position" content="{{ location.latitude }};{{ location.longitude }}" />
<meta name="ICBM" content="{{ location.latitude }}, {{ location.longitude }}" />
{% endif %}{% endblock %}

{% block require_scripts %}
<script data-main="{% static 'places_core' %}/js/{% js_path %}/location-default.js" src="{% static 'places_core' %}/includes/require/require.js"></script>
{% endblock %}

{% block header %}
<nav id="location-chain-menu" class="navbar navbar-default" role="navigation">
<div class="container">
<div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" style="height: 1px;">
    
    <ul class="nav navbar-nav">
        <li class="first-indicator"><a href="/places/"><div class="maker-globe-point"><img src="{% static 'places_core' %}/img/globe_point.png"></div></a></li>
        {% for parent in location.get_parent_chain %}
        <li><a href="{{ parent.url }}">{{ parent.name }}</a></li>
        <li class="breaker">
            <a href="#" class="sublocation-menu-toggle" data-target="{{ parent.pk }}" data-toggle="dropdown">&gt;</a></li>
        {% endfor %}
        <li class="active">
            <a href="{{ location.get_absolute_url }}">{{ location }}</a>
        </li>
        {% if location.location_set.count %}
        <li class="last-element">
            <a href="#" class="dropdown-toggle sublocation-menu-toggle" data-target="{{ location.pk }}" data-toggle="dropdown"></a>
        </li>
        {% endif %}
    </ul>
    
</div>
</div>
</nav>
<div class="location-logo" style="background-image:url({{ location.image.url }})">
    <div class="container" style="height: 100%; position: relative;">
        <div class="title-container"> 
            <div class="location-name-title">{{ location }}</div>
            <div class="followers sprite-icon"><span class="ch-icon ch-followers-white"></span>{{ location.users.all|length }}</div>
            
        {% if user in location.users.all %}
            <button type="button" class="btn-unfollow-location" data-location-id="{{ location.pk }}">{% trans "You are following" %}</button>
        {% else %}
            <button type="button" class="btn-follow-location" data-location-id="{{ location.pk }}">{% trans "Follow" %}</button>
        {% endif %}
            
        </div>
        
        {% if user.is_superuser or is_moderator %}
            <a class="change-background-btn" href="{% url 'locations:background' location.pk %}">{% trans "Change background image" %}</a>
        {% endif %}
        
    </div>
</div>
<nav id="location-navbar" class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-location-collapse-menu">
              <span class="sr-only">{% trans "Toggle navigation" %}</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
        <div class="collapse navbar-collapse" id="bs-location-collapse-menu">
            <ul class="nav navbar-nav">
                <li><a href="{{ location.get_absolute_url }}">{% trans "Summary" %}</a></li>
                <li><a href="{% url 'locations:news' location.slug %}"></span>{% trans "Blog" %}</a></li>
                <li><a href="{% url 'locations:discussions' location.slug %}">{% trans "Discussions" %}</a></li>
                <li><a href="{% url 'locations:ideas' location.slug %}">{% trans "Ideas" %}</a></li>
                <li><a href="{% url 'locations:polls' location.slug %}">{% trans "Polls" %}</a></li>
                <li><a href="#">{% trans "Projects" %}</a>{% comment %}<span class="navbar-soon">(soon)</span>{% endcomment %}</li>
                <li><a href="#"> {% trans "Documents" %}</a>{% comment %}<span class="navbar-soon">(soon)</span>{% endcomment %}</li>
                <!--<li><a href="#"><span class="ch-icon ch-polls"></span><span class="ch-icon ch-videos"></span>{% trans "Videos" %}</a></li>-->
                <li><a href="{% url 'locations:gallery' location.slug %}">{% trans "Gallery" %}</a></li>
                
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'locations:followers' location.slug %}">{% trans "Followers" %}</a></li>
                <li><a href="{% url 'locations:sublocations' location.slug %}">{% trans "Subspaces" %}</a></li>
            </ul>
        </div>
    </div>
</nav>

<input type="hidden" id="current-location-pk" value="{{ location.pk }}" />

{% endblock %}

{% endcache %}