{% extends 'places_core/base.html' %}
{% load staticfiles %}{% load i18n %}

{% block title %}{% trans "Create location" %}{% endblock %}

{% block require_scripts %}
<script data-main="{% static 'places_core' %}/js/build/locations/create/location-create-main.js" src="{% static 'places_core' %}/includes/require/require.js"></script>
{% endblock %}

{% block content %}

    {% if action and action == 'edit' %}
        <form role="form" action="{% url 'locations:update' location.slug %}" enctype="multipart/form-data" method="post" id="new-location-form">
    {% else %}
        <form role="form" action="{% url 'locations:create' %}" enctype="multipart/form-data" method="post" id="new-location-form">
    {% endif %}
        {% csrf_token %}
        {{ form }}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
        </div>
    </form>

{% endblock %}