{% extends 'places_core/base.html' %}
{% load staticfiles %}{% load i18n %}

{% block title %}Create location{% endblock %}

{% block content %}
{% if action and action == 'edit' %}
    <form role="form" action="{% url 'locations:update' location.slug %}" enctype="multipart/form-data" method="post">
{% else %}
    <form role="form" action="{% url 'locations:create' %}" enctype="multipart/form-data" method="post">
{% endif %}
    {% csrf_token %}
    {{ form }}
    <div class="form-group">
        <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
    </div>
</form>
{% if user.is_authenticated %}{% include 'gallery/media-uploader.html' %}{% endif %}
{% endblock %}

{% block footer_scripts %}
<script src="{% static 'places_core/includes/ckeditor/ckeditor.js' %}"></script>
<script src="{% static 'places_core/includes/bootstrap/bootstrap.file-input.js' %}"></script>
<script src="{% static 'maps/js/jquery.mapinput.js' %}"></script>
<script>
(function ($) {
    "use strict";
    $('#id_description').customCKEditor();
    $('[type="file"]').bootstrapFileInput();
    $('#id_latitude').before('<div id="map"></div>');
    $('#id_latitude, #id_longitude').css('display', 'none');
    $('#map').mapinput({
        latField: '#id_latitude',
        lngField: '#id_longitude',
        width: 640,
        height: 480
    });
})(jQuery);
</script>
{% endblock %}
