{% extends 'locations/index.html' %}
{% load staticfiles i18n civil_tags %}

{% comment %}
    Formularz do tworzenia nowych idei.
{% endcomment %}

{% block require_scripts %}
{% include 'places_core/script-templates/content-edit.html' %}
<script data-main="{% static 'places_core' %}/js/{% js_path %}/idea-create.js" src="{% static 'places_core' %}/includes/require/require.js"></script>
{% endblock %}

{% block content %}

    <div class="col-sm-9 main-content contentPX">
    
        <div class="create-form">
        <h3>{% trans "Write idea in" %} {{ location }}</h3>
            <form enctype="multipart/form-data" class="form-horizontal" role="form" method="post" action="" id="content-create-form">
                {% csrf_token %}
                {{ form.as_p }}
                <p style="text-align:center;">{% trans "If this entry is about a specific location, you can mark it on the map" %}</p>
                <div class="form-group">
                    <div class="control-label col-sm-2">&nbsp;</div>
                    <div class="col-sm-10"><div class="mapinput"></div></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">&nbsp;</label>
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                    </div>
                </div>
            </form>
        </div>
        
    </div>
    
    <div class="col-sm-3 boxPX">
        {% include 'locations/sidebar.html' %}
    </div>
    
    {% include 'gallery/media-uploader.html' %}
    
    {% include 'locations/category-form.html' %}
    
{% endblock %}