{% extends 'locations/index.html' %}
{% load staticfiles %}{% load i18n %}{% load civil_tags %}

{% block title %} {{ location.name }}, {% trans "Discussions" %} | CivilHub {% endblock %}

{% block require_scripts %}

    <script>window.pageSize = {% page_size 'list' %};</script>
    <script data-main="{% static 'places_core' %}/js/build/topics/list/discussion-list-built.js" src="{% static 'places_core' %}/includes/require/require.js"></script>

{% endblock %}

{% comment %}
    Klasa 'list-controller' jest ważna!
    Bez niej kontrolki wyszukiwania nie działają!
{% endcomment %}

{% block topbar %}
<nav id="filter-navbar" class="navbar navbar-default" role="navigation">
    <div class="collapse navbar-collapse" id="bs-navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Sort by" %}: <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <input type="hidden" id="discussion-target-url" value="{% url 'locations:ajaxlist' slug=location.slug %}">
                    <li><a href="" class="list-controller" data-target="question" data-control="sortby">{% trans "Question" %}</a></li>
                    <li><a href="" class="list-controller active" data-target="latest" data-control="sortby">{% trans "Latest" %}</a></li>
                    <li><a href="" class="list-controller" data-target="oldest" data-control="sortby">{% trans "Oldest" %}</a></li>
                    <li><a href="" class="list-controller" data-target="category" data-control="sortby">{% trans "Category" %}</a></li>
                    <li><a href="" class="list-controller" data-target="creator" data-control="sortby">{% trans "Username" %}</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Status" %}: <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#" class="list-state-switch list-controller" data-target="True" data-control="state">{% trans "Active" %}</a></li>
                    <li><a href="#" class="list-state-switch list-controller" data-target="False" data-control="state">{% trans "Closed" %}</a></li>
                    <li><a href="#" class="list-state-switch list-controller active" data-target="all" data-control="state">{% trans "All" %}</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav">
        <li class="navbar-text"> {% trans "When" %}:</li>
            <li><a href="{% url 'locations:discussions' slug=location.slug %}" class="list-controller active navbar-time" data-control="time" data-target="any">{% trans "Anytime" %}</a></li>
            <li class="navbar-text-narrow"><span id="navbar-space">|</span></li>
        <li class="navbar-text-narrow">{% trans "Past" %}:</li>
            <li><a href="" class="list-controller navbar-time" data-control="time" data-target="day">{% trans "Day" %}</a></li>
        <li class="navbar-text-narrow">|</li>
            <li><a href="" class="list-controller navbar-time" data-control="time" data-target="week">{% trans "Week" %}</a></li>
        <li class="navbar-text-narrow">|</li>
            <li><a href="" class="list-controller navbar-time" data-control="time" data-target="month">{% trans "Month" %}</a></li>
        <li class="navbar-text-narrow">|</li>
            <li><a href="" class="list-controller navbar-time" data-control="time" data-target="year">{% trans "Year" %}</a></li>
        </ul>

    <ul class="nav navbar-nav navbar-right">
        <li class="navbar-icon"><span class="ch-icon ch-chart"></span></li>
        <li class="navbar-text">{% trans "Stats" %}</li>
        <span class="bs-navbar-soon">(soon)</span>
        </ul>

        <form id="haystack-form" class="navbar-form navbar-right" role="search" method="get" action="">
            <div class="form-group">
                <input type="text" name="haystack" id="haystack" placeholder="{% trans "Search" %}..." class="form-control" />
            </div>
            <button type="submit" class="search-button"><span class="fa fa-search"></span></button>
        </form>
    </div>
</nav>
{% endblock %}

{% block content %}
</div>

{% if discussions %}
<div class="container">
    <div class="col-sm-9 main-content">
        
            <div class="discussion-list-entry">
                <div class="custom-label-list">
                    <span class="fa fa-list custom-fa"> </span>
                    <span class="custom-label-entry custom-main-label-entry">
                        <a href="#" class="list-controller" data-target="all" data-control="category">{% trans "All channels" %}</a>
                    </span>
                    {% for category in categories %}
                    <span class="custom-label-entry">
                        <a href="#" class="list-controller custom-tooltip" title="{{ category.description }}" data-target="{{ category.pk }}" data-control="category">{{ category }}</a>
                    </span>
                    {% endfor %}
                </div>

                <noscript>
                    <div class="discussion-list custom-tablelike">
                        {% if discussions %}
                        {% for topic in discussions %}
                        <div class="topic-list-entry custom-list-entry">
                            <div class="row">
                                <div class="col-sm-5 excerpt"><a href="{% url 'locations:topic' place_slug=topic.location.slug slug=topic.slug %}">{{ topic.question | truncatechars:45 }}</a></div>
                                <div class="col-sm-2 category"><a href="#"><label class="label label-default">{{ topic.category }}</label></a></div>
                                <div class="col-sm-5">
                                    <span class="count">{{ topic.entry_set.count }}</span>
                                    <img src="{{ topic.creator.profile.avatar.url }}" alt="{{ topic.creator }}" class="user-avatar-minithumb" />
                                    <a href="{% url 'user:profile' topic.creator %}"><span class="user-window-toggle" data-target="{{ topic.creator.pk }}">{{ topic.creator.get_full_name }}</span></a>
                                    {{ topic.date_created | timesince }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="pagination">
                            <span class="step-links">
                                {% if discussions.has_previous %}
                                <a href="?page={{ discussions.previous_page_number }}">{% trans "previous" %}</a>
                                {% endif %}

                                <span class="current">
                                    {% trans "Page" %} {{ discussions.number }} {% trans "of" %} {{ discussions.paginator.num_pages }}.
                                </span>

                                {% if discussions.has_next %}
                                <a href="?page={{ discussions.next_page_number }}">{% trans "next" %}</a>
                                {% endif %}
                            </span>
                        </div>
                        {% else %}
                        <p>{% trans "There are no discussions opened yet." %}</p>
                        {% endif %}
                    </div>
                </noscript>
                
                {% include 'topics/discussion-list.html' %}
                
            </div>
        
    </div>
    
    <input type="hidden" name="discussion_api_url" id="discussion-api-url" value="/rest/topics/?pk={{ location.pk }}" />

{% else %}
    <div class="col-sm-9 no-entries">
        <img src="/static/places_core/img/civilian.png" alt="{% trans "Sad Civilian" %}">
        <h2>
            {% trans "We didn't find any discussions" %} {% trans "in" %} {{ location.name }}.<br /> 
            {% trans "Please" %}
            {% if user.is_authenticated %}
                <a href="{% url 'locations:new_topic' location.slug %}" >
            {% else %}
                <a href="/users/login" >
            {% endif %}{% trans "add first discussion" %}</a>.
        </h2>
    </div>
{% endif %}

    <div class="col-sm-3">
        {% include 'locations/sidebar.html' %}
    </div>
    
</div><!-- / .row -->
    
{% endblock %}