{% extends 'locations/index.html' %}
{% load staticfiles %}{% load i18n %}{% load civil_tags %}
{% block title %} {{ location.name }}, {% trans "Ideas" %} | CivilHub {% endblock %}
{% block require_scripts %}
<script>window.pageSize = {% page_size %};</script>
<script data-main="{% static 'places_core' %}/js/build/ideas/list/idea-list-built.js" src="{% static 'places_core' %}/includes/require/require.js"></script>
{% endblock %}

{% block topbar %}
<nav id="filter-navbar" class="navbar navbar-default" role="navigation">
    <div class="collapse navbar-collapse" id="bs-navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Sort by" %}: <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#" class="list-controller" data-control="sortby" data-target="title">{% trans "Title" %}</a></li>
                    <li><a href="#" class="list-controller" data-control="sortby" data-target="date">{% trans "Date" %}</a></li>
                    <li><a href="#" class="list-controller" data-control="sortby" data-target="category">{% trans "Category" %}</a></li>
                    <li><a href="#" class="list-controller" data-control="sortby" data-target="username">{% trans "Username" %}</a></li>
                    <li><a href="#" class="list-controller" data-control="sortby" data-target="answers">{% trans "Answers" %}</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Status" %}: <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#" class="list-controller" data-control="status" data-target="True">{% trans "Active" %}</a></li>
                    <li><a href="#" class="list-controller" data-control="status" data-target="False">{% trans "Closed" %}</a></li>
                    <li><a href="#" class="list-controller" data-control="status" data-target="all">{% trans "All" %}</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Category" %}: <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#" class="list-controller active" data-control="category" data-target="all">{% trans "All" %}</a></li>
                    {% for category in categories %}
                    <li><a href="#" class="list-controller" data-control="category" data-target="{{ category.pk }}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            <li class="navbar-text"> {% trans "When" %}:</li>
        <li><a href="#" class="list-controller active  navbar-time" data-control="time" data-target="any">{% trans "Anytime" %}</a></li>
        <li class="navbar-text-narrow"><span id="navbar-space">|</span></li>
        <li class="navbar-text-narrow">{% trans "Past" %}:</li>
            <li><a href="" class="list-controller navbar-time" data-control="time" data-target="day">{% trans "Day" %}</a></li>
        <li class="navbar-text-narrow">|</li>
            <li><a href="" class="list-controller navbar-time" data-control="time" data-target="week">{% trans "Week" %}</a></li>
        <li class="navbar-text-narrow">|</li>
            <li><a href="" class="list-controller navbar-time" data-control="time" data-target="month">{% trans "Month" %}</a></li>
        <li class="navbar-text-narrow">|</li>
            <li><a href="" class="list-controller navbar-time" data-control="time" data-target="year">{% trans "Year" %}</a></li>
        </ul>

    <ul class="nav navbar-nav navbar-right">
        <li class="navbar-icon"><span class="ch-icon ch-chart"></span></li>
        <li class="navbar-text">{% trans "Stats" %}</li>
        <span class="bs-navbar-soon">(soon)</span>
        </ul>

        <form class="navbar-form navbar-right" id="haystack-form" method="get" action="" role="search">
            <div class="form-group">
                <input type="text" name="haystack" id="haystack" class="form-control" placeholder="{% trans "Search" %}">
            </div>
            <a class="search-button"><span class="fa fa-search"></span></a>
        </form>
    </div>
</nav>
{% endblock %}

{% block content %}

    <div class="col-sm-8 content-container">
        
        <div id="idea-list-view"></div>
        
        {% comment %}<noscript>
            {% for idea in ideas %}
                {% include 'ideas/idea_basic.html' %}
            {% endfor %}
        </noscript>{% endcomment %}

        {% include 'locations/category-form.html' %}
        {% include 'ideas/idea-votes.html' %}
            
    </div>

    <div class="col-sm-8 no-entries" style="display:none;">
        <img src="/static/places_core/img/civilian.png" alt="{% trans "Sad Civilian" %}">
        <h2>
            {% trans "We didn't find any ideas" %} {% trans "in" %} {{ location.name }}.<br /> 
            {% trans "Please" %}
            {% if user.is_authenticated %}
                <a href="{% url 'locations:new_idea' location.slug %}" >
            {% else %}
                <a href="/users/login" >
            {% endif %}{% trans "add first idea" %}</a>.
        </h2>
    </div>

    <div class="col-sm-4">
        {% include 'locations/sidebar.html' %}
    </div>

{% endblock %}

{% block footer_scripts %}
    {% include 'ideas/ideas.html' %}
{% endblock %}
