{% load staticfiles i18n civil_tags cache %}
<nav id="location-navbar" class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-location-collapse-menu">
              <span class="sr-only">{% trans "Toggle navigation" %}</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
        <div class="collapse navbar-collapse" id="bs-location-collapse-menu">
            <ul class="nav navbar-nav">
                <li><a href="{{ location.get_absolute_url }}" id="tour-Summary" class="lhome">{% trans "Home" %}</a></li>
                <li><a href="{% url 'locations:news' location.slug %}" id="tour-Blog" class="lnews"></span>{% trans "News" %}</a></li>
                <li><a href="{% url 'locations:discussions' location.slug %}" id="tour-Discussions" class="ldiscussion">{% trans "Discussions" %}</a></li>
                <li><a href="{% url 'locations:ideas' location.slug %}" id="tour-Ideas" class="lideas">{% trans "Ideas" %}</a></li>
                <li><a href="{% url 'locations:polls' location.slug %}" id="tour-Polls" class="lpolls">{% trans "Polls" %}</a></li>
                <li><a href="{% url 'locations:project_list' location.slug %}" class="lprojects">{% trans "Projects" %}</a></li>
                <li><a href="{% url 'locations:gallery' location.slug %}" id="tour-Gallery" class="lgallery">{% trans "Gallery" %}</a></li>
                {% with location|content_type as ctype %}<li><a href="{% url 'maps:info' ctype.pk location.pk %}" class="lmap">{% trans "Map" %}</a></li>{% endwith %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'locations:followers' location.slug %}" id="tour-Followers" class="lfollowers">{% trans "Followers" %}</a></li>
                <li><a href="{% url 'locations:sublocations' location.slug %}" id="tour-Subspaces" class="lsubspaces">{% trans "Subspaces" %}</a></li>
            </ul>
        </div>
    </div>
</nav>