{% extends 'locations/index.html' %}
{% load staticfiles %}{% load i18n %}

{% block content %}
<!-- Main content -->
<div class="col-sm-9">
    <h1>{{ location.name }} {% trans "summary" %}</h1>
    <div>{{ location.description | safe }}</div>
    
    <h2>{% trans "Latest related actions" %}</h2>
    <ul class="last-related-actions">
    {% for action in actions %}
        <li>
            <a href="{% url 'user:profile' action.actor %}">{{ action.actor.get_full_name }}</a> {{ action.verb }}
            {% if action.action_object_content_type %}
                &nbsp;{{ action.action_object_content_type }}&nbsp;
            {% endif %}
            {% if action.action_object.get_absolute_url and action.action_object %}
                <a href="{{ action.action_object.get_absolute_url }}">{{ action.action_object }}</a>
            {% endif %}
            {% if not action.action_object_content_type %}
                <a href="{% url 'locations:details' location.slug %}">{{ location.name | capfirst }}</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</div>
<!-- Sidebar -->
<div class="col-sm-3">
    <ul class="sidebar-right">
    <h3 class="actions-label">{% trans "Actions" %}:</h3>
    <ul class="custom-sidebar-nav">
        {% if user.is_authenticated %}
            {% if not user in location.users.all %}
                <li><button data-location-id="{{ location.id }}" class="btn btn-success btn-follow-location">{% trans "Follow" %}</button></li>
            {% else %}
                <li><button data-location-id="{{ location.id }}" class="btn btn-danger btn-unfollow-location">{% trans "Stop following" %}</button></li>
            {% endif %}
        {% endif %}
    </ul>
</div>
<!-- Modal window -->
<div id="modal" class="modal fade"></div>
{% endblock %}

{% block footer_scripts %}
<script>window.API_URL = "{% url 'locations:invite' location.pk %}";</script>
<script src="{% static 'locations/js/location-follow.js' %}"></script>
<script src="{% static 'locations/js/invite.js' %}"></script>
{% endblock %}