{% extends 'places_core/base.html' %}
{% load staticfiles %}{% load i18n %}

{% block require_scripts %}

    <script>
    require.config({
        baseUrl: "{% static 'places_core' %}",
        
        urlArgs: "bust=" + (new Date()).getTime(),
        
        waitSeconds: 200,
        
        paths: {
            jquery: 'includes/jquery/jquery',
            bootstrap: 'includes/bootstrap/bootstrap',
            underscore: 'includes/underscore/underscore',
            backbone: 'includes/backbone/backbone',
            ui: 'js/ui/ui',
            utils: 'js/utils/utils',
            common: 'js/common',
            vector: 'includes/vectormap/jquery-jvectormap-1.2.2.min',
            worldmap: 'includes/vectormap/jquery-jvectormap-world-mill-en'
        },
        
        shim: {
            underscore: {
                deps: ['jquery'],
                exports: '_'
            },
            
            backbone: {
                deps: ['underscore'],
                exports: 'Backbone'
            },
            
            bootstrap: {
                deps: ['jquery']
            },
            
            vector: {
                deps: ['jquery']
            },
            
            worldmap: {
                deps: ['vector']
            }
        }
    });

    require(['jquery', 'vector', 'worldmap', 'common'], function ($) {
        
        $('#vector-map').vectorMap({
		map: 'world_mill_en', 
		
		backgroundColor: 'transparent',
		
		onRegionClick: function(event, code){

			//window.location.href='/warszawa/';
  
		},
		
		regionStyle: 
		{
		  initial: {
			fill: '#8D8D8D',
			"fill-opacity": 1,
			stroke: 'none',
			"stroke-width": 0,
			"stroke-opacity": 1
		  },
		  hover: {
			fill:	'#0082FC',
			"fill-opacity": 0.8
		  }
		}

	  });
        
        $(document).trigger('load');
        
    });
    </script>
    
{% endblock %}

{% block header %}{% endblock %}
{% block content %}
<div class="location-list-page">
	<h1 class="text-center">{% trans "Choose a country, which you love" %}</h1>
		<div id="vector-map"></div>

		<h2 class="text-center">{% trans "If you don't like maps, choose from list" %}</h2>
		{% if locations %}
		<div class="row location-list-stream">
			<div class="col-lg-2"></div>
			
			<div class="col-lg-8 main-content location-list-stream">
				{% comment %}
					{% for location in locations %}

						<div class="col-lg-4">
							<a href="{{ location.get_absolute_url }}">
							<span class="country-entry"> {{ location.name }} </span></a>
						</div>
						
					{% endfor %}
				{% endcomment %}
				
				<div class="col-lg-4 country-entry">
					<a href="/polska">
						<span>
						<img src="{% static 'places_core/img/flags/Poland-Flag-48.png' %}" />Polska
						</span>
					</a>
				</div>	
				
				<div class="col-lg-4 country-entry">
					<a href="/united-states">
						<span>
						<img src="{% static 'places_core/img/flags/United-States-Flag-48.png' %}" />United States
						</span>
					</a>
				</div>	
				
				<div class="col-lg-4 country-entry">
					<a href="/finland">
						<span>
						<img src="{% static 'places_core/img/flags/Finland-Flag-48.png' %}" />Finland
						</span>
					</a>
				</div>	
				
				<div class="col-lg-4 country-entry">
					<a href="/portugal">
						<span>
						<img src="{% static 'places_core/img/flags/Portugal-Flag-48.png' %}" />Portugal
						</span>
					</a>
				</div>	
				
				<div class="col-lg-4 country-entry">
					<a href="/germany">
						<span>
						<img src="{% static 'places_core/img/flags/Germany-Flag-48.png' %}" />Germany
						</span>
					</a>
				</div>	
				
				<div class="col-lg-4 country-entry">
					<a href="/france">
						<span>
						<img src="{% static 'places_core/img/flags/France-Flag-48.png' %}" />France
						</span>
					</a>
				</div>	
				
				<div class="col-lg-4 country-entry">
					<a href="/united-kingdom">
						<span>
						<img src="{% static 'places_core/img/flags/United-Kingdom-flag-48.png' %}" />United Kingdom
						</span>
					</a>
				</div>	
				 
				<div class="col-lg-4 country-entry">
					<a href="/">
						<span>
						<img src="{% static 'places_core/img/flags/-Flag-48.png' %}" />
						</span>
					</a>
				</div>

				

				
				

			</div>
		</div>
		{% endif %}

</div>

{% endblock %}