{% extends 'locations/index.html' %}
{% load staticfiles %}{% load i18n %}

{% block require_scripts %}
    <script src="{% static 'places_core' %}/includes/require/require.js"></script>
    <script>
    require.config({
        baseUrl: "{% static 'places_core' %}",
        
        urlArgs: "bust=" + (new Date()).getTime(),
        
        waitSeconds: 300,
        
        paths: {
            jquery: 'includes/jquery/jquery',
            bootstrap: 'includes/bootstrap/bootstrap',
            underscore: 'includes/underscore/underscore',
            backbone: 'includes/backbone/backbone',
            tagsinput: 'includes/jquery/jquery.tagsinput',
            ui: 'js/ui/ui',
            common: 'js/common',
            ckeditor: 'includes/ckeditor/ckeditor',
            dropzone: 'includes/dropzone/dropzone',
            mapinput: 'js/ui/jquery.mapinput',
            'async': 'includes/require/async',
            'bootstrap-switch': 'includes/bootstrap/bootstrap-switch',
            jqueryui: 'includes/jquery-ui/jquery-ui'
        },
        
        shim: {
            underscore: {
                deps: ['jquery'],
                exports: '_'
            },
            
            backbone: {
                deps: ['underscore'],
                exports: 'Backbone'
            },
            
            bootstrap: {
                deps: ['jquery']
            },
            
            tagsinput: {
                deps: ['jquery']
            },
            
            ckeditor: {
                exports: 'CKEDITOR'
            },
            
            mapinput: {
                deps: ['jquery']
            },
            
            jqueryui: {
                deps: ['jquery']
            }, 
            
            'bootstrap-switch': {
                deps: ['bootstrap']
            }
        }
    });

    require(['jquery',
             'js/locations/discussionForm',
			 'ui',
             'common',
			 'js/locations/follow'],

    function ($, DiscussionForm, ui) {
        
        var form = new DiscussionForm();
        
        $(document).trigger('load');
        
    });
    </script>

{% endblock %}

{% block content %}

    <div class="col-sm-9">
        <form action="" method="post" role="form" id="discussion-create-form">
            {% csrf_token %}
            {{ form }}
            <input type="text" id="id_latitude" name="latitude" />
            <input type="text" id="id_longitude" name="longitude" />
            <div class="form-group">
                <button type="submit" class="btn btn-primary save-btn">{% trans "Save" %}</button>
            </div>
        </form>
    </div>

    {% if user.is_authenticated %}{% include 'gallery/media-uploader.html' %}{% endif %}

    <div class="col-sm-3">
        {% include 'locations/sidebar.html' %}
    </div>
    
    {% comment %}<script>
        require(['/static/places_core/js/locations/discussionForm.js'],
        function(DiscussionForm) {
            var form = new DiscussionForm();
        });
    </script>{% endcomment %}

{% endblock %}