{% extends 'locations/index.html' %}{% load staticfiles i18n civil_tags %}

{% block require_scripts %}<script src="{% module_path 'location-followers' %}"></script>{% endblock %}

{% block navigation_location %}<div class="location-page-followers">{% include 'locations/location-navbar.html' %}</div>{% endblock %}

{% block content %}<div class="col-sm-12">
  <div class="followers-entry">
    <h1>{% trans "People" %}</h1>
    <h2>{% blocktrans %}People who follow this place{% endblocktrans %}</h2>
    <form id="f-order-form" action="" method="get">
      {{ filter_form|safe }}
    </form>
    <div class="row">{% for usr in followers %}
      <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="follower">
          <div class="follower-header">
            <a href="{{ usr.profile.get_absolute_url }}">
              <div class="follower-background"><img alt="{{ usr.get_full_name }}" src="{{ usr.profile.thumb_url }}"></div>
              <div class="follower-photo"><img alt="{{ usr.get_full_name }}" src="{{ usr.profile.avatar.url }}"></div>
            </a>
          </div>
          <div class="follower-info">
            <p class="follower-name"><a href="{{ usr.profile.get_absolute_url }}">{{ usr.get_full_name }}</a></p>
            <div class="points"><span class="points-count">{{ usr.profile.rank_pts }}</span> pkt</div>
          </div>
        </div>
      </div>
    {% endfor %}</div>
    {% if navigation %}<ul class="pagination">
      {% if followers.has_previous %}<li><a href="?page=1">&laquo;</a></li><li><a href="?page={{ followers.previous_page_number }}">{% trans "previous" %}</a></li>{% endif %}
      {% for page in followers.paginator.page_range %}<li{% if page == followers.number %} class="active"{% endif %}><a href="?page={{ page }}">{{ page }}</a></li>{% endfor %}
      {% if followers.has_next %}<li><a href="?page={{ followers.next_page_number }}">{% trans "next" %}</a></li><li><a href="?page={{ followers.paginator.num_pages }}">&raquo;</a></li>{% endif %}
    </ul>{% endif %}
  </div>
</div>

<!-- Modal form to choose badge for user. -->
<div id="select-badge-form" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{% trans "Select badge for user" %}</h4>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
        <button type="button" class="btn btn-primary submit-btn">{% trans "Select" %}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/tamplate" id="badge-tpl">
<div class="col-sm-2">
  <img src="<%= thumbnail %>" alt="<%= name %>" />
</div>
<p class="col-sm-10"><b><%= name %></b><br /><%= description %></p>
</script>{% endblock %}
