{% extends 'locations/index.html' %}
{% load staticfiles %} {% load i18n %}

{% block require_scripts %}

    <script>
    require.config({
        baseUrl: "{% static 'places_core' %}",
        
        urlArgs: "bust=" + (new Date()).getTime(),
        
        waitSeconds: 200,
        
        paths: {
            jquery: 'includes/jquery/jquery',
            bootstrap: 'includes/bootstrap/bootstrap',
            underscore: 'includes/underscore/underscore',
            backbone: 'includes/backbone/backbone',
            tagsinput: 'includes/jquery/jquery.tagsinput',
            ui: 'js/ui/ui',
            common: 'js/common',
            ckeditor: 'includes/ckeditor/ckeditor',
            dropzone: 'includes/dropzone/dropzone',
            jqueryui: 'includes/jquery-ui/jquery-ui'
        },
        
        shim: {
            underscore: {
                deps: ['jquery'],
                exports: '_'
            },
            
            backbone: {
                deps: ['underscore'],
                exports: 'Backbone'
            },
            
            bootstrap: {
                deps: ['jquery']
            },
            
            bootbox: {
                deps: ['bootstrap'],
                exports: 'bootbox'
            },
            
            tagsinput: {
                deps: ['jquery']
            },
            
            ckeditor: {
                exports: 'CKEDITOR'
            },
            
            dropzone: {
                exports: 'Dropzone'
            },
            
            jqueryui: {
                deps: ['jquery']
            }
        }
    });

    require(['jquery',
             'js/locations/newsForm',
             'ui',
             'common',
             'js/locations/follow',
             'js/blog/category-creator'],

    function ($, NewsForm, ui) {
        
        var form = new NewsForm();
        
        $(document).trigger('load');
        
    });
    </script>

{% endblock %}

{% block content %}

    <div class="col-sm-9">
        <form role="form" method="post" action="" id="news-create-form">
            {% csrf_token %}
            {{ form }}
            <div class="form-group">
                <button type="button" class="btn btn-default cancel-btn">{% trans "Cancel" %}</button>
                <button type="submit" class="btn btn-primary submit-btn">{% trans "Save" %}</button>
            </div>
        </form>
    </div>
    
    <div class="col-sm-3">
        {% include 'locations/sidebar.html' %}
    </div>
    
    {% if user.is_authenticated %}
        {% include 'gallery/media-uploader.html' %}
        {% if user.is_superuser %}
            {% include 'locations/category-form.html' %}
        {% endif %}
    {% endif %}
    
{% endblock %}