{% extends 'locations/index.html' %}
{% load staticfiles %}{% load i18n %}

{% comment %}
    Formularz do tworzenia nowych idei.
{% endcomment %}

{% block content %}

    <div class="col-sm-9">
        <form role="form" method="post" action="{% url 'locations:new_idea' location.slug %}" id="idea-create-form">
            {% csrf_token %}
            {{ form }}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
            </div>
        </form>
    </div>
    
    {% include 'locations/sidebar.html' %}
    
    {% include 'gallery/media-uploader.html' %}
    
    <script>
    require(['/static/places_core/js/locations/ideaForm.js'],
    function (IdeaForm) {
        "use strict";
        var form = new IdeaForm();
    });
    </script>
    
{% endblock %}