{% extends 'places_core/base.html' %}
{% load staticfiles %}

{% block content %}
    <form action="" method="post" role="form">
        {% csrf_token %}
        {{ form }}
        <div class="form-group">
            <button type="submit" class="btn btn-primary save-btn">Save</button>
        </div>
    </form>
{% endblock %}

{% block footer_scripts %}
<script src="{% static 'places_core/includes/ckeditor/ckeditor.js' %}"></script>
<script>
(function ($) {
    "use strict";
    CKEDITOR.replace('id_intro')
})(jQuery);
</script>
{% endblock %}