{% extends 'locations/index.html' %}
{% load staticfiles %}{% load i18n %}

{% comment %}
    Formularz do tworzenia nowych idei.
{% endcomment %}

{% block require_scripts %}

    <script>
    require.config({
        baseUrl: "{% static 'places_core' %}",
        
        urlArgs: "bust=" + (new Date()).getTime(),
        
        waitSeconds: 300,
        
        paths: {
            jquery: 'includes/jquery/jquery',
            bootstrap: 'includes/bootstrap/bootstrap',
            underscore: 'includes/underscore/underscore',
            backbone: 'includes/backbone/backbone',
            tagsinput: 'includes/jquery/jquery.tagsinput',
            ui: 'js/ui/ui',
            common: 'js/common',
            ckeditor: 'includes/ckeditor/ckeditor',
            dropzone: 'includes/dropzone/dropzone',
            jqueryui: 'includes/jquery-ui/jquery-ui',
            dropzone: 'includes/dropzone/dropzone'
        },
        
        shim: {
            underscore: {
                deps: ['jquery'],
                exports: '_'
            },
            
            backbone: {
                deps: ['underscore'],
                exports: 'Backbone'
            },
            
            bootstrap: {
                deps: ['jquery']
            },
            
            tagsinput: {
                deps: ['jquery']
            },
            
            ckeditor: {
                exports: 'CKEDITOR'
            },
            
            jqueryui: {
                deps: ['jquery']
            },
            
            dropzone: {
                deps: ['jquery'],
                exports: 'Dropzone'
            }
        }
    });

    require(['jquery',
             'js/locations/ideaForm',
			 'ui',
             'common',
			 'js/locations/follow'],

    function ($, IdeaForm, ui) {
        
        var form = new IdeaForm();
        
        $(document).trigger('load');
        
    });
    </script>

{% endblock %}

{% block content %}

    <div class="col-sm-9">
        <form role="form" method="post" action="{% url 'locations:new_idea' location.slug %}" id="idea-create-form">
            {% csrf_token %}
            {{ form }}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
            </div>
        </form>
    </div>
    
    <div class="col-sm-3">
        {% include 'locations/sidebar.html' %}
    </div>
    
    {% include 'gallery/media-uploader.html' %}
    
    <script>
    require(['/static/places_core/js/locations/ideaForm.js'],
    function (IdeaForm) {
        "use strict";
        var form = new IdeaForm();
    });
    </script>
    
{% endblock %}