{% extends 'locations/index.html' %}
{% load staticfiles %}

{% block content %}
<form role="form" method="post" action="">
    {% csrf_token %}
    {{ form }}
    <div class="form-group">
        <button type="button" class="btn btn-default cancel-btn">Cancel</button>
        <button type="submit" class="btn btn-primary submit-btn">Save</button>
    </div>
</form>
{% endblock %}

{% block footer_scripts %}
<script src="{% static 'places_core/includes/ckeditor/ckeditor.js' %}"></script>
<script src="{% static 'places_core/includes/jquery/jquery-tags-input/jquery.tagsinput.js' %}"></script>
<script>
(function ($) {
    "use strict";
    CKEDITOR.replace('id_content');
    $('#id_tags').tagsInput({
        autocomplete_url: '/rest/tags/',
    });
})(jQuery);
</script>
{% endblock %}