{% extends 'locations/index.html' %}
{% load staticfiles %}

{% block title%}{{ location.name }}:Ideas{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <p><a href="{% url 'locations:new_idea' location.slug %}"><button class="btn btn-success">New idea</button></a></p>
    {% endif %}
    {% for idea in location.idea_set.all %}
        {% include 'ideas/idea_basic.html' %}
    {% endfor %}
{% endblock %}

{% block footer_scripts %}
<script src="{% static 'ideas/js/votes.js' %}"></script>
{% endblock %}