{% load staticfiles %}{% load i18n %}
{% comment %}
    Uniwersalny widok dla sidebara, dołączany do każdej templatki w ramach
    widoku lokalizacji (forum, dyskusje, etc.). Opcje wypełniane są przez
    kontroler, tutaj sprawdzamy, jakie linki są dostępne i wyświetlamy tylko
    te.
{% endcomment %}

    <div class="sidebar">
        <div class="sidebar-label">{% trans "Actions" %}:</div>
        <ul class="sidebar-content custom-sidebar-nav">  
            {% if user.is_authenticated %}                 
            {% if 'new_discussion' in links %}<li>
                <a href="{% url 'locations:new_topic' location.slug %}">
                    <span class="ch-icon ch-discussions"> </span> {% trans "New discussion" %}
                </a>
            </li>{% endif %}
            {% if 'new_poll' in links %}<li>
                <a href="{% url 'locations:new_poll' location.slug %}">
                    <span class="ch-icon ch-polls"> </span> {% trans "Create poll" %}
                </a>
            </li>{% endif %}
            {% if 'new_location' in links %}<li>
                <a href="{% url 'locations:news_create' location.slug %}">
                    <span class="ch-icon ch-blog"> </span> {% trans "Add news" %}
                </a>
            </li>{% endif %}
            {% if 'new_idea' in links %}<li>
                <a href="{% url 'locations:new_idea' location.slug %}">
                    <span class="ch-icon ch-ideas"> </span> {% trans "New idea" %}</button>
                </a>
            </li>{% endif %}
            {% if 'upload' in links %}<li>
                <a href="#"> <span class="ch-icon ch-photos"> </span> Upload Images </a>
            </li>{% endif %}
            {% if 'invite' in links %}<li>
                <a href="#" id="invite-people-toggle" title="{% trans "Invite people to browse this content" %}"><span class="ch-icon ch-followers"> </span>{% trans "Invite people" %}</a>
            </li>{% endif %}
            {% if 'add_news' in links %}<li>
                <a href="{% url 'locations:news_create' location.slug %}">
                    <span class="ch-icon"> </span> {% trans "Add news" %}
                </a>
            </li>{% endif %}
            {% if 'news_category' in links %}{% if user.is_superuser or is_moderator %}<li>
                <a href="{% url 'blog:newcategory' %}" class="btn-category-create">
                    <span class="ch-icon"> </span> {% trans "Add news category" %}
                </a>
            </li>{% endif %}{% endif %}
            {% if 'idea_category' in links and user.is_superuser %}<li>
                <a href="{% url 'ideas:new_category' %}" class="new-category-btn">
                    <span class="ch-icon"> </span> {% trans "New category" %}
                </a>
            </li>{% endif %}
            {% if 'discussion_category' in links and user.is_superuser %}<li>
                <a href="#" class="new-category-btn">
                    <span class="ch-icon"> </span> {% trans "New forum category" %}
                </a>
            </li>{% endif %}
            {% endif %}
        </ul>
	
    <div class="followers-sidebar">
        <div class="sidebar-label">{% trans "Most active users" %}:</div>
		<div class="sidebar-content followers-box">
			{% for usr in location.users.all %}
			<div class="follower">
				<a class="custom-tooltip" href="{% url 'user:profile' usr.username %}" title data-target=1 data-original-title="{{ usr.get_full_name }}">
				<img alt="{{ usr.get_full_name }}" src="{{ usr.profile.thumbnail_small }}">
				</a>
			</div>
			{% endfor %}
		</div>
    </div>
	
	<div class="clear"></div>

    {% if tags %}
	<div class="sidebar-label">{% trans "Tags" %}:</div>
    <div class="sidebar-content tags">
        <ul>
        {% for tag, counter in tags %}
            <li class="tag-entry" data-counter="{{ counter }}"><a href="{% url 'locations:tag_search' slug=location.slug tag=tag %}">{{ tag }}</a></li>
        {% endfor %}
        </ul>
    </div>

    {% endif %}
	
    </div>


{% if user.is_authenticated %}
    {% comment %}
        Link, który pozwala wysyłać masowe wiadomości z zaproszeniem do przeglądania bieżącej strony.
    {% endcomment %}
    
    {% include 'civmail/invite-users.html' %}
    
{% endif %}
