{% extends 'locations/index.html' %}{% load staticfiles i18n actstream_tags %}

{% block title %}{% trans "Sublocations" %} - {{ location.name }} - Civilhub.org {% endblock %}
{% block description %}<meta name="description" content="{% trans "List of all sublocations that are inside current location." %}. {% trans "Act not only globally, but also on local community like small city, blocks of flats or estates." %}" />{% endblock %}
{% block meta %}<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="CivilHub">
<meta name="twitter:title" content="{{ title }}">
<meta property="og:title" content="{{ title }}"/>
<meta property="og:image" content="https://civilhub.org{{ location.background_url }}"/>
<meta property="og:site_name" content="CivilHub"/>
<meta property="og:url" content="https://civilhub.org/{{ location.slug }}/sublocations/" />
<meta property="og:description" content="{% trans "List of all sublocations that are inside current location." %}. {% trans "Act not only globally, but also on local community like small city, blocks of flats or estates." %}"/>
<meta name="keywords" content="{{ title }}">{% endblock %}

{% block navigation_location %}<div class="location-page-subspaces">{% include 'locations/location-navbar.html' %}</div>{% endblock %}
{% block content %}<div class="container sublocations">
  <h1>{% trans "Sublocations" %}</h1>
  <h2>{% blocktrans %}List of all sublocations that are inside current location.{% endblocktrans %}<br/>
      {% blocktrans %}Act not only globally, but also on local community like small city, blocks of flats or estates.{% endblocktrans %}</h2>
  <div class="row">
  {% for sublocation in sublocations %}
    <div class="col-sm-4 col-md-3">
      <div class="sublocation">
        <img src="{{ sublocation.thumb_url }}" />
        <div class="sublocation-content">
          <a href="{{ sublocation.get_absolute_url }}"><b>{{ sublocation.name }}</b></a>
        </div>
      {% follow_button sublocation %}
      <div class="followers sprite-icon"><span class="ch-icon ch-followers"></span> {{ sublocation.users.count }}</div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
{% if sublocations|length > 5 %}<ul class="pagination">
    {% if sublocations.has_previous %}
      <li><a href="?page=1">&laquo;</a></li>
      <li><a href="?page={{ sublocations.previous_page_number }}">{% trans "previous" %}</a></li>
    {% endif %}
    {% for page in sublocations.paginator.page_range %}
      <li{% if page == sublocations.number %} class="active"{% endif %}><a href="?page={{ page }}">{{ page }}</a></li>
    {% endfor %}
    {% if sublocations.has_next %}
      <li><a href="?page={{ sublocations.next_page_number }}">{% trans "next" %}</a></li>
      <li><a href="?page={{ sublocations.paginator.num_pages }}">&raquo;</a></li>
    {% endif %}
</ul>{% endif %}
</div>{% endblock %}
