{% extends 'locations/index.html' %}
{% load staticfiles %}{% load i18n civil_tags %}

{% block content %}
<div class="col-sm-9 main-content contentPX tags-Box-Search">
    <div class="row">
    {% for item in items %}{% with item|content_type as ctype %}<div class="col-sm-4 locBoxH">
    <div class="locBox loc-box-{{ ctype.name }}">
    <div class="locBoxHeader" style="background-image:url({{ item.image.url }})">
        <div class="locBoxLoc"><a href="{{ location.get_absolute_url }}">{{ location }}</a></div>
        <div class="locBoxIcon">
            <div class="locBoxBookmark"> 
                {% comment %}<a href="#" class="custom-tooltip-right btn-add-bookmark btn-bookmark" title="" data-original-title="Dodaj do zakładek"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-bookmark-o fa-stack-1x fa-inverse"></i></span></a>
                <a href="#" class="custom-tooltip-right btn-remove-bookmark btn-bookmark" title="" style="display: none;" data-original-title="Usuń zakładkę"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-bookmark-o fa-stack-1x fa-inverse"></i></span></a> {% endcomment %}
            </div>
        </div>
        <div class="locBoxContainer">
            <div class="locBoxAuthor">
                <a href="{{ item.creator.profile.get_absolute_url }}">
                    <img src="{{ item.creator.profile.avatar.url }}" alt="{{ item.creator }}" class="user-avatar avatarH ">
                </a>
            </div>
            <div class="locBoxTitle">
               <a href="{{ item.get_absolute_url }}">{{ item }}</a>
            </div>
        </div>
    </div>

    <div class="locBoxCat"><a href="{{ item.get_absolute_url }}">{{ ctype }}</a></div>

    <div class="locBoxBody"><a href="{{ item.get_absolute_url }}">{{ item.description | safe |truncatechars:115 }} {{ item.question | safe |truncatechars:115 }} {{ item.content | safe |truncatechars:115 }}</a></div>

</div><!-- /.locBox -->
</div>{% endwith %}{% endfor %}
  </div>
</div>
{% endblock %}

{% block sidebar %}
<div class="col-sm-3 boxPX">
    <div class="sidebar">
        <div class="sidebar-label">{% trans "Tags" %}:</div>
        <div class="sidebar-content tags">
            <ul>
            {% for tag, counter in tags %}
                <li class="tag-entry" data-counter="{{ counter }}"><a href="{% url 'locations:tag_search' slug=location.slug tag=tag|slugify %}">{{ tag }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}