{% extends 'locations/index.html' %}
{% load staticfiles i18n civil_tags %}

{% block content %}
<div class="col-sm-9 main-content contentPX">
    <ul>
    {% for item in items %}
        {% with item|content_type as ctype %}<li>
            <a href="{{ item.get_absolute_url }}">{{ item }}</a>
        </li>{% endwith %}
    {% endfor %}
    </ul>
</div>
{% endblock %}

{% block sidebar %}
<div class="col-sm-3 boxPX">
    <div class="sidebar">
        <div class="sidebar-content tags">
            <ul>
            {% for tag, counter in tags %}
                <li class="tag-entry" data-counter="{{ counter }}"><a href="{% url 'locations:tag_search' slug=location.slug tag=tag|slugify %}">{{ tag }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}