body {
  font-family: "Open Sans Condensed";
  padding-top: 60px;
}
.custom-booklike {
  text-align:justify;
  &:first-letter {
    font-weight: bold;
    font-size: 120%;
    margin: 0px 1px 0px 2px;
  }
}
.custom-copyrights {
  text-align: center;
  font-style: italic;
}
.custom-logolike {
  display: block;
  float: right;
}
.custom-centered {
  margin: 0px auto;
  text-align: center;
}
.btn-login-submit {
  float: right;
  margin: 15px 15px 0px 0px;
}
.user-thumb {
  max-width: 100%;
  width: 90px;
  height: 90px;
  margin: 5px;
}
