{% extends 'locations/index.html' %}{% load i18n %}
{% block navigation_location %}<div class="location-page-guide">{% include 'locations/location-navbar.html' %}</div>{% endblock %}
{% block content %}<div class="main-content create-form newFormCreate"><h3>{% trans "Add editors" %} {% trans "for" %} {{ object }}</h3>
<p>{% trans "Owned by" %} {{ object.owner.profile }}</p>
<ul>{% for editor in object.editors.all %}
  <li>
    <a href="{{ editor.profile.get_absolute_url }}">{{ editor.profile }}</a>
    {% if guide_access %}<form action="{% url 'guides:delete-editor' object.slug %}" method="post" class="custom-inline-form">{% csrf_token %}
      <input type="hidden" name="user_id" id="id_user_id" value="{{ editor.pk }}">
      <button type="submit" class="text-danger">{% trans "Delete" %}</button>
    </form>{% endif %}
  </li>
{% endfor %}</ul>
{% if guide_access %}<form action="" method="post">{% csrf_token %}
  {{ form.as_p }}

    <div class="text-right"><button type="submit" class="btn-greenBig">{% trans "Invite users" %}</button></div>

</form></div>{% endif %}{% endblock %}
