{% extends 'locations/index.html' %}{% load i18n %}
{% block content %}
<div class="col-sm-12 main-content">
<div class="guides-category c_usd"><h2 class="mt0 mb0 text-center">{{ title }} {{ filter_object }}</h2>
    <div class="icon c_usd"><span class="fa fa-usd"></span></div>
  </div>
  <div class="mb20 clearfix text-center"><h4>{{ filter_object.description }}</h4></div>
  <div class="container-fluid p-reset">
    {% for guide in object_list %}
    <div class="col-sm-12 main-content p-reset">
      <div class="container-fluid p-reset">
        <div class="col-sm-8 br_usd">
          <h3 class="mt0"><strong><a href="{{ guide.get_absolute_url }}">{{ guide }}</a></strong></h3>
          <div>{{ guide.content|safe|truncatechars:"200"|striptags }}</div>
        </div>
        <div class="col-sm-2 col-md-3">
          {% for tag in guide.tags.all %}
            <a href="{% url 'guides:list-filter-tag' guide.location.slug tag.pk %}">#{{ tag }}</a>
          {% endfor %}
        </div>
        <div class="guides-by-category c_usd">
          <div class="small_icon c_usd text-center"><a href="{{ guide.get_absolute_url }}"><span class="fa fa-arrow-right"></span></a></div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
