{% extends 'locations/index.html' %}{% load i18n %}
{% block content %}
{% comment %}Category list
    {% for l in location_set %}
    <h2>{{ l }}</h2>
    <ul>{% for guide in l.guides.all %}
      {% if guide.status == 2 %}<li><a href="{{ guide.get_absolute_url }}">{{ guide }}</a></li>{% endif %}
     {{ guide.category }}
    {% endfor %}</ul>{% endfor %}
{% endcomment %}


{% for l in location_set %}<div class="row">
  {% for guide in l.guides.all %}
  <div class="col-sm-4">
    <div class="main-content">
      <div class="guides-category {% if guide.category.pk < 5 %}c_c-{{ guide.category.pk }}{% else %}c_c-pk{% endif %} small">
        <div class="icon {% if guide.category.pk < 5 %}c_c-{{ guide.category.pk }}{% else %}c_c-pk{% endif %}"><span class="fa"></span></div>
      </div>
      <h4><strong><a href="{% url 'guides:list-filter-category' guide.location.slug guide.category.pk %}">{{ guide.category }}</a></strong></h4>
      <div class="acticle-content">{{ guide.category.description|safe|truncatechars:123 }}</div>
    </div><!--main-->
  </div><!--4-->
  {% endfor %}
</div>{% endfor %}
{% endblock %}
