<img src="<%= author.profile.avatar %>" alt="<%= author.full_name %>" class="pull-left ac-hot-user">
<span class="pull-right custom-tooltip-right fa fa-calendar" title="<%= date_created %>"></span>
<div class="ac-hot-box-title">
  <p><a href="<%= url %>"><%= title %></a></p>
  <span class="ac-hot-box-location"><%= location.name %></span><span class="bg-color-<%= content_type.type %> ac-hot-box-category"><%= content_type.name %></span>
</div>
<div class="ac-hot-box-content"><p><a href="<%= url %>"><%= description %></a></p></div>
