{% extends 'locations/index.html' %}
{% load staticfiles %}

{% block content %}
    <h3><a href="{{ idea.get_absolute_url }}">{{ idea.name }}</a> <small>Created {{ idea.date_created }} by {{ idea.creator }}</small></h3>
    {% if idea.creator == user %}
        <p><a href="{% url 'ideas:update' idea.slug %}">Edit</a></p>
    {% endif %}
    <div class="idea-votes">
        <div class="votes">{{ idea.get_votes }}</div>
        {% if user.is_authenticated %}
            <button data-target-id="{{ idea.pk }}" data-vote="up" class="vote-btn btn btn-default">+</button>
            <button data-target-id="{{ idea.pk }}" data-vote="down" class="vote-btn btn btn-default">-</button>
        {% endif %}
    </div>
    <div>
        <a class="report-abuse-link" href="{% url 'reports:report' app_label='ideas' model_label='idea' object_pk=idea.pk %}">Report abuse</a>
    </div>
    <div>{{ idea.description | safe }}</div>
    <div class="post-meta">
        <p>Created by {{ idea.creator }} | {{ idea.date_created }}</p>
        {% if idea.edited %}<p>Last time edited: {{ idea.date_edited }}</p>{% endif %}
        <p>Status: {{ idea.status }}</p>
    </div>
    <p>Tags:</p>
    <ul>
        {% for tag in idea.tags.all %}
        <li>{{ tag }}</li>
        {% endfor %}
    </ul>
    <div>
        <p>
            Comments: <span class="badge comment-count">{{ idea.comments }}</span>
            <a class="comment-toggle" data-target="{{ idea.pk }}" href="#">Hide comments</a>
        </p>
    </div>
    <input type="hidden" id="target-id" value="{{ idea.pk }}" />
    <input type="hidden" id="target-label" value="ideas" />
    <input type="hidden" id="target-type" value="{{ idea.content_type }}" />
    <input type="hidden" id="target-user" value="{{ user.username }}" />
    <input type="hidden" id="target-avatar" value="{{ user.profile.avatar.url }}" />
    {% include 'comments/commentlist.html' %}
{% endblock %}

{% block footer_scripts %}
<script src="{% static 'ideas/js/votes.js' %}"></script>
{% endblock %}