<div class="row idea-entry">
    <div class="idea-votes col-sm-2">
        <div class="votes">{{ idea.get_votes }}</div>
        <div class="vote-controls">
            {% if user.is_authenticated %}
                <button data-target-id="{{ idea.pk }}" data-vote="up" class="vote-btn">+</button>
                <button data-target-id="{{ idea.pk }}" data-vote="down" class="vote-btn">-</button>
            {% else %}
                <div class="button-vote-placeholder"></div>
            {% endif %}
        </div>
        <div class="clear">&nbsp;</div>
        <div class="idea-summary">
            <div class="idea-status-state">
                {% if idea.status %}
                    <label class="label label-success">Active</label>
                {% else %}
                    <label class="label label-danger">Inactive</label>
                {% endif %}
            </div>
            <div class="idea-vote-count">{{ idea.vote_set.all.count }} votes</div>
        </div>
    </div>
    <div class="col-sm-10">
        <h3><a href="{% url 'locations:idea_detail' place_slug=idea.location.slug slug=idea.slug %}">{{ idea.name }}</a></h3>
        <p>
            Created {{ idea.date_created }} by <a href="{% url 'user:profile' idea.creator.username %}">{{ idea.creator.get_full_name }}</a>
            - Last edited {{ idea.date_edited }}
        </p>
        {% if idea.creator == user %}
            <p><a href="{% url 'ideas:update' idea.slug %}">Edit</a></p>
        {% endif %}
        <div>{{ idea.description | safe | truncatewords_html:50 }}</div>
        <div class="row">
            <div class="col-sm-3">
                <a href="{{ idea.slug }}#comments"><span class="fa fa-comments"> </span> {{ idea.get_comment_count }} comments</a>
            </div>
            <div class="col-sm-9">
                <span class="fa fa-tags"> </span> Tags: {% for tag in idea.tags.all %}<a href="#">{{tag.name}}</a>, {% endfor %}
            </div>
        </div>
    </div>
</div>