{% extends 'locations/index.html' %}
{% load staticfiles %}{% load i18n %}

{% comment %}
    Ten formularz jest wykorzystywany przy edycji (nie tworzeniu!) idei.
{% endcomment %}

{% block title %}{{ title | capfirst }}{% endblock %}


{% block extra_styles %}

    <link rel="stylesheet" href="{% static 'places_core/includes/jquery/jquery-tags-input/jquery.tagsinput.css' %}" />
    
{% endblock %}


{% block content %}

    <div class="col-sm-9">
        {% if action == 'update' %}
            <form role="form" method="post" action="{% url 'ideas:update' idea.slug %}">
        {% else %}
            <form role="form" method="post" action="{% url 'ideas:create' %}">
        {% endif %}
        
            {% csrf_token %}
            {{ form }}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
            </div>
        </form>
    </div>
    
    {% include 'locations/sidebar.html' %}
    
    {% include 'gallery/media-uploader.html' %}
    
{% endblock %}


{% block footer_scripts %}

    <script src="{% static 'places_core/includes/ckeditor/ckeditor.js' %}"></script>
    <script src="{% static 'gallery/js/media-uploader.js' %}"></script>
    <script src="{% static 'places_core/includes/jquery/jquery-tags-input/jquery.tagsinput.js' %}"></script>
    <script>
    (function ($) {
        "use strict";
        $('#id_description').customCKEditor();
        $('#id_tags').tagsInput({
            autocomplete_url: '/rest/tags/',
        });
    })(jQuery);
    </script>

{% endblock %}