{% extends 'locations/index.html' %}{% load staticfiles i18n civil_tags idea_tags %}
{% block title %}{{ location }} {% trans "Ideas" %} - Civilhub.org {% endblock %}
{% block require_scripts %}<script src="{% module_path 'idea-list' %}"></script>{% endblock %}
{% block navigation_location %}<div class="location-page-ideas">{% include 'locations/location-navbar.html' %}</div>{% endblock %}
{% block content %}{% include 'ideas/navbar.html' %}
{% if object_list %}<div class="col-sm-9 content-container contentPX main-content">
  <div id="idea-list-view">
    {% for idea in object_list %}<div class="row idea-entry">
      <div class="idea-votes col-sm-3" id="tour-votes">
        <div class="vote-form">
          <div class="votes counterup">{{ idea.votes_up }}</div>
          <div class="vote-controls">
            <button data-target-id="{{ idea.pk }}" data-vote="{% if voted_up %}revoke{% else %}up{% endif %}" class="vote-btn vote-btn-active custom-tooltip-right fake-arrow aup" title="{% trans "Good Idea, Vote YES" %}"></button>
            <button data-target-id="{{ idea.pk }}" data-vote="{% if voted_no %}revoke{% else %}down{% endif %}" class="vote-btn vote-btn-active custom-tooltip-right fake-arrow adown" title="{% trans "Bad Idea, Vote No" %}"></button>
          </div>
        </div>
        <div class="clear">&nbsp;</div>
        <div class="idea-summary">
          <div class="idea-status-state">
            {% if idea.status %}<label class="label label-success custom-tooltip-right" title="{% trans "Status" %}">{{ idea.get_status_display|capfirst }}</label>
            {% else %}<label class="label label-danger custom-tooltip-right" title="{% trans "Status" %}">{% trans "Inactive" %}</label>{% endif %}
          </div>
          <div class="idea-vote-count custom-tooltip-right" title="{% trans "Summary" %}" data-target="{{ idea.pk }}">{{ idea.vote_set.count }} {% trans "votes" %}</div>
        </div>
      </div>
      <div class="col-sm-9">
        <h3 class="allHeadingThree"><a href="{{ idea.get_absolute_url }}">{{ idea }}</a></h3>
        <p class="createBY">
          {% trans "Created by" %}<a href="{{ idea.creator.profile.get_absolute_url }}">
          <span class="user-window-toggle" data-target="{{ idea.creator.pk }}">{{ idea.creator.profile }}</span></a>
          <span class="date-created">{{ idea.date_created|timesince }}</span>
        </p>
        <div class="idea-summary acticle-content clearfix">{{ idea.get_description|safe }}</div>
        <a class="full-link" href="{{ idea.get_absolute_url }}">{% trans "See full version" %}</a>
      </div>
    </div>{% endfor %}
  </div>
  {% include 'places_core/pagination.html' %}
</div>{% else %}<div class="col-sm-9 no-entries contentPX">
  <img src="/static/places_core/img/civilian.png" alt="{% trans "Sad Civilian" %}">
  <h2>
    {% trans "We didn't find any ideas" %} {% trans "in" %} {{ location }}.<br />
    {% trans "Please" %}{% if user.is_authenticated %}<a href="{% url 'locations:new_idea' location.slug %}" >
    {% else %}<a href="/users/login" >{% endif %}{% trans "add first idea" %}</a>.
  </h2>
</div>{% endif %}
<div class="col-sm-3 boxPX">{% include 'locations/sidebar.html' %}</div>{% endblock %}
