{% extends 'locations/index.html' %}{% load staticfiles civil_tags i18n bookmark_tags comment_tags map_tags counters idea_tags simpleblog_tags %}
{% block title %} {{ idea.name }}, {{ location }} - Civilhub.org {% endblock %}
{% block description %}<meta name="description" content="{{ idea.description|striptags|slice:":153"}}..." />{% endblock %}
{% block meta %}
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="CivilHub">
<meta name="twitter:title" content="{{ title }}">
<meta property="og:title" content="{{ idea.name }}, {{ location.name }}"/>
<meta property="og:image" content="https://civilhub.org{{ idea.image.url }}"/>
<meta property="og:url" content="https://civilhub.org{{ idea.get_absolute_url }}" />
<meta property="og:site_name" content="CivilHub"/>
<meta property="article:author" content="https://civilhub.org{{ idea.creator.profile.get_absolute_url }}" />
<meta property="og:description" content="{{ idea.description|striptags|slice:":153" }}..." />
<meta name="keywords" content="{{ idea.name }}, {{ idea.location }}, {% for tag in idea.tags.all %}{{ tag.name }}, {% endfor %}">
{% for tag in idea.tags.all %}<meta property="article:tag" content="{{ tag }}">{% endfor %}
<meta property="article:published_time" content="{{ idea.date_created|date:"c" }}">
{% if idea.date_edited %}<meta property="article:modified_time" content="{{ idea.date_edited|date:"c" }}">{% endif %}{% endblock %}
{% block require_scripts %}{% get_map_pointers idea as MARKERS %}{% include 'maps/minimap.html' %}
<script>window.commentListSize = {% page_size %};</script>
<script src="{% static 'places_core' %}/js/{% js_path %}/idea-detail.js"></script>{% endblock %}

{% if experiment %}{% comment %}  Extra script for Google Experiment goes here... {% endcomment %}{% endif %}

{% block navigation_location %}<div class="location-page-ideas">{% include 'locations/location-navbar.html' %}</div>{% endblock %}
{% block content %}{% with idea as content_object %}{% include 'locations/contentobject_css.html' %}{% endwith %}

<div class="col-sm-12 main-content">
 {% if user.is_authenticated %}<p><span class="submenu-toggle mt0"> </span></p>{% endif %}
  <div class="entry-submenu">
    <ul>{% with idea|content_type as ctype %}
      {% get_map_pointers idea as MARKERS %}{% if MARKERS.count %}<li><a href="{% url 'maps:info' ctype.pk idea.pk %}">{% trans "Show on map" %}</a></li>{% endif %}
      {% if user.is_superuser or user == idea.creator or is_moderator %}<li><a href="#" data-ct="{{ ctype.pk }}" data-id="{{ idea.pk }}" class="map-marker-toggle">{% trans "Add map marker" %}</a></li>
      <li><a href="{% url 'ideas:update' idea.slug %}">{% trans "Edit" %}</a></li>{% endif %}
      {% if user.is_superuser or is_moderator %}<li><a href="{% url 'locations:remove_content' ctype.pk idea.pk %}">{% trans "Delete" %}</a></li>{% endif %}
      {% if idea_access %}<li><a href="{% url 'locations:idea-news-create' location.slug idea.slug %}">{% trans "Write news" %}</a></li>{% endif %}
      <li><a href="{% url 'locations:widget-preview' ctype.pk idea.pk %}">{% trans "embed"|capfirst %}</a></li>
      <li></li>
      {% if user.is_authenticated and user != idea.creator %}<li>{% report_link idea %}</li>{% endif %}
      <li>{% endwith %}{% bookmark_form idea user %}</li>
    </ul>
  </div>
  <div class="row ivotepage mb20">
    <h1 class="text-center">{{ idea.name }}</h1>
  <div class="col-sm-8 mt25 pl0">
    {% if idea.video_url %}<div class="idea-video"><iframe id="ytplayer" type="text/html" width="640" height="390" src="{{ idea.video_url.embed_url }}" frameborder="0"></iframe></div>
    {% elif not idea.has_default_image %}<div class="content-image bigImg4" data-jslghtbx="{{ idea.image.url }}">&nbsp;</div>{% else %}<div class="content-image bigImg4 idea-default-img"></div>{% endif %}
    {% visit_counter idea %}
  </div><!--9-->
  {% include 'ideas/idea-votes.html' %}
  <div class="col-sm-4 mt25 pr0">
    <div class="iauthor-info text-center">
      <div class="display-ib-m"><img src="{{ idea.creator.profile.avatar.url }}" alt="{{ idea.creator.get_full_name }}" class="current-user-avatar60 user-window-toggle" data-target="{{ idea.creator.pk }}" /></div>
      <div class="display-ib-m text-left"><a href="{{ idea.creator.profile.get_absolute_url }}" class="author-bn user-window-toggle" data-target="{{ idea.creator.pk }}">{{ idea.creator.get_full_name }}</a><br><span class="ideaDataCreated">{{ idea.date_created }}</span>
      </div>
    </div>
    <div class="acticle-content text-center ibutton-share">
      {% if idea.status %}<h3 class="text-green custom-tooltip-right mb0 display-ib-m" title="{% trans "Status" %}"><strong>{{ idea.get_status_display|capfirst }}</strong></h3>
      {% else %}<h3 class="text-danger custom-tooltip-right mb0 display-ib-m" title="{% trans "Status" %}"><strong>{% trans "Inactive" %}</strong></h3>{% endif %}
    </div>
    {% vote_area idea %}
  </div><!--3-->
</div>
<div class="row ivotepage">
  <div class="col-sm-12 p-reset mb20">
<!--  -->
<nav class="navbar navbar-default border0" role="navigation" id="idea-location-navbar">
  <div class="container-fluid p-reset">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#idea-navbar-collapse">
        <span class="sr-only">{% trans "Toggle navigation" %}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse p-reset" id="idea-navbar-collapse">
      <div class="row itab-nav">
        {% block idea_link %}<ul class="mb0 list-inline col-sm-8 pr0 navbar-nav" itemscope>
          <li><a href="{{ idea.get_absolute_url }}{% if experiment %}?v=b{% endif %}" class="active" itemprop="url"><span itemprop="name">{% trans "Informations" %}</span></a></li>
          <li><a href="{{ idea.get_absolute_url }}news/{% if experiment %}?v=b{% endif %}" itemprop="url"><span itemprop="name">{% trans "News" %}</span></a>{% if newscounter %}<span class="btn-badge-mlp badge badge-green text-white">{% newscounter idea %}</span>{% endif %}</li>
          <li><a href="{% url 'locations:idea-vote-summary' location.slug idea.slug 1 %}{% if experiment %}?v=b{% endif %}" itemprop="url"><span itemprop="name">{% trans "Who can help" %}</span></a>{% if idea.positive_comments %}<span class="btn-badge-mlp badge badge-green text-white">{{ idea.positive_comments }}</span>{% endif %}</li>
          <li><a href="{% url 'locations:idea-vote-summary' location.slug idea.slug 2 %}{% if experiment %}?v=b{% endif %}" itemprop="url"><span itemprop="name">{% trans "Negative opinions" %}</span></a>{% if idea.negative_comments %}<span class="btn-badge-mlp badge badge-green text-white">{{ idea.negative_comments }}</span>{% endif %}</li>
          {% with idea|content_type as ctype %}{% get_map_pointers idea as MARKERS %}{% if MARKERS.count %}<li class="pull-right"><a href="{% url 'maps:info' ctype.pk idea.pk %}" itemprop="url"><span itemprop="name">{% trans "Show on map" %}</span></a></li>{% endif %}{% endwith %}
        </ul>{% endblock %}
        <ul class="col-sm-4 list-inline mb0 pr0 navbar-nav">
          <li class="pull-right"><a href="#share-content" rel="nofollow">{% trans "Tell others about this idea" %}</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!--  -->
  </div>
</div>
    <div class="row ivotepage">
      <div class="col-sm-8 pl0">
      {% block idea_description %}{% endblock %}
      {% block idea_news %}{% endblock %}
      </div>
      <div class="col-sm-4 text-center pr0">

        {% comment %}<div class="ibutton-share">
          <div class="btn-i300 btn-ifblue mb20 text-left"><span class="fa fa-facebook-square fa-pa"></span> {% trans "Share this on Facebook" %}</div>
          <div class="btn-i300 btn-itblue mb20 text-left"><span class="fa fa-twitter-square fa-pa"></span> {% trans "Share this on Twitter" %}</div>
          <div class="btn-i300 btn-ilblue mb20 text-left"><span class="fa fa-linkedin-square fa-pa"></span> {% trans "Share this on LinkedIn" %}</div>
          <div class="btn-i300 btn-igred mb20 text-left"><span class="fa fa-google-plus-square fa-pa"></span> {% trans "Share this on Google+" %}</div>
          <div class="divider mb20 mt25"></div>
          <div class="idea-vote-count custom-tooltip-right btn-i300 btn-iblue text-left" title="{% trans "Summary" %}" data-target="{{ idea.pk }}"><span class="fa fa-eye fa-pa"></span> {% trans "See who as voted" %}</div>
        </div>{% endcomment %}
      </div>
    </div>
  </div>
  </div>
</div>

{% endblock %}
