{% extends 'locations/index.html' %}
{% load staticfiles i18n civil_tags %}

{% comment %}
    Ten formularz jest wykorzystywany przy edycji (nie tworzeniu!) idei.
{% endcomment %}

{% block title %}{{ title | capfirst }}{% endblock %}

{% block require_scripts %}
<script src="{% static 'places_core' %}/js/{% js_path %}/idea-create.js"></script>
{% endblock %}


{% block content %}

    <div class="col-sm-9 main-content contentPX">
        <div class="create-form">
            {% if action == 'update' %}
                <form role="form" class="form-horizontal" method="post" action="{% url 'ideas:update' idea.slug %}" id="idea-create-form">
            {% else %}
                <form role="form" class="form-horizontal" method="post" action="{% url 'ideas:create' %}" id="idea-create-form">
            {% endif %}
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-group">
                    <label class="control-label col-sm-2">&nbsp;</label>
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <div class="col-sm-3 boxPX">
        {% include 'locations/sidebar.html' %}
    </div>
    
    {% include 'gallery/media-uploader.html' %}
    
{% endblock %}