{% extends 'places_core/base.html' %}
{% load i18n %}
{% block content %}
    
{% if ideas %}
    <ul>
    {% for idea in ideas %}
        <li><a href="{{ idea.get_absolute_url }}">{{ idea.name }}</a> 
        by <a href="{% url 'user:profile' idea.creator %}">{{ idea.creator }}</a>
        in <a href="{% url 'locations:details' idea.location.id %}">{{ idea.location }}</a></li>
    {% endfor %}
    </ul>
{% endif %}

{% if user.is_authenticated %}
<p><a href="{% url 'ideas:create' %}"><button class="btn btn-primary">{% trans "Create" %}</button></a></p>
{% endif %}
    
{% endblock %}