{% extends 'locations/index.html' %}
{% load staticfiles %}{% load i18n %}

{% comment %}
    Ten formularz jest wykorzystywany przy edycji (nie tworzeniu!) idei.
{% endcomment %}

{% block title %}{{ title | capfirst }}{% endblock %}


{% block content %}

    <div class="col-sm-8">
        {% if action == 'update' %}
            <form role="form" method="post" action="{% url 'ideas:update' idea.slug %}" id="idea-create-form">
        {% else %}
            <form role="form" method="post" action="{% url 'ideas:create' %}" id="idea-create-form">
        {% endif %}
        
            {% csrf_token %}
            {{ form }}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
            </div>
        </form>
    </div>
    
    <div class="col-sm-4">
        {% include 'locations/sidebar.html' %}
    </div>
    
    {% include 'gallery/media-uploader.html' %}
    
    <script>
    require(['/static/places_core/js/locations/ideaForm.js'],
    function (IdeaForm) {
        "use strict";
        var form = new IdeaForm();
    });
    </script>
    
{% endblock %}