{% extends 'locations/index.html' %}
{% load staticfiles %}
{% load bookmarks_tags %}
{% load i18n %}

{% block content %}
<div class="col-sm-9">
<div class="main-content">
    <h3>
        <a href="{{ idea.get_absolute_url }}">{{ idea.name }}</a> 
        <small>
            {% trans "Created by" %} <a href="{% url 'user:profile' idea.creator %}">{{ idea.creator.get_full_name }}</a> {{ idea.date_created }}
        </small>
    </h3>
    {% if idea.creator == user %}
        <p><a href="{% url 'ideas:update' idea.slug %}">{% trans "Edit" %}</a></p>
        <p><a href="#" class="map-marker-toggle">{% trans "Add map marker" %}</a></p>
    {% endif %}
    
    {% if map_markers %}{% include 'maps/minimap.html' %}{% endif %}
    
    {% bookmark_form for idea %}
    <div class="idea-votes">
        <div class="votes">{{ idea.get_votes }}</div>
        {% if user.is_authenticated %}
            <button data-target-id="{{ idea.pk }}" data-vote="up" class="vote-btn btn btn-default">+</button>
            <button data-target-id="{{ idea.pk }}" data-vote="down" class="vote-btn btn btn-default">-</button>
        {% endif %}
    </div>
    <div>
        <a class="report-abuse-link" href="{% url 'reports:report' app_label='ideas' model_label='idea' object_pk=idea.pk %}">{% trans "Report abuse" %}</a>
    </div>
    <div>{{ idea.description | safe }}</div>
    <div class="post-meta">
        <p>{% trans "Created by" %} {{ idea.creator }} | {{ idea.date_created }}</p>
        {% if idea.edited %}<p>{% trans "Last time edited" %}: {{ idea.date_edited }}</p>{% endif %}
        <p>{% trans "Status" %}: {{ idea.status }}</p>
    </div>
    <p>{% trans "Tags" %}:</p>
    <ul>
        {% for tag in idea.tags.all %}
        <li>{{ tag }}</li>
        {% endfor %}
    </ul>
    <div>
        <p>
            {% trans "Comments" %}: <span class="badge comment-count">{{ idea.comments }}</span>
            <a class="comment-toggle" data-target="{{ idea.pk }}" href="#">{% trans "Hide comments" %}</a>
        </p>
    </div>
    <input type="hidden" id="target-id" value="{{ idea.pk }}" />
    <input type="hidden" id="target-label" value="ideas" />
    <input type="hidden" id="target-type" value="{{ idea.content_type }}" />
    <input type="hidden" id="target-user" value="{{ user.username }}" />
    <input type="hidden" id="target-avatar" value="{{ user.profile.avatar.url }}" />
    <input type="hidden" id="target-user-fullname" value="{{ user.get_full_name }}" />
    {% include 'comments/commentlist.html' %}
</div>
</div>
{% endblock %}

{% block footer_scripts %}
{% if marker_form %}{% include 'maps/pointer-modal-form.html' %}{% endif %}
<script src="{% static 'ideas/js/votes.js' %}"></script>
{% endblock %}