{% extends 'ideas/idea_detail_base.html' %}{% load staticfiles civil_tags i18n bookmark_tags comment_tags map_tags counters idea_tags simpleblog_tags %}

{% block idea_link %}<ul class="mb0 list-inline col-sm-8 pr0 navbar-nav">
  <li><a href="{{ idea.get_absolute_url }}">{% trans "Informations" %}</a></li>
  <li><a href="{{ idea.get_absolute_url }}news/" class="active">{% trans "News" %}</a>{% if newscounter %}<span class="btn-badge-mlp badge badge-green text-white">{% newscounter idea %}</span>{% endif %}</li>
  <li><a href="{% url 'locations:idea-vote-summary' location.slug idea.slug 1 %}">{% trans "Who can help" %}</a>{% if idea.positive_comments %}<span class="btn-badge-mlp badge badge-green text-white">{{ idea.positive_comments }}</span>{% endif %}</li>
  <li><a href="{% url 'locations:idea-vote-summary' location.slug idea.slug 2 %}">{% trans "Negative opinions" %}</a>{% if idea.negative_comments %}<span class="btn-badge-mlp badge badge-green text-white">{{ idea.negative_comments }}</span>{% endif %}</li>
  {% with idea|content_type as ctype %}{% get_map_pointers idea as MARKERS %}{% if MARKERS.count %}<li class="pull-right"><a href="{% url 'maps:info' ctype.pk idea.pk %}">{% trans "Show on map" %}</a></li>{% endif %}{% endwith %}
</ul>{% endblock %}

{% block idea_news %}
<div class="wrapper-timeline">
  {% if idea_access %}<a href="{% url 'locations:idea-news-create' location.slug idea.slug %}">{% trans "Create news" %}</a>{% endif %}
  {% for news in object_list %}<div class="timeline-item">
    <div class="timeline-wrap idea ml0">
      <span class="date"></span>
      <div class="article-content">
        <h2 class="mt0 mb0">{{ news }}</h2>
        <p class="text-muted"><small>{{ news.date_created|date:"d/m/Y"}}</small></p>
        {% if idea_access %}<p>
        <a href="{% url 'simpleblog:update' news.slug %}" class="text-info">{% trans "Edit" %}</a>
        <a href="{% url 'simpleblog:delete' news.slug %}" class="text-danger">{% trans "Delete" %}</a>
        </p>{% endif %}
        <div>{{ news.content|safe }}</div>
      </div>
    </div>
  </div>{% endfor %}
</div>

{% endblock %}
