.location-logo {
    max-width: 100%;
    height: 100px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: left center;
}
.location-name-title {
    color: #ffffff;
    line-height: 100px;
    margin: 0px 0px 0px 35px;
}
.hidden-pane {
    display: none;
}
.pane {
    display: block;
}
.user-thumbnail {
    width: 35px;
    height: 35px;
    display: inline-block;
}