{% load staticfiles %}

<div id="comments">
    {% if user.is_authenticated %}
        <p><button class="btn btn-default add-comment">Add Comment</button></p>
    {% endif %}
</div>

<script type="text/template" id="comment-template">
    <p>Added by <%= username %> on <%= submit_date %></p>
    <div><%= comment %></div>
</script>

<script type="text/template" id="comment-form-template">
    <form role="presentation" id="comment-form-body">
        <div class="form-group">
            <label for="comment">Comment</label>
            <textarea name="comment" id="comment" cols="20" rows="5"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default btn-submit-comment">Submit comment</button>
        </div>
    </form>
</script>

<script src="{% static 'comments/js/commentlist.js' %}"></script>