node_modules/
nbproject/
Places/
media/
markers/
log/
data/
logs/
settings/*
static/*
celerybeat-schedule
db.sqlite*
*.geany
*.project
*.pydevproject
*.pyc
*.pid
*.bak
*.swp
*.DS_Store
dummydata.py
# Pliki redisa
*.rdb
