node_modules/
node_modules/*
nbproject/
nbproject/*
Places/
Places/*
media/*
markers/
src
src/
src/*
log/
log/*
migrations
migrations/
migrations/*
data/
logs/
.settings/
.settings/*
celerybeat-schedule
db.sqlite*
*.geany
*.project
*.pydevproject
*.pyc
*.pid
*.bak
*.swp
*.DS_Store
dummydata.py
