{% extends 'places_core/base.html' %}
{% load staticfiles i18n %}


{% block content %}

    <!-- Edytor -->
    <form role="presentation" action="" method="" enctype="multipart/form-data">
        <textarea name="test_editor" id="test-editor" cols="20" rows="10" class="form-control"></textarea>
    </form>

    <!-- Modal -->
    <div class="modal fade" id="media-upload-modal" tabindex="-1" role="dialog" aria-labelledby="media-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="media-modal-label">Media uploader</h4>
                </div>
                <div class="modal-body">
                    <div id="tabs">
                        <ul>
                            <li><a href="#tabs-1">Upload files</a></li>
                            <li><a href="#tabs-2">My files</a></li>
                        </ul>
                        <div id="tabs-1">
                            <input type="hidden" id="current-upload-path" value="{{ media_folder }}" />
                            <form action="{% url 'gallery:index' %}" id="dropzone-input" class="dropzone" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="fallback">
                                    <input name="file" type="file" multiple />
                                </div>
                            </form>
                        </div>
                        <div id="tabs-2">
                            <div id="user-media-list"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary submit-btn" data-dismiss="modal">Select</button>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}