{% extends 'locations/index.html' %}
{% load staticfiles %}{% load i18n %}

{% block require_scripts %}
<script data-main="{% static 'places_core' %}/js/build/gallery/media-form/media-form-built.js" src="{% static 'places_core' %}/includes/require/require.js"></script>
{% endblock %}

{% block content %}

    <link rel="stylesheet" href="{% static 'places_core/includes/shadowbox/shadowbox.css' %}" />
    <script src="{% static 'places_core/includes/shadowbox/shadowbox.js' %}"></script>
    <script>Shadowbox.init();</script>

    <div class="col-sm-8">
        {% if user.is_authenticated %}
        <div id="media-form" class="create-form">
            <form role="form" action="{% url 'locations:gallery' location.slug %}" class="form-hidden" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label class="control-label" for="image-name">{% trans "Image name" %}</label>
                    <input type="text" name="name" id="image-name" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="image-description">{% trans "Image description" %}</label>
                    <textarea name="description" id="image-description" cols="20" rows="10" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="image" class="control-label">{% trans "Image" %}</label>
                    <input type="file" name="image" id="image-file" />
                </div>
                <button type="submit" class="btn btn-primary">{% trans "Send" %}</button>
            </form>
        </div>
        {% endif %}

    {% if files %}
        
        <button style="left: -90px; position: absolute;" class="btn btn-default media-form-toggle">Upload file</button>
        <div id="gallery">
            {% for file in files %}
            <div class="col-sm-6 col-md-4 file-entry">
                <div class="thumbnail">
                    <a class="gallery-item" href="{{ file.href }}" rel="shadowbox[{{ location.slug }}]"><img class="top15" src="{{ file.thumb }}" alt="{{ file.name }}"></a>
                    <div class="caption">
                        <h3><a href="{% url 'locations:picture' slug=location.slug pk=file.pk %}">{{ file.name }}</a></h3>
                        <p>{{ file.desc|slice:":255" }}...</p>
                        {% if user.is_superuser %}
                        <p class="item-controllers">
                            <button class="btn btn-primary edit-item-btn item-control-btn" data-target="{{ file.pk }}" role="button">{% trans "Edit" %}</button> 
                            <button class="btn btn-danger delete-item-btn item-control-btn" data-target="{{ file.pk }}" role="button">{% trans "Delete" %}</button>
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
    {% else %}
    <div class="col-sm-12 no-entries">
        <img src="/static/places_core/img/civilian.png" alt="{% trans "Sad Civilian" %}">
        <h2>
            {% trans "We didn't find any photos" %} {% trans "in" %} {{ location.name }}.<br /> 
            {% trans "Please" %}
            {% if user.is_authenticated %}
                <a class="media-form-toggle" href="#" >
            {% else %}
                <a href="/users/login" >
            {% endif %}{% trans "add first photo" %}</a>.
        </h2>
    </div>
{% endif %}

        <div class="custom-clear">&nbsp;</div>
    </div>
    
    <div class="col-sm-4">
        {% include 'locations/sidebar.html' %}
    </div>

{% endblock %}