{% extends 'locations/index.html' %}
{% load staticfiles %}{% load i18n %}

{% block content %}

<div class="col-sm-9">
    <div id="gallery">
    {% for file in files %}
        <a href="{{ file.href }}"><img src="{{ file.thumb }}" alt="{{ file.name }}" class="gallery-item" /></a>
    {% endfor %}
    </div>
    <button class="btn btn-default media-form-toggle">Upload file</button>
    <div id="media-form">
        <form role="form" action="{% url 'locations:gallery' location.slug %}" class="form-hidden" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label class="control-label" for="image-name">{% trans "Image name" %}</label>
                <input type="text" name="name" id="image-name" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label" for="image-description">{% trans "Image description" %}</label>
                <textarea name="description" id="image-description" cols="20" rows="10" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="image" class="control-label">{% trans "Image" %}</label>
                <input type="file" name="image" id="image-file" />
            </div>
            <button type="submit" class="btn btn-primary">{% trans "Send" %}</button>
        </form>
    </div>
</div>

<script src="{% static 'places_core/includes/colorbox/jquery.colorbox.js' %}"></script>
<script>
(function ($) {
    "use strict";
    $('#gallery a').colorbox({
        rel: 'gal',
        maxWidth: "90%",
        maxHeight: "80%"
    });
    $('.media-form-toggle').on('click', function (e) {
        e.preventDefault();
        $('#media-form').slideDown('fast');
    });
})(jQuery);
</script>

{% endblock %}