{% extends 'locations/index.html' %}
{% load staticfiles %}{% load i18n %}

{% block content %}
<h1>{{ picture.name }}</h1>

<div class="picture-main-view">
    <img src="{{ picture.url }}" alt="{{ picture.name }}" />
</div>

<div>
    <p>
        {% trans "Comments" %}: <span class="badge comment-count">{{ idea.comments }}</span>
        <a class="comment-toggle" data-target="{{ picture.pk }}" href="#">{% trans "Hide comments" %}</a>
    </p>
</div>
<input type="hidden" id="target-id" value="{{ picture.pk }}" />
<input type="hidden" id="target-label" value="gallery" />
<input type="hidden" id="target-type" value="{{ picture.content_type }}" />
<input type="hidden" id="target-user" value="{{ user.username }}" />
<input type="hidden" id="target-avatar" value="{{ user.profile.avatar.url }}" />
<input type="hidden" id="target-user-fullname" value="{{ user.get_full_name }}" />
{% include 'comments/commentlist.html' %}

{% endblock %}
