{% extends 'locations/index.html' %}{% load staticfiles i18n civil_tags counters comment_tags %}
{% block require_scripts %}<script src="{% static 'places_core' %}/js/{% js_path %}/gallery-picture.js"></script>{% endblock %}
{% block navigation_location %}<div class="location-page-gallery">{% include 'locations/location-navbar.html' %}</div>{% endblock %}
{% block title %}{{ title }} - {{ location.name }} - Civilhub.org {% endblock %}

{% block content %}<div class="main-content col-sm-9 contentPX">
  <h1>{{ picture.name }}<span class="submenu-toggle no-margin"> </span></h1>
  <div class="entry-submenu">
    <ul>{% with picture|content_type as ctype %}
      {% if user.is_authenticated and user != picture.user %}<li>{% report_link picture %}</li>{% endif %}
      {% if user.is_superuser or is_moderator %}<li><a href="{% url 'locations:remove_content' ctype.pk picture.pk %}">{% trans "Delete" %}</a></li>{% endif %}
    {% endwith %}</ul>
  </div>
  {% visit_counter picture %}
  <div class="picture-main-view mb20 text-center">
    <img class="content-image" src="{{ picture.url }}" data-jslghtbx="{{ picture.url }}" alt="{{ picture.name }}" />
  </div>
  <div class="blog-commentlist">
  <input type="hidden" id="target-id" value="{{ picture.pk }}" />
  <input type="hidden" id="target-label" value="gallery" />
  <input type="hidden" id="target-type" value="{{ picture.content_type }}" />
    <div class="customEntry-comments">
      <p>{% trans "Comments" %}: <span class="badge comment-count">{% get_comment_count picture %}</span>
        <a class="comment-toggle custom-comments-toggle" data-target="{{ picture.pk }}" href="#">{% trans "Hide comments" %}</a></p>
    </div>
    {% include 'comments/commentlist.html' %}
  </div>
</div>
<div class="col-sm-3 boxPX">{% include 'locations/sidebar.html' %}</div>{% endblock %}
