{% extends 'places_core/base.html' %}{% load i18n actstream_tags %}
{% block title %}{{ organization }} - Civilhub.org {% endblock %}
{% block header %}<style type="text/css">
.user-logo {
  background-image: url({{ organization.background_url }});
}
@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .user-logo {
    background-image: url({{ organization.retina_background_url }});
  }
}
.ngo-bg-logo {
  background-image: url({{ organization.logo.url }});
}
</style>
<div class="user-logo">
  <div class="container">
    <div class="ngo-info">
      <div class="ngo-bg-logo display-ib-m"><!-- <img src="{{ organization.logo.url }}" alt="{{ organization }}" class="ngo-logo-img"/> --></div>
      <div class="ngo-more-info">
        <div class="heading">{{ organization.category }}</div>
        <div class="name"><h1>{{ organization }}</h1></div>
        {% follow_button organization %}
      </div>
    </div>
    {% if access %}<div class="group-change-bg-btn"><a class="change-background-btn" href="{% url 'organizations:background' organization.slug %}">{% trans "Change background image" %}</a>
    <a href="{% url 'organizations:update' organization.slug %}" class="change-background-btn">{% trans "Update" %}</a></div>{% endif %}
  </div>
</div>
<nav id="filter-navbar" class="navbar navbar-default mt0" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-location-collapse-menu">
        <span class="sr-only">{% trans "Toggle navigation" %}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="row collapse navbar-collapse" id="bs-location-collapse-menu">
      <ul class="nav navbar-nav navbar-nav-userspace">
        <li><a href="{% url 'organizations:detail' organization.slug %}">{% trans "Summary" %}</a></li>
        <li><a href="{% url 'organizations:news-list' organization.slug %}">{% trans "News" %}</a></li>
        <li><a href="{% url 'organizations:info' organization.slug %}">{% trans "About Us" %}</a></li>
        <li><a href="{% url 'organizations:members' organization.slug %}">{% trans "Members" %}</a></li>
        <li><a href="{% url 'organizations:locations' organization.slug %}">{% trans "Locations" %}</a></li>
        <li><a href="{% url 'organizations:project-list' organization.slug %}">{% trans "Projects" %}</a></li>
      </ul>
    </div>
  </div>
</nav>{% endblock %}
