{% extends 'organizations/index.html' %}{% load i18n staticfiles civil_tags %}
{% block require_scripts %}<script src="{% static 'places_core' %}/js/{% js_path %}/organizations-location-add.js"></script>{% endblock %}
{% block content %}<div class="main-content create-form newFormCreate"><h3>{% trans "Add more locations" %}</h3>
<form action="" method="post">{% csrf_token %}
  {{ form.as_p }}
  <div class="form-group mb0 top15">
    <button type="submit" class="btn btn-greenBig">{% trans "Save" %}</button>
  </div>
</form></div>{% endblock %}
