{% extends 'organizations/index.html' %}{% load i18n %}
{% block content %}<div class="col-sm-9 main-content">
  <div class="text-center">
    <h1 class="mt0 mb0">{{ organization }}</h1><h3 class="mt0 text-muted">{{ organization.category }}</h3>
    <p>{% trans "Organization created by" %} <a href="{{ organization.creator.profile.get_absolute_url }}">
    {{ organization.creator.get_full_name }}</a> {{ organization.date_created|timesince }} {% trans "ago" %}</p>
    <img src="{{ organization.logo.url }}" alt="{{ organization }}" class="mw100" /><br /><br />
  </div>
  <div class="acticle-content">{{ organization.description|safe }}</div>
</div>
<div class="col-sm-3">
  <div class="main-content p-reset">
    <div class="ac-title"><strong>{% trans "Additional informations" %}</strong></div>
    <div class="ac-hot-box">
      <div class="ac-hot-single-box"><strong>{% trans "Organization name" %}:</strong><p class="mb0">{{ organization.name }}</p></div>
      <div class="ac-hot-single-box"><strong>{% trans "Organization profil" %}:</strong><p class="mb0">{{ organization.category }}</p></div>
      <div class="ac-hot-single-box"><strong>{% trans "KRS" %}:</strong><p class="mb0">{{ organization.krs }}</p></div>
      <div class="ac-hot-single-box"><strong>{% trans "Email" %}:</strong><p class="mb0">{{ organization.email }}</p></div>
      <div class="ac-hot-single-box"><strong>{% trans "Website" %}:</strong><p class="mb0">{{ organization.website }}</p></div>
    </div>
  </div>
</div>{% endblock %}
