{% extends 'organizations/index.html' %}{% load i18n %}
{% block content %}
{% for item in object_list %}{% if forloop.counter0 == 0 or forloop.counter0|divisibleby:4 %}<div class="row">{% endif %}<div class="col-sm-3">


  <div class="locBox loc-box-project">
    <div class="locBoxHeader" style="background-image: url({{ item.image.url }})">
      <div class="locBoxLoc"><a href="{{ location.get_absolute_url }}">{{ location }}</a></div>
      <div class="locBoxContainer">
        <div class="locBoxAuthor">
          <a href=" {{ item.creator.profile.get_absolute_url }}">
            <span class="user-window-toggle" data-target="{{ item.creator.pk }}"><img src="{{ item.creator.profile.avatar.url }}" alt="{{ item.creator.profile.get_full_name }}" class="user-avatar avatarH"></span>
          </a>
        </div>
        <div class="locBoxTitle">
          <a href="{{ item.get_absolute_url }}">{{ item }}</a>
        </div>
      </div>
    </div>
    <div class="locBoxCat"></div>
    <div class="locBoxBody"><a href="{{ item.get_absolute_url }}"> </a><p><a href="{{ item.get_absolute_url }}">{{ item.description|safe|truncatechars:115 }}</a></p></div>
  </div>
</div>


{% if forloop.counter|divisibleby:4 or forloop.counter == files.count %}</div>{% endif %}{% endfor %}{% endblock %}
<!-- 
<ul>{% for item in object_list %}
  <li>
    <a href="{{ item.get_absolute_url }}">{{ item }}</a>
    {% if access %}<form class="custom-inline-form" method="post" action="">{% csrf_token %}
      <input type="hidden" name="project_id" value="{{ item.pk }}">
      <button type="submit">{% trans "Delete" %}</button>
    </form>{% endif %}
  </li>
{% endfor %}</ul> -->


