{% extends 'places_core/base.html' %}{% load staticfiles i18n civil_tags %}
{% block require_scripts %}<script src="{% static 'places_core/js' %}/{% js_path %}/civmail-invite.js"></script>{% endblock %}
{% block header %}<div class="headerBGaInvi headerBGInvite">
  <div class="headerInviteBox">
    <h1 class="headerTitleInvite"> {% trans "Invite friends" %} </h1>
    <a style="display:none" href="#" type="button" class="btn-googleInvite contacts-toggle" title="{% trans "You must be logged by Google" %}">{% trans "Invite friends from Gmail" %}</a>
  </div>
</div>{% endblock %}
{% block content %}{% include 'places_core/google-contacts-modal.html' %}
<div class="invitePage">
  <div class="inviteFriends">
    <h2>{% trans "Invite a friend by sending him a message, to have the opportunity to find out what it means to force CivilHub." %}</h2>
    <h3>{% trans "Terms and Conditions" %}</h3>
  </div>
  <div class="inviteForm"><form class="form-horizontal" method="post" action="{% url 'civmail:invite' %}">{% csrf_token %}
    <div class="inviteInputL">
      <input type="text" name="emails" class="form-control" placeholder="{% trans "Add your friend’s email addresses" %}">
      <p class="text-left">{% trans "Separate the adressees with commas" %}</p>
    </div>
    <div class="inviteSubmit">
      <button type="submit" class="btn btn-saveBig">{% trans "Send" %}</button>
    </div>
    <div class="inviteInputR">
      <input type="text" name="link" class="form-control" value="https://civilhub.org/" readonly>
    <div class="text-left">{% trans "Share:" %}
      <div class="fb-share-button" data-href="https://civilhub.org" data-layout="icon"></div>{% comment %}<span class="fa fa-facebook"></span>  <a href="#"><span class="fa fa-twitter"></span></a> {% endcomment %}</div>
    </div>
  </form></div>
</div>{% endblock %}