{% extends 'places_core/base.html' %}{% load staticfiles i18n civil_tags %}
{% block extra_styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'places_core/css/staticpages/invite-friends.min.css' %}">
{% endblock %}
{% block require_scripts %}<script src="{% static 'places_core/js' %}/{% js_path %}/civmail-invite.js"></script>{% endblock %}
{% block header %}<div class="headerBGaInvi text-center headerBGInvite">
  <div class="headerInviteBox">
    <h1 class="headerTitleInvite"> {% trans "Invite friends" %} </h1>
    <a style="display:none" href="#" type="button" class="btn-googleInvite contacts-toggle" title="{% trans "You must be logged by Google" %}">{% trans "Invite friends from Gmail" %}</a>
    {% if not google_user %}<form action="{% url 'user:relogin' user.username %}" method="post">{% csrf_token %}
      <button type="submit" class="google-button">{% trans "Login with Google" %}</button>
    </form>{% endif %}
  </div>
</div>{% endblock %}
{% block content %}{% include 'places_core/google-contacts-modal.html' %}
<div class="invitePage mt25 mb20">
  <div class="container-fluid"><div class="inviteFriends text-center">
    <h2>{% trans "Invite a friend by sending him a message, to have the opportunity to find out what it means to force CivilHub." %}</h2>
   {% comment %} <h3>{% trans "Terms and Conditions" %}</h3> {% endcomment %}
  </div>
  <div class="inviteForm text-center mt25">

    <form class="form-horizontal" method="post" action="{% url 'civmail:invite' %}">{% csrf_token %}
      <div class="col-md-1"></div>
      <div class="col-md-5 text-left"><div class="main-content">
        <p class="mt0 mb0 k16"><strong>{% trans "Email address or name" %}</strong></p>
        <span class="text-muted">{% trans "Separate the adressees with commas" %}.</span>
        <input class="form-control" type="text" name="emails" placeholder="{% trans "Add your friend’s email addresses" %}">
        <div class="hidden">
          <p class="k16 mb0 top15"><strong>{% trans "Send a personal message with your invitation" %}</strong></p>
          <span class="text-muted">{% trans "This is optional." %}</span>
          <div><textarea class="form-control k16" rows="3" placeholder="{% trans "Hey, here's your invite! Come check out my CivilHub when you have a chance. You'll love it!" %}" rows="2"></textarea></div>
        </div>
        <div class="text-right mt25">
          <button type="submit" class="btn btn-saveBig">{% trans "Send" %}</button>
        </div></div>
      </div>
   <!--  <div class="col-sm-4 col-sm-offset-1">
      <input type="text" name="emails" class="form-control" placeholder="{% trans "Add your friend’s email addresses" %}">
      <p class="text-left">{% trans "Separate the adressees with commas" %}</p>
    </div> -->
    {% comment %}<div class="col-sm-2 mb20">
      <button type="submit" class="btn btn-saveBig">{% trans "Send" %}</button>
    </div>{% endcomment %}
    <div class="col-md-5"><div class="main-content">
      <input type="hidden" name="name" value="civilhub.org">
      <input type="text" name="link" class="form-control" value="https://civilhub.org/" readonly>


    <div class="text-left">{% trans "Share:" %}
      <div class="fb-share-button" data-href="https://civilhub.org" data-layout="icon"></div>{% comment %}<span class="fa fa-facebook"></span>
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://civilhub.org"><span class="fa fa-twitter"></span></a> {% endcomment %}</div>
    </div></div>
  </form></div></div>
</div>{% endblock %}
