{% extends 'places_core/base.html' %}
{% load staticfiles %}{% load i18n %}

{% block title %}{% trans "Contact" %}{% endblock %}
{% block header %} {% endblock %}

{% block content %}


	<div class="row contact-page top15">
		<div class="col-md-9 main-content">
		<div class="col-md-12">
				<h1>{% trans "Contact us" %}</h1>
				<p>{% trans "If you have a question about our website please write to us." %}
					<br />
					{% trans "We try to answer all questrions." %}
					<br /><br />
					{% trans "If you want to include your country to our database also write to us." %}</p>
		</div>
		<div class="contact-form">
			<form class="form" action="MAILTO:office@civilhub.org" method="post" enctype="text/plain" role="form"> 
				<div class="col-md-6 form-group">
					<label for="name">{% trans "Name" %}:</label><br />
					<input id="name" type="text" name="name" required></input>
				</div>
				
				<div class="col-md-6 form-group">			
					<label for="email">{% trans "Email" %}:</label><br />
					<input id="email" type="email" name="mail" required></input>
				</div>
				
				<div class="col-md-12 form-group">	
					<label for="message">{% trans "Message" %}:</label><br />
					<textarea id="message" type="text" name="message" maxength="500" rows="5" ></textarea>
				</div>
				<input type="submit" class="btn btn-primary" value="{% trans "Send" %}">
			</form>
		</div>
		
		</div>		
		
		<div class="col-md-3">
			<div class="sidebar contact-sidebar">
				<div class="sidebar-label">{% trans "Contact details" %}</div>
				<div class="sidebar-content">
					<h4>{% trans "Email:" %}</h4>
					office@civilhub.org
					<h4>{% trans "Phone:" %}</h4>
					+48 790 123 456
					<h4>{% trans "Skype:" %}</h4>
					civilhuborg
					<h4>{% trans "Adress:" %}</h4>
					CivilHub<br />
					Jasna 10 Street<br />
					00-013 {% trans "Warsaw" %}<br />
					{% trans "Poland" %}
				</div>
			</div>
		</div>
	</div>

{% endblock %}