{% extends 'places_core/base.html' %}
{% load staticfiles %}{% load i18n %}

{% block title %}{% trans "Polityka plików cookies" %}{% endblock %}
{% block header %} {% endblock %}
{% block content %}

<div class="static-page-content">
	<h1 class="text-center">{% trans "Polityka plików cookies" %}</h1>
	<div class="col-md-2"></div>
	
	<div class="col-md-8">
		<div class="content">
			<ul>
				<h3><li>1. {% trans "Czym są pliki “cookies”?" %}</li></h3>
					<p>{% blocktrans %}
					CivilHub.org korzysta z plików cookie w celu zapewnienia użytkownikom lepszą jakość usług 
					podczas korzystania z naszej strony internetowej.
					{% endblocktrans %}</p>

					<p>{% blocktrans %}
					Pliki cookies to niewielkie informacje wysyłane przez serwis internetowy, który odwiedzamy 
					i zapisywane są na urządzeniu np. komputerze z którego korzystamy podczas przeglądania 
					stron internetowych. Dzięki “cookie“ korzystanie ze stron internetowych jest łatwiejsze i 
					przyjemniejsze a ich zawartość np. teksty, zdjęcia są lepiej dopasowane do oczekiwań 
					użytkownika.
					{% endblocktrans %}</p>
				
				<h3><li>2. {% trans "Jakich plików cookies używamy?" %}</li></h3>
					<p>{% blocktrans %}
					CivilHub.org korzysta z sesyjnych plików cookie. Są to pliki tymczasowe, które przechowywane 
					są w urządzeniu końcowym użytkownika do czasu wylogowania, opuszczenia strony 
					internetowej lub wyłączenia oprogramowania (przeglądarki internetowej).
					{% endblocktrans %}</p>
					
				<h3><li>3. {% trans "3. Do czego wykorzystywane są pliki “cookies”" %}</li></h3>					
					<p>{% blocktrans %}
					Pliki cookies wykorzystywane są w celu zapewnienia użytkownikom spersonalizowanego
					wyglądu witryny oraz do zbierania informacji o wykorzystaniu witryny sieci Web. Powszechnie 
					stosowane są do obsługi stron i oraz ich bezpiecznego przeglądania.
					{% endblocktrans %}</p>

		</ul>
		</div>
	</div>
</div>
{% endblock %}