{% extends 'staticpages/index.html' %}
{% load staticfiles %}{% load i18n %}

{% block title %}{% trans "Homepage" %}{% endblock %}

{% block content %}

{% comment %} First part with signup form. {% endcomment %}
<div style="background: #fff;">
    <div class="signup-view signup-view-background">
    	<h1 class="home-first"> People have the Power</h1>
    	<div class="narrow">
    	<div class="half">
            <div class="start-text">
            	<h2>{% trans "Build your Place,</br>better, together, now!" %}</h2>
            	<p>{% trans "Collaborate to build, improve</br> our local communities." %}</p>
            	</br>
            	<p>{% trans "Sign up, find your place where you live,</br>or create your own. Take action." %}</p>
            </div>
    	</div>
    	<div class="half">
            <form>
            <input class="long" type="text" placeholder="{% trans "Your username" %}">
            <div>
           	 <input class="short short-left" type="text" placeholder="{% trans "Name" %}">
           	 <input class="short" type="text" placeholder="{% trans "Surname" %}">
            </div>
            <input class="long" type="text" placeholder="{% trans "Your email" %}">
            <input class="long" type="password" placeholder="{% trans "Create a password" %}">
            <input class="long" type="password" placeholder="{% trans "Repeat password" %}">
            <div>
            	<a href="#">
                    <img class="short-left" src="{% static 'places_core/img/fb-connect.png' %}">
            	</a>
                <a href="#">
                    <img src="{% static 'places_core/img/g-connect.png' %}">
                </a>
            </div>
            <button class="long signup-button">{% trans "Sign up" %}</button>
            </br>
            <p class="terms">
            {% trans "By clicking 'Sign up', you agree to our <b>terms of service</b> and <b>privacy policy</b>. We will send you account related emails occasionally." %}
            </p>
            </form>
        </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div class="homepage-divider"> </div>

    {% comment %} Second part - Why Should I use. {% endcomment %}
    <div class="why-view">
        <h2>{% trans "We believe that people have the</br>Power to change our World." %}</h2>
        <span><a href="#">Grzegorz Warzecha</a>, {% trans "CivilHub.org founder" %}</span>
	
	<div class="homepage-divider"> </div>
        <h2>{% trans "Why Should I Use CivilHub?" %}</h2>
        <span class="subheader">{% trans "Powerful features to make your Place more collaborative." %}</span></br>
        <div class="line">
    	    </br>
	    <div class="clear"></div>
        </div>
        <div class="why-table">
    	    <div class="row">
    	        <div class="col-md-4">
            	    <img src="{% static 'places_core/img/point.png' %}"></br>
	    	    <b>{% trans "Find the Place, where you live" %}</b></br>
            	    {% trans "We have more than 80 thousand places, but You can always create own for your housing, village." %}
    	        </div>
    	        <div class="col-md-4">
            	    <img src="{% static 'places_core/img/collaboration.png' %}"></br>
	    	    <b>{% trans "Collaborate with People !@#$%!." %}</b></br>
            	    {% trans "Great collaboration starts with communication. We always want to know what happens near us." %}
    	        </div>
       	        <div class="col-md-4">
            	    <img src="{% static 'places_core/img/idea.png' %}"></br>
	    	    <b>{% trans "Share Your Ideas" %}</b></br>
            	    {% trans "You and other people have knowledge, what we should change in our community. Don't be a fool, tell what You think." %}
    	        </div>
    	    </div>
    	    <div class="row">
    	        <div class="col-md-4">
            	    <img src="{% static 'places_core/img/polls.png' %}"></br>
	    	    <b>{% trans "Wyrażaj swoją opinię" %}</b></br>
            	    {% trans "Srawdzaj poprzez krótkie ankiety co myślą inni na dowolny temat. Miej wpływ na to co się dzieje." %}
    	        </div>
    	        <div class="col-md-4">
	    	    <img src="{% static 'places_core/img/projects.png' %}"></br>
	    	    <b>{% trans "Start local Projects" %}</b></br>
            	    {% trans "Wdrażajmy pomysły w życie rozpoczynając wspólnie obywatelskie oddolne inicjatywy." %}
    	        </div>
    	        <div class="col-md-4">
	    	    <img src="{% static 'places_core/img/documents.png' %}"></br>
	    	    <b>{% trans "Share Your Knowledge" %}</b></br>
            	    {% trans "Razem wiemy więcej o miejscu w którym żyjemy. Dzielmy się tą wiedzą aby wspólnie czynić świat lepszym." %}
    	        </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="homepage-divider"> </div>

	{% comment %} Third part with example pageview. {% endcomment %}

        <h2>{% trans "Be proud of the Place, where You live" %}</h2>
        <span class="subheader">{% trans "Stay connected with People who live next to You." %}</span></br>
        <div class="line">
	    </br></br>
	    <div class="clear"></div>
        </div>

        <div class="proud-table">
	    <div class="col-md-6 left-part">
	        <h3>{% trans "Take the local social participation to the next level" %}</h3>
	        <div class="row-part">
	    	    <div class="col-md-2">
	    	        <img src="{% static 'places_core/img/free.png' %}" class="left-img"></img>
	    	    </div>
	    	    <div class="col-md-10">
		    <h4>{% trans "Everything is for free, always." %}</h4>
		        {% trans "Korzystanie z funkcji portalu zawsze będzie darmowe. Najważniejsze abyś ty sam chciał" %}
	    	    </div>
	        </div>
	        </br> </br>
	        <div class="row-part">
	    	    <div class="col-md-2">
	    	        <img src="{% static 'places_core/img/cloud.png' %}" class="left-img"></img>
	    	    </div>
	    	    <div class="col-md-10">
	    	        <h4>{% trans "Dedicate pages for Your Place" %}</h4>
		        {% trans "Korzystanie z funkcji portalu zawsze będzie darmowe. Korzystanie z funkcji portalu zawsze będzie dar" %}
		    </div>
	        </div>
	        </br> </br>
	        <div class="row-part">
	    	    <div class="col-md-2">
	    	        <img src="{% static 'places_core/img/glass.png' %}" class="left-img"></img>
	    	    </div>
	    	    <div class="col-md-10">
		    <h4>{% trans "Wszystko jest jawne" %}</h4>
		        {% trans "Możesz zobaczyć, kto co kiedy pisał, bez potrzeby rejestracji przeglądać wszystkie treści portalu." %}
		    </div>
	        </div>
	    </div>
	    <div class="col-md-6 right-part">
	        <img class="pageview" src="{% static 'places_core/img/pageview.jpg' %}">
		<div class="clear"></div>
	    </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="homepage-divider"> </div>

    {% comment %} Fourth part with map. {% endcomment %}
    <div class="why-view">
	<h2>{% trans "Everything what you do, you can point it on the Map" %}</h2>
        <span class="subheader">{% trans "Ideas, Discussions, Polls pointed in specific places." %}</span></br>
        <div class="line">
    	    </br>
	    <div class="clear"></div>
        </div>
    </div>
    <div class="map-view">
	{% comment %}<img src="{% static 'places_core/img/map.jpg' %}">{% endcomment %}
    </div>
    <div class="clear"></div>
    
    <div class="homepage-divider"> </div>

    {% comment %} Fifth part with mobile access. {% endcomment %}
    <div class="access-view">
	<div class="col-md-3">
Zdjecie
	</div>
	<div class="col-md-9">
	    <h3>{% trans "Mobile access to all content from anywhere" %}</h3>
	    <p>
		{% trans 'W najbliższym czasie opublikujemy aplikacje mobilne, dzięki którym będziesz mógł korzystać z portalu ze swoich ulubionych urządzeń.' %}
	    </p>
	    <img class="img-appstore img-left" src="{% static 'places_core/img/appstore.jpg' %}">
	    <img class="img-googleplay img-left" src="{% static 'places_core/img/googleplay.jpg' %}">
	</div>
    </div>
    
    <div class="clear"></div>
</div>



{% comment %}
    <ul>
    {% for page in pages %}
        <li><a href="{{ page.url }}">{{ page.name }}</a></li>
    {% endfor %}
    </ul>
{% endcomment %}
{% endblock %}