{% extends 'places_core/base.html' %}
{% load staticfiles %}{% load i18n %}

{% block title %}{% trans "Policies" %}{% endblock %}
{% block header %} {% endblock %}

{% block content %}

<div class="static-page-content">
	<h1 class="text-center">{% trans "Terms of use" %}</h1>
	<div class="col-md-2"></div>
	
	<div class="col-md-8">
		<div class="policy-content">
				<ul>
			
				<p>&sect {% blocktrans %}
				Poniższy regulamin określa warunki korzystania z CivilHub.org w szczególności prawa i obowiązki zarejestrowanych użytkowników.
				{% endblocktrans %}</p>
§ 1. Poniższy regulamin określa warunki korzystania z CivilHub.org w szczególności prawa i 
obowiązki zarejestrowanych użytkowników.

§ 2. Poniższy regulamin dotyczy:

2.1 Regulaminu - należy przez to rozumieć zbiór przepisów określających prawa i obowiązki 
użytkowników jak i CivilHub.org, zasady ochrony danych osobowych, jak i również zasady 
określające zakres odpowiedzialności CivilHub.org z tytułu świadczenia usług.

2.2 CivilHub.org - należy przez to rozumieć organizację która łączy ludzi w celu wspólnej 
realizacji lokalnych pomysłów i projektów. Głównym celem organizacji jest propagowanie 
partycypacji społecznej w lokalnych obszarach świata. 

2.3 Użytkownika- należy przez to rozumieć osobę fizyczną która poprzez rejestrację konta 
i akceptację regulaminu uzyskuje dostęp do usług oferowanych przez CivilHub.org.

2.4 Profilu - należy przez to rozumieć miejsce w CivilHub.org gdzie opublikowany jest zbiór
informacji o użytkowniku uzyskanych podczas rejestracji.

2.5 Konta - należy przez to rozumieć zbiór danych które potwierdzają bycie użytkownikiem 
CivilHub.org. Poprzez podanie loginu oraz hasła użytkownik dostaje możliwość modyfikacji 
danych opublikowanych w profilu oraz możliwość modyfikacji konta.

2.6 Administratora - należy przez to rozumieć osobe odpowiedzialną za prowadzenie 
CivilHub.org. 

II Zawieranie i rozwiązywanie umów o świadczenie usług drogą elektroniczną 

§ 3. Użytkownikiem CivilHub.org może być osoba fizyczna która ukończyła 13 lat.

3.1 Osoba fizyczna może zostać użytkownikiem CivilHub.org jeśli posiada zdolność do 
czynności prawnych lub też posiada zgodę przedstawiciela ustawowego w przypadku gdy 
posiada ograniczoną zdolność do czynności prawnych.

§ 4. W celu korzystania z usług oferowanych przez CivilHub.org niezbędne jest założenie konta. 
Konto zakłada się poprzez wypełnienie formularza rejestracyjnego w którym należy podać 
niezbędne dane osobowe.

 §5. Wypełnienie formularza rejestracyjnego, utworzenie konta, korzystania z usług oferowanych 
przez CivilHub.org oraz publikowanie informacji jest całkowicie bezpłatne. 

§6. Rejestrując konto użytkownik wyraża zgodę na wszystkie warunki niniejszego regulaminu 
izobowiązuje się do ich przestrzegania.

§7. W przypadku wycofania zgody na który ktokolwiek z punktów regulaminu użytkownik jest 
zobowiązany do osobistego usunięcia konta lub powiadomienia administratora o wycofaniu 
zgody.

§8. Umowa o świadczeniu usług drogą elektroniczną zostaje zawarta w chwili wypełnienia przez 
użytkownika formularza rejestracyjnego oraz zaakceptowania regulaminu. 

8.1 Umowa zostaje zawarta na czas nieokreślony 

8.2 Każda ze stron może rozwiązać umowę bez podania przyczyny w trybie natychmiastowym.

8.3 Użytkownik rozwiązuje umowę poprzez skasowanie konta albo zgłoszenie usunięcia konta 
administratowi.

8.4 CivilHub.org rozwiązuje umowę poprzez skasowanie konta użytkownika przez 
administratora.

§9. CivilHub.org zastrzega sobie prawo do usunięcia konta użytkownika w chwili naruszenia 
regulaminu oraz polityki prywatności.

§10. CivilHub.org zastrzega sobie prawo do dowolnej modyfikacji świadczonych usług, a o
zmianach poinformuje użytkowników na własnym blogu i regulaminie, jeżeli zmiany miałyby 
wpływ na treść niniejszego regulaminu. 

III Rejestracja i Konto

§11. Rejestracja polega na wypełnieniu formularza dostępnego na stronie internetowej 
CivilHub.org

11.1 Użytkownik akceptując regulamin podczas rejestracji oświadcza iż zapoznał i zgadza sie z 
jego treścią oraz potwierdza autentycznośc danych podanych podczas rejestracji.

§12. Poprawne przeprowadzanie rejestracji użytkownika jest możliwe tylko i wyłącznie poprzez 
podanie następujących danych: nazwa użytkownika, imię, nazwisko, adres e-mai i hasło. W 
przypadku usunięcia tych danych użytkownik traci możliwość korzystania z usług.

§13. W przypadku stwierdzenia podania nieprawdziwych danych przez użytkownika 
administrator ma prawo zablokować lub usunąć konta.

§14. W przypadku zablokowania konta użytkownik nie ma prawa utworzyć kolejnego bez 
zezwolenia administratora CivilHub.org 

§15. Użytkownik może utworzyć tylko jedno konto osobiste.

§16. Zabronione jest udostępnianie swojego konta innym osobą.

§17. Zabronione jest korzystanie z kont należących do innych użytkowników.

§18. Zabronione jest tworzenie konta dla innej osoby bez jej pozwolenia.

§19. Użytkownik jest zobowiązany dbać o rzetelność i aktualność swoich danych.

§ 20. Użytkownik tworząc konto może dodać do profilu zdjęcie pod warunkiem że przedstawia 
jego osobą oraz nie przedstawia treści wuglarnych.

20.1 Administrator CivilHub.org zastrzega sobie prawo do usunięcia zdjecią użytkownika bez 
jego powiadomienia jeśli uzna, że jest ono niewłaściwe.

20.2 Uporczywe dodawanie zdjęć o niewłaściwej tematyce będzie skutkować usunięciem konta 
użytkownika.

20.3 Zabronione jest udostępnianie nieautoryzowanych komunikatów komercyjnych np. spamu
 w CivilHub.org

IV Odpowiedzialność i Bezpieczeństwo

§21. CivilHub.org nie ponosi odpowiedzialności za treść i formę materiałów i informacji 
umieszczonych w CiviliHub.org przez użytkowników. 

§22. Zabronione jest publikowanie na CivilHub.org treści lub wykonywanie jakichkolwiek 
czynności, które naruszają lub łamią prawa innej osoby, albo są w inny sposób sprzeczne z 
prawem.

§23. CivilHub.org zastrzega sobie prawo do usunięcia dowolnej treści lub informacji podanej 
przez użytkownika jeśli będzie ona sprzeczna z poniższym regulaminem.

§24. CivilHub.org nie ponosi odpowiedzialności za treści wysyłane w wiadomościach pomiędzy 
użytkownikami

§25. Użytkownik ponosi pełną odpowiedzialność za złamanie prawa oraz szkodę wywołaną jego 
działaniami w CivilHub.org.

§26. CivilHub.org nie ponosi odpowiedzialności za szkody powstałe w wyniku awarii i przerwy 
w funkcjonowaniu CivilHub.org.

§27. CivilHub.org nie udziela gwarancji prawidłowego działania CivilHub.org w całości lub w 
części.

§28. Zabrania się umieszczania i rozpowszechniania w CivilHub.org haseł komputerowych, 
kodów dostepu, treści obraźliwych, bezprawnych, nagannych moralnie lub naruszających 
powszechnie dobre obyczaje. 

§29. Zabronione jest wykonywanie jakichkolwiek czynności, które mogłyby przeciążyć, 
wyłączyć lub ograniczyć prawidłowe funkcjonowanie CivilHub.org 

§30. Zabronione jest wykorzystywanie CivilHub.org do celów niezgodnych z prawem, 
wprowadzających w błąd, złośliwych lub dyskryminujących.

§31. Zabronione jest publikowanie treści które promują nienawiść, zawieraja groźbę lub 
pornografię, zawierają elementy nagości a także drastyczną przemoc.

		</ul>
		</div>
	</div>
</div>
{% endblock %}