.all-entries {
	background: none repeat scroll 0 0 #fff;
    border: 1px solid #dedede;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 0 15px 15px;
}

.blog-detail {
	
	padding-left: 0px;
	
	.news-header {
		margin-left: -30px;
	}
    
	.news-contetn {
		padding-right: 25px;
	}
	
	.entry-avatar-col {
		
		padding-top: 20px;
		
		.user-avatar {
			display: table;
			margin: auto;
			width: 60px;
			height: 60px;
			border-radius: 50%;
			-moz-border-radius: 50%;
			-webkit-border-radius: 50%;
			margin-bottom: 6px;
			margin-top: 3px;
			padding: 4px;
			border: 1px solid #eee;
		}
		
	}

}
