/*
 * carousel.less
 * =============
 *
 * Custom styles for Bootstrap Carousel and controls.
 */

.civ-carousel-indicators {
  list-style-type: none;
  margin: 10px 0px;
  padding: 0px;
  li {
    display: inline-block;
    margin-left: 5px;
    &:first-of-type { margin-left: 0px; };
  }
}
.civ-carousel{/*max-width: 750px;*/ max-width:600px; height: 400px; background: rgba(94, 94, 94, 0.1);
  .carousel-control{ &.right, &.left{ background: transparent; } }
  .carousel-inner{ height: 100%;/* img{ cursor: pointer; } */}
  .item { height: 100%;
    img{
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      max-height: none;
    }
  }
}
