.comment {
  /*margin-bottom: 0px;*/
  min-height: 57px;
  a{ color: #8c8c8c;
    &:hover{ color: #0083FB; }
  }
  p,a{ font-size: 12px; }
  .comment-total-votes { margin-right: 10px; }
  .comment-main-col {
    padding-left: 50px;
    padding-right: 0px;
    & > small{ & + a { margin-left: 2px; } }
    &:hover{
      .comment-controls{ opacity: 1; }
    }
    &.comment-removed {
      background-color: #adadad;
      >.comment-content {
        color: #ff0000;
      }
    }
  }
  .comment-author-name { color: #0087ff; }
  .comment-date-from-now{ color: #8c8c8c; }
  .comment-badge{ margin: 0 1px; font-size: 10px; font-weight: 400; padding: 2px 5px;}
  .comment-controls {
    opacity: 0;
    float: right;
    transition: all .3s
  }
  /*.subcomments { margin-top: 0px; }*/
  /*.comment-content {
    font-size: 14px;
    line-height: 20px;
  }*/
  /*commentNext{
      margin-top: 0px;
  }*/
  &.selected {
    border: 1px solid #ff0000;
  }
}

//new comments in activities
.ac-comment{ //div in activity
  .comment-toggle, .show-more{ display: inline-block !important; margin-bottom: 15px; }
}

.ac-comment-ac{
  color:#0083FB;
  padding: 0 15px 10px;
  display: inline-block;
  text-decoration: none;
}

.comment-area{
  display: none;
}
/* Comments */
//old comments {% comment %} in commentlist.html
/*.commentformarea {
  margin-left: 0px !important;
  margin-right: 0px !important;
  .avatarCommentsAutor{
    padding: 0;
    //margin-right: -15px;
    img{
      width: 40px;
      height: 40px;
    }
  }*/
  //ukryte w js sortowanie
/* #comment-order-controls{
  margin-top: -20px;
  padding-bottom: 20px;
  font-size: 12px;
 }*/
/* #user-comment-form{
  margin-right: -30px;
 }*/
  /*textarea{
  border-radius: 0;
  box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  resize: vertical;
  overflow: hidden;
  }
  width: 100%;
  .current-user-comment-avatar {
    margin-top: 10px;
  }*/
  /*.btn-submit-comment-main {
    float: right;
  }*/
/*}*/
/* // Comments */

/*@media all and (max-width: 768px) {
  #comments {
    .comment {
      .col-sm-11 { padding-left: 50px; }
    }
  }
}*/

.customEntry-comments{
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  border-bottom: 1px solid #5B5757;
  margin-bottom: 10px;
  .custom-comments-toggle{
    float: right;
    text-decoration: none;
  }
}
.filters{
  font-size: 12px;
  margin-bottom: 20px;
 }

.postbox{ position: relative;
  .avatar{
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
  }
  .textarea-wrapper{ margin: 0 0 15px 50px; }
}

.ngo-badge-group{
  clear: left;
  display: block;
  text-align: center;
  font-size: 10px;
}
.ngo-badge{
  .badge-green;
  width: 14px;
  height: 14px;
  font-size: 10px;
  color: #fff;
  line-height: 13px;
  .border-radius(50%);
  display: inline-block;
  vertical-align: top;
  display: inline-block;
  margin: 1px;

}
.block-comments{
  border-top: 1px solid #DEDEDE;
  background-color: #F6F8F8;
  .avatar{ &, img{ width: 32px; height: 32px; margin-top: 1px; } }
  .textarea-wrapper{ margin: 0 0 15px 40px; position: relative; textarea{ resize: none; } }
  .btn-add-comment-fa{
    border: 0 none;
    background: transparent;
    position: absolute;
    top: 8px;
    right: 3px;
  }
  .comment-area{ padding-top:15px; }
  .comments{
    font-size: 12px;
    line-height: 16px;
    word-wrap: normal;
    word-break: break-word;
    .comment-main-col{ padding-left: 40px;}
    .comment-avatar-col{
      img{ width:32px; height: 32px;}
    }
  }
  .subcomments{
    .comment-main-col{
      padding-left: 25px;
    }
    .comment-avatar-col{
      img{ .user-avatar-minithumb; }
    }
  }
}

/**
 * Vote summary window
 */

.comment-vote-summary {
  display: none;
  position: absolute;
  background-color: #f6f8f8;
  list-style: none;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);

  max-height: 400px;
  overflow: auto;
  min-width: 200px;

  li {
    padding: 2px 0;
    a{
      font-weight: 700;
      display: block;
      color: #7B7B7B;
      &:hover{ color: #000; }
    }
    &:first-of-type {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &:last-of-type {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  img {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-right: 2px;
  }
}

.civ-original-output {
  margin: 0px;
  padding: 0px;
  display: none;
}
