/*
 * create-form.less
 *
 * Style dla rozmaitych formularzy, wbrew pozorom nie tylko tworzących nowe
 * elementy contentu.
 */

.create-form {
    
    /*
     * Ukrywamy elementy, które zastąpimy Google mapą.
     */
    #id_latitude,
    #id_longitude,
    label[for=id_latitude],
    label[for=id_longitude] {
        display: none;
    }  
    
    /*
     * TODO: to na pewno da się zdefiniować w samym Bootstrapie
     */
    .btn[type=submit] {
        background: -webkit-linear-gradient(top,  #269fe4 0%,#1986d9 100%);
        background: linear-gradient(to bottom,  #269fe4 0%,#1986d9 100%);
        border: 1px solid #407DCD;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
        
    }
    
    /* 
     * Wyświetlanie błędów w alertach - bez tej reguły formularze będą się 
     * rozpadać.
     */
    .alert {
        clear: both;
    }
    
    /*
     * Element wyświetlający aktualnie wybraną miejscowość w formularzu tworzenia
     * nowej lokalizacji.
     */
    .indicator {
        margin-top: 15px;
    }
}

/*
 * Podgląd obrazu w formularzach zmiany tła i avatara.
 */
#img-preview {
    margin-bottom: 35px;
}