
.create-form {
    margin-top: 15px;
    
    label {
        display: inline-block;
        float: left;
        padding-top: 5px;
        text-align: right;
        width: 10%;
        font-weight: normal;
    }
    
    input, 
    textarea,
    select,
    #cke_id_question,
    #cke_id_description,
    #id_tags_tagsinput {
        display: inline-block;
        vertical-align: middle;
        width: 88%;
        margin-left: 2%;
        margin-bottom: 15px;
    }
    
    input[type=checkbox] {
        width: 8%;
        margin-right: 80%;
        margin-left: 10px;
    }
    
    textarea { resize: vertical; }
    
    #cke_id_question,
    #cke_id_description {
        width: 87%;
    }
    
    #id_latitude,
    #id_longitude,
    label[for=id_latitude],
    label[for=id_longitude] {
        display: none;
    }
    #map {
        width: 88%;
        margin-left: 12%;
        padding: 15px 0;
    }
    #google-map-canvas {
        width: 100%;
        display: table;
        margin: 0 auto;
    }
    
    h3 {  margin: 30px; }
    
    a { color: #fff !important; }
    
    .form-group {  margin-left: 12%  }
    
    .btn {  margin: 5px 5px 5px 0; }   
    
    .btn[type=submit] {
        margin: 5px 5px 5px 0;
        background: -webkit-linear-gradient(top,  #269fe4 0%,#1986d9 100%);
        background: linear-gradient(to bottom,  #269fe4 0%,#1986d9 100%);
        border: 1px solid #407DCD;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
        
    }
    
    .file-input-wrapper {
        margin-left: 2%;
    }
}