/*
 * flash-messages.less
 * ===================
 *
 * User notifications in form of bootstrap messages. This stylesheet works
 * with scripts from `ui` section of the main application.
 */

#messages {
  position: fixed;
  left: 0px;
  top: 50px;
  width: 100%;
  margin: 0px;
  z-index: 500;

  .alert {
      /*-webkit-animation: animation 1600ms linear both;*/
      /*animation: animation 1600ms linear both;*/
    opacity: 0.8;

    &.active {
      opacity: 1;
    }
  }
}

@media all and(min-width: 768px) {
  #messages {
    left: 100%;
    width: 300px;
    margin: 25px 0px 0px -325px;
  }
}

#cookie-msg {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    z-index: 500;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    
    .alert {
        background: #7e7e7e;
        border: 1px solid #696969;
        color: #fff;
        padding: 0 20px 0 20px;
        margin: 0;
      
            
        a {
            color: #fff;
            font-size: 12px;
        }
      
        .btn {  
            background: #000;
            margin: 5px 0px 5px 10px;
            height: 30px;
            padding: 5px 10px 5px 10px;
        }
    }

}

@media all and(min-width: 768px) {
  #cookie-msg {
    width: 100%;
  }
}