.footer {

	background: #fff;
	height: 150px;
	padding-top: 30px;
	border-top: 1px solid #dedede;

	a:hover {
		text-decoration: none;
	}
	
	.left-side {
		text-align: right;
		
		a {
			margin-right: 18px;
		}
	}
	
	.right-side {
		text-align: left;
		
		a {
			margin-left: 18px;
		}
	}
	
	img {
		border: 0;
		width: 115px;
		display: table;
		margin: 0 auto
	}

	.share-buttons {
		margin-top: 30px;
		
		div {margin-left: 5px !important; margin-right: 5px !important;}
		iframe {margin-left: 5px !important; margin-right: 5px !important;}
		
	}
	
	.fb-like.fb_iframe_widget span{
		vertical-align: baseline !important;
	}

}