/*
 * Gallery stylesheet
 */

/* Single picture view */
.picture-main-view {
  img {
    max-width: 98%;
  }
}


@media (max-width: 768px) {

    .content-add-button {
        margin: 20px auto;
        .btn {
            width: 100%;
        }
    }

    .gallery-row{
       .col-sm-3{
        display: inline-block;
        } 
    }
    
    .thumbnail {
        display: inline-block;
        img {
            width: 100%;
        }
    }
}

@media(max-width: 500px){
    .gallery-row{
        text-align: center;
    }
}

@media (min-width: 768px) {

    .gallery-row {

        height: 300px;
        margin-bottom: 20px;
        
        .col-sm-3, .col-sm-4 {
        
            .thumbnail {
                height: 100%;
                position: relative;
                
                .controls {
                    position: absolute;
                    left: 0px;
                    top: 100%;
                    width: 100%;
                    display: block;
                    text-align: center;
                    margin-top: -30px;
                }
            }
        }
        
        .col-sm-3 {
            height: 300px;
        }
        
        .col-sm-4 {
            height: 260px;
        }
    }
}

.picture-horizontal-gallery{
  .panel-disc{
    max-height: 140px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.picture-Carousel{
  .carousel-inner{
    height: 240px;
    img{ width: 100%; height: 240px;}
  }
}

// Masonry gallery
.civgrid {
    display: none;
}

.m-gallery-loader {
    font-size: 50px;
    margin: 40px 0;
}

.m-gallery-container {
    margin-top: -12px;
    & .content-image {
        width: 100%;
        border-bottom: 1px solid #bfbfbf;
    }
}

.grid-sizer,
.grid-item { width: 22.1%; }

.grid-item {
    border-radius: 10px;
    border: 1px solid #bfbfbf;
    overflow: hidden;
    margin: 12px;
}

.m-gallery-contentPX {
    padding-left: 3px;
    padding-right: 3px;
}

.m-gallery-description {
    padding: 10px;
    font-size: 12px;
    color: #3c3c3c;
    & p {
        margin: 0;
    }
    & h4 {
        margin-top: 0;
    }
}

.m-gallery-separator {
    height: 1px;
    background: #bfbfbf;
    width: 100%;
}

.m-gallery-user-avatar {
    float: left;
    padding: 4px 0;
    & img {
        width: 20px;
        height: 20px;
        border-radius: 100px;
    }
}

.m-gallery-user-info-container {
    padding: 10px;
}

.m-gallery-user-info {
    margin-left: 30px;
    font-size: 10px;
    color: #3c3c3c;
    & p {
        margin-bottom: 0;
    }
}

.m-gallery-post-date {
    color: #666666;
}

.mod-controls {
  text-align: center;
  padding: 10px;
  font-size: 10px;
}

/* media queries */
@media screen and (max-width: 1199px) {
    .grid-sizer,
    .grid-item {
        width: 28.9%;
    }
}

@media screen and (max-width: 991px) {
    .grid-sizer,
    .grid-item {
        width: 28.9%;
    }
}

@media screen and (max-width: 598px) {
    .grid-sizer,
    .grid-item {
        width: 45%;
    }
}

@media screen and (max-width: 523px) {
    .grid-sizer,
    .grid-item {
        width: 95%;
    }
}
