.signup-view-background {
	background: #fff url("/static/places_core/img/civilhome.jpg") center repeat;
	background-size: 1440px 632px;
	margin-left: -150px;
	margin-right: -150px;
	padding-top: 60px;
	padding-bottom: 38px;
}
.signup-view {
	h1 {
		color: #fff;
		text-align: center;
		font-size: 60px;
		font-weight: bold;
		text-shadow: 0 2px #40403b;
	}
		
	.half {
		width: 50%;
		float:left;		
		
		.start-text {
			margin-left: 155px;
			color: #fff;
			text-shadow: 0 2px #40403b;
			
			h2 {
				
				font-size: 50px;
				color: #fff;
			}
			
			p {
				
				font-size: 30px;
				color: #fff;
			}	
		}
		
		form {
			margin-left: 60px;
			margin-top: 12px;	
			width: 340px;
			height: 425px;
			background: rgb(0, 0, 0);
			background: rgba(0, 0, 0, .55);
			border-radius: 5px;
			padding: 15px;

			
			input {
				background: #fff;
				border-radius: 5px;
				border: 1px solid #2e2b27;
				font-size: 18px;
				font-weight: 500;
				color: #878787;
				margin-bottom: 10px;
				padding: 8px 12px;
			}
			
			img {
				margin-top: 5px;
				width: 150px;
				height: 30px;
				float: left;
				margin-bottom: 15px;
			}
		}
		.long {
			width: 310px;
			height: 40px;
		}
		.short {
			width: 150px;
			height: 40px;
			float: left;
		}
		.short-left {
			margin-right: 10px;
		}
		
		.signup-button {
			background: #84bd00;
			border: 1px solid #2e2b27;
			border-radius: 5px;
			color: #fff;
			font-size: 18px;
			font-weight: bold;
			
		
		}
		
		.terms {
			margin-top: 10px;
			color: #fff;
			font-size: 11px;
			text-align: left;
			margin-left: 0px;
		}
	}
}

.why-view {
	color: #454545;
	text-align: center;
	h2 {
		color: #454545;
	}
	a {
		color: #0384fc;
	}
}
