.idea-entry {
    
    .idea-content {
        
        
        
    }
    
    .tag-list,
    .category-list,
    .comments-controls {
        
        font-size: 12px;
        font-weight: 700;
        line-height: 25px;
        
        a {
            
            color: @link-hover-color;
            font-weight: 400;
            
        }
        
    }
    
    .category-list {
        
        
        
    }
    
    .comments-controls {
        
        
        
    }
    
}
