/*
 * location-navbar.less
 * 
 * Style dla pasków nawigacji w widoku lokalizacji.
 */


/* Pasek z sub-lokalizacjami */

#location-chain-menu {
  border-radius: 0px;
  border-left: 0px;
  border-right: 0px;
  margin-bottom: 0px;
  margin-top: 4px;
  @media(min-width: 991px){
    z-index: 20;
  }

  .navbar-nav {
    margin-left: -15px;
    position: static;
    
    .dropdown-menu {  
      border-radius: 6px;
      
      li {
        >a, >a.active {
          color: #000;
        }
      }
    }
    
    >li {

      .maker-globe-point{
        margin-top: 12px;
        margin-bottom: -4px;
        height: 18px;
        width: 18px;
        display: inline-block;
        background-image: url(../img/globe_point.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        @media 
        (-webkit-min-device-pixel-ratio: 2), 
        (min-resolution: 192dpi) { 
            background-image: url(../img/globe_point@2x.png);
        }
      }
        
      &>a, &>a {      
        border-right: none;
        font-weight: normal;
        //font-size: 12px;
        //line-height: 15px;
        //padding: 10px 15px;
        font-size: 13px;
        padding: 13px 10px;
        line-height: 16px;
        color: #595959;
        text-shadow: none;

        

      }
        
      &:not(:first-child) {
            
        &>a, &>a.active {
          //padding-left: 20px;
          padding-left: 10px;
        }
            
        &>a.active {
          color: #2889de;
        }
      } 
      
      &.first-indicator {
        &>a, &>a.active {
          display: block;
          width: 100%;
          height: 100%;
          line-height: 42px;
          padding: 0px 0px 0px 0px;
          margin: 0px 0px 0px 0px;
        }  
      }
      
      &.breaker {
        display: block;
        //height: 35px;
        //width: 30px;
        height: 42px;
        width: 15px;

        &>a, &>a.active {
          display: block;
          width: 100%;
          height: 100%;
          padding: 0px;
          //line-height: 35px;
          line-height: 42px;
          text-align: center;
        }
      }
      
      &.active {
        color: #2889de;
        
        a {
          color: #2889de;
        }
      }
    }
  }
}


/* Menu sub-lokalizacji */

.ancestors-menu {
  min-width: 250px;
  max-height: 220px;
  top: 150%;
  //margin-left: -10px;
  margin-left: -31px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 6px;

  background-color:#404040;
  

  border: 0px none;

    button.close{
        padding: 8px 10px 0 0;
        font-size: 16px;

    }

  ul {
    height: 100%;
    max-height: 139px;
    overflow-x: hidden;
    overflow-y: auto;
    list-style-type: none;
    padding: 0px;
    margin: 0px;

    background-color: #FFF;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
    li {
      a {
        //display: inline-block;
        display: block;
        &:hover{
            color:#FFF !important;
        }
      }
      
      &:hover {
        //background-color: #2889de;
        background: #0083fb;
        color: #FFF;
      }
    }
  }
  
  a, a:active, a:hover {
    color: #fff;
    font-size: 15px;
    line-height: 27px;
    padding-left: 15px;

  }
  
  .dropdown-title {
    //background: #404040;
    background: #4d4747;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    
    h4 {
      margin: 0px;
      padding-left: 20px;
      width: 100%;
      height: 100%;
      //color: #fff;
      color: #0083fb;
      background: #FFF;
      //line-height: 2em;
      //font-size: 18px;
      font-size: 15px;
      line-height: 36px;
      border-bottom: 1px solid #DEDEDE;
      border-top-left-radius: 5px;
      -webkit-border-top-left-radius: 5px;
      -moz-border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -moz-border-top-right-radius: 5px;
      a {
        display: inline-block;
        float: right;
        padding: 3px 10px 0px 0px;
        color:#bfbfbf;
        
        &:active, &:hover, &:focus {
          outline: 0;
        }
      }
    }
    
    .search-title {
      display: none;

      form {
        width: 90%;
        margin: 0px auto;
        
        input {
          width: 100%;
          //margin-bottom: 10px;
          border-radius: 50px;
          -webkit-border-radius: 50px;
          -moz-border-radius: 50px;
          max-height: 22px;

        }
      }
    }
  }
  
  &:before {
    position: absolute;
    top: -7px;
    left: 30px;
    z-index: 1001;
    display: inline-block;
    border-right: 7px solid transparent;
    //border-bottom: 7px solid #404040;
    border-bottom: 7px solid #FFF;
    border-left: 7px solid transparent;
    //border-bottom-color: #404040;
    border-bottom-color: #FFF;
    content: '';
  }
}


/* Dolny pasek nawigacji */

#location-navbar {
  background: #f2f2f2;
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px;
  .default-box-shadow;
  min-height: 35px;
  @media(min-width: 991px){
    z-index: 20;
  }
  .navbar-nav {
    
    li {
      .btn-link-fix{ border: 0; text-decoration: none;}
      a, .btn-link-fix {
        font-size: 12px;
        line-height: 15px;
        //padding: 10px 15px 10px 25px;
        padding: 12px 15px 12px 15px;
        position: relative;

        color: #4d4747;
        text-transform: uppercase;

        
        >span {    
          position: absolute;
          top: 5px;
          left: 2px;  
        }
      }
      
      &:first-child {
        
        a {
          //padding-left: 15px;
          //padding-left: 0px;
          margin-left: -15px;
          @media(max-width: 768px){
            margin-left: 0;
          }
          >span.ch-icon {   
            left: -10px;  
          }
        }
      }
    }
  }
}

.dropdown-submenu{
  position: relative;
  >.dropdown-menu{
    top: 0 !important;
    left: 100%;
    margin-top: -1px;
    margin-left: -1px;
    padding: 0;
    .border-radius(0 4px 4px 4px);
    &:before{
      display: none;
    }
  }
  &:hover{
    .dropdown-menu{
      display: block;
    }
  }
  @media(min-width: 768px){
    >a{
      &:after{
        display: block;
        content: "";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #CCC;
        margin-top: 5px;
      }
    }
  }
}


#navbar{
  position: relative;
  top: -71px;
}
#idea-location-navbar{
  background: #FFFFFF none;
  border: none;
  border-radius: 0px;
  min-height: 35px;
  .navbar-header{ background-color: #f2f2f2; border-top: 1px solid #DEDEDE; border-bottom: 1px solid #DEDEDE; }
  .navbar-collapse.p-reset{
    @media(max-width: 768px){ border: 0 none; }
  }
  @media(min-width: 991px) and (max-width: 1200px){ margin: 0 -20px; .pull-right{ float: none !important; } .navbar-collapse.p-reset{ padding: 0 15px !important; } }
}
#idea-location-navbar .navbar-header .navbar-toggle{
  margin-bottom: 10px;
  margin-top: 10px;
}
#idea-location-navbar .navbar-nav{
  &>li{
    display: block;
    @media(min-width: 768px){ display: inline-block; }
    position: relative;
    >a{
      display: inline-block;
      color: #4d4747;
      padding-top: 12px;
      padding-bottom: 12px;
      @media(max-width: 768px){ display: block; }
      @media(min-width:991px) and (max-width: 1200px){ /*padding: 7px;*/ font-size: 14px; }
    }
    .badge{
      /*position: absolute;
      top: 50%;
      margin-top: -5px;
      left: 100%;*/

      display: inline-block;
      @media(max-width: 768px){ position: absolute; top: 15px; right: 0; }
    }
  }
  &.col-sm-4{
    @media(max-width: 1200px){ text-align: right; padding: 0; }
    @media(max-width: 991px){ display: none; }
  }
  &.col-sm-8.pr0{ 
    @media(min-width: 1200px){ margin-left: -5px; }
    @media(max-width: 1200px){ padding-left: 0; }
    @media(max-width: 991px){ width: 100%; }
    @media(max-width: 768px){ margin: 0; padding: 0 15px; background-color: #f2f2f2; .pull-right{ float: none !important; } }
  }
}
