#location-chain-menu {
    
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-bottom: 0px;
    
    .navbar-nav {
        
        margin-left: -15px;
        
        .dropdown-menu {
                  
          a,
          a.active {
            
            color: #000;
            
          }
          
        }
        
        li {
            
            a,
            a.active {
                
                border-right: 1px solid #616161;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                padding: 10px 15px;
                color: #fff;
                text-shadow: none;
                
            }
            
            &:not(:first-child) {
                
                a,
                a.active {
                    
                    padding-left: 15px;
                    
                }
                
            }
            
        }
        
    }
    
}

#location-navbar {
  
  border-top: 1px solid #7d7d7d;
  border-bottom: 1px solid #676767;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px;
  
  .default-box-shadow;
 
  min-height: 35px;
  
  .navbar-nav {
    
    li {
      
      a {
        
        font-size: 12px;
        line-height: 15px;
        padding: 10px 15px 10px 25px;
        position: relative;
        
        >span {
            
            position: absolute;
            top: 5px;
            left: 2px;
            
        }
        
      }
      
      &:first-child {
        
        a {
          
          padding-left: 15px;
          
          >span.ch-icon {
              
              left: -10px;
              
          }
          
        }
        
      }
      
    }
    
  }
  
}