.main-page-content {
    
    margin-top: -3px;

    .main-content {
        
        .default-box-shadow;
        background: #fff;
        border-radius: 5px;
        padding: 0 15px 15px 15px;
        margin-bottom: 30px;
        
        a {
            
            color: @link-hover-color;
            
            &:hover {
                
                text-decoration: none;
                
            }
            
        }
        
    }
    
}

@media all and (max-width: 768px) {
    
    .main-page-content {
        
        main-content {
            
            margin-bottom: 30px;
            
        }
        
    }
    
}
