/* 
 * Google Maps View 
 */

#map-options-toggle {
  position: absolute;
  left: 31px;
  top: 400px;
  font-size: 28px;
  z-index: 5000;
}

#map-options-panel {
  position: absolute;
  z-index: 5000;
  left: 25px;
  top: 450px;
  width: 110px;
  opacity: 0.7;
  background-color: #fff;
  border-radius        : 10px;
  -moz-border-radius   : 10px;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 1px 0px 3px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow   : 1px 0px 3px 0px rgba(50, 50, 50, 0.75);
  box-shadow        : 1px 0px 3px 0px rgba(50, 50, 50, 0.75);
  ul {
    margin: 0px;
    padding: 6px;
    list-style-type: none;
    li {
      input {
        float: right;
      }
    }
  }
}
