/*
 * modal-windows.less
 * 
 * W zamierzeniu powinny się tutaj znaleźć wszystkie style powiązane z dodatko-
 * wymi okienkami otwieranymi w modalach (tych z BS i tworzonych 'ręcznie').
 */

/******************************************
 *            GOOGLE CONTACTS             *     
 ******************************************/
#contact-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
}