.privacy-page-content {
	
	
	-webkit-font-smoothing: antialiased;
	
	.privacy-content {

        background: #fff;
        border-radius: 5px;
        padding: 20px 40px 20px 0px;
        margin-bottom: 30px;
		margin-top: 30px;
		-webkit-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.5);
		-moz-box-shadow:    0 0 5px 0 rgba(50, 50, 50, 0.5);
		box-shadow:         0 0 5px 0 rgba(50, 50, 50, 0.5);
		
		h4 {
			font-size: medium;
			font-weight: bold;
		}
		
		p {
			text-align: justify;
			text-justify: inter-word;
			text-indent: 30px;
			margin: 0 0 30px;
		}
		
		ul {
			list-style-type: none;
			margin-left: 0px;
		}
		
	}

}
