.sidebar {
    padding: 0px;
    border: 1px solid #dedede;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
        
    .clear {
        margin-bottom: 15px;
    }
        
    .sidebar-label {
        font-size: 16px;
        line-height: 25px;
        margin-top: 0;
        color: #666;
        border-bottom: 1px solid #dedede;
        padding: 5px 20px;
        
    }
    
    
    .sidebar-content {
        width: 100%;
        padding: 10px;
    }
    
    ul {
        list-style-type: none;
        padding-left: 0px;
    }
    
    .custom-sidebar-nav {

        /*box-shadow: none;*/
        //padding-left: 25px;
        padding-left: 5px;
        
        li {
            
            padding-top: 2px;
            padding-bottom: 2px;
            
            a {
                
                font-size: 12px;
                color: #5e5e5e;
                position: relative;
                padding-left: 25px;
                
                >span.ch-icon {
                    
                    position: absolute;
                    top: -4px;
                    left: 0px;
                    
                }
                
                &:hover {
                    
                    color: @link-hover-color;
                    text-decoration: none;
                    
                }
                
            }
            
        }
        
    }
    
    

    //sidebar z wiadomosci
    &.inboxSidebar{
        ul#postman_menu{
            padding: 12px 0;
            margin: 0;

            li{
                a{
                    font-size: 15px;
                    line-height: 31px;
                    color: #4d4747;
                    text-decoration: none;
                    display: block;
                    padding-left: 23px;
                    padding-right: 23px;
                    &:hover{
                        color: #FFF;
                        background: #0083fb;
                    }
                }
            }
        }
    }
        
}
.followers-box {
    
        .follower{
            width: 30px;
            height: 30px;
            float: left;
            margin: 1px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            overflow: hidden;
            img{
                width: 100%;
            }
        }
    }
.sidebar.left {
    margin-right: 0px;
}


@media (min-width: 768px) {

    .sidebar {
        margin-bottom: 40px;
        margin-right: -15px;
    }
}


//sidebar na 300px przy col-sm-3 i zmniejszenie col-sm-9 o sidebar

.col-sm-9{
    &.contentPX{
        max-width: 825px;
    }
}

.col-sm-3{
    &.boxPX{
        .sidebar{
            width: 300px;
        }
    }
}
