/* Tag cloud */
.tags ul{
    margin: 0;
    padding: 0px;
    text-align:left;
    }
.tags li{
    margin:0px 0px 5px 0px;
    padding:0px 0px 0px 4px;
    list-style:none;
    display:inline-block;
    }
.tags li a{
    text-decoration:none;
    color:#fff;
    //padding:0 2px;  
    }
.tags li a:hover{   
    //color:#cff400;
    }       

.tag1{font-size:100%;}
.tag2{font-size:120%;}
.tag3{font-size:140%;}
.tag4{font-size:160%;}
.tag5{font-size:180%;}

/* alternative layout */

.tags .alt{
    text-align:left;
    padding:0;
    background:none;
    }
.tags .alt li{
    padding:2px 10px;
    background:#efefef;
    display:block;
    }
.tags .tag1, 
.tags .tag2, 
.tags .tag3, 
.tags .tag4, 
.tags .tag5{font-size:100%;
    a{
        padding: 3px 9px;
        margin-right: 2px;
        white-space: nowrap;
        display: inline;
        font-size: 10px;
        line-height: 10px;
        color: #fff;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        background: #48B0F7;
    }
}
/*
.tags .tag1{background:#7cc0f4;}
.tags .tag2{background:#67abe0;}
.tags .tag3{background:#4d92c7;}
.tags .tag4{background:#3277ad;}
.tags .tag5{background:#266ca2;}
*/
/* // Tag cloud */

/* Single tag */


.tag {
    background: url(/static/places_core/img/tag/center.png) 16px 0 repeat-x;
    background-size: 1px 30px;
    line-height: 36px;
    padding: 6px 4px 7px 4px;
    position: relative;
    margin-left: 18px;
    margin-right: 8px;
    color: #5e5e5e !important;
    font-size: 12px;
}

.tag:before {
    background: url(/static/places_core/img/tag/left.png) 0 0 no-repeat;
    background-size: 18px;
    position: absolute;
    content: "";
    height: 30px;
    width: 16px;
    top: 0;
    right: 100%;
}
.tag:after {
    background: url(/static/places_core/img/tag/right.png) 0 0 no-repeat;
    background-size: 6px;
    position: absolute;
    content: "";
    height: 30px;
    width: 6px;
    top: 0;
    left: 100%;
}




a.newTag{

    padding: 3px 9px;
    margin-right: 2px;
    white-space: nowrap;
    display: inline;
    font-size: 10px;
    line-height: 10px;
    color: #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    background: #48B0F7;
}








