#navbar-top {
    
    min-height: 0px;
    margin-bottom: 0px;
    border-bottom: 1px solid #dedede;
    
    #logo {

        font-family: Lato, "Helvetica Neu", Helvetica, Arial, sans-serif;
        font-size: 18px;
        font-weight: 700;
        color: #424141;
        padding-top: 0px;
        padding-bottom: 0px;
        //line-height: 45px;
        //height: 45px;
        line-height: 68px;
        height: 68px;
        
        img {
        
            height: 30px;
            margin-top: -3px;
            
        }

        .logo_beta{
            background: #84bd00;
            color: #fff;
            font-size: 9px;
            text-transform: uppercase;
            font-weight: 600;
            padding: 0px 8px;
            border-radius: 3px;
            position: relative;
            top: -8px;
            margin-left: 6px;
        }
        
    }
    
    .navbar-form[role=search] {
        
        position: relative;
        //margin-top: 12px;
        margin-top: 23px;
        margin-bottom: 23px;
        margin-left: 20px;
        margin-right: 0px;
        
        input[type=text] {
            
            padding-top: 1px;
            padding-bottom: 0px;
            //height: 22px;
            height: 24px;
            border-radius: 0px;
            border: 1px solid #c6c6c6;
            
            -webkit-border-top-left-radius: 12px;
            -webkit-border-bottom-left-radius: 12px;
            -moz-border-radius-topleft: 12px;
            -moz-border-radius-bottomleft: 12px;
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
            
            font-size: 9px;
            //line-height: 1;
            line-height: 2;
            color: #767676;
            width: 180px;
            @media(max-width: 991px){
                width: 100%;
            }
            
        }
        
        .form-group {
            
            display: inline-block;
            height: 21px;
            
        }
        
        .search-button {
            
            //height: 22px;  
            height: 24px;

            border: 1px solid #c6c6c6;
            display: inline-block;
            border-left: 0px;
            position: absolute;
            top: 0px;
            right: -30px;
            width: 30px;
            text-align: center;
            -webkit-border-top-right-radius: 12px;
            -webkit-border-bottom-right-radius: 12px;
            -moz-border-radius-topright: 12px;
            -moz-border-radius-bottomright: 12px;
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
            background: none repeat scroll 0 0 #fff;
            
            span {
                
                font-size: 12px;
                line-height: 21px;
                position: relative;
                //top: -3px;
                //left: -3px;
                top: 0px;
                left: 0px;
                color: #9b9797;
                
            }
            
        }
        
    }
    
    .navbar-nav {
         
        >li {
        
            #username {
                padding-left: 0px;
            }
            
            >a {
                
                //font-size: 12px;
                font-size: 15px;
                //line-height: 15px;
                line-height: 18px;
                //padding: 15px 15px 15px 25px;
                padding: 25px 15px 25px 25px;
                //font-weight: 700;
                font-weight: 400;
                position: relative;

                color: #4d4747;
                text-transform: uppercase;
                &.cd-bouncy-nav-trigger{
                    padding: 25px 5px;
                    /*width: 25px;*/
                }
                &.onlyIcon{
                    //padding: 25px 14px;
                    padding: 25px 5px;

                    &:hover{
                        color: #3399F3;
                    }
                    
                   /* .message-box{
                        display: block;
                        margin-top: -1px;
                    }
                    .notifications-box,
                    .maps-boxBox,
                    .my-bookmarkBox,
                    .message-box{
                        padding-top: 2px;
                        display: block;
                        width: 20px;
                        text-align: center;
                        height: 16px;

                    }
                    .notifications-box{ font-size: 14px; }*/

                    .message-box{
                        display: block;
                        padding-top: 2px;
                        margin-top: -1px;
                        width: 20px;
                        text-align: center;
                        height: 16px;
                    }
                    /*.notifications-box{
                        display: block;
                        padding-top: 2px;
                        width: 20px;
                        text-align: center;
                        height: 16px;
                        font-size: 14px;
                    }*/
                    .maps-boxBox,
                    .my-bookmarkBox{
                        display: block;
                        padding-top: 2px;
                        width: 20px;
                        text-align: center;
                        height: 16px;
                    }

                    &.lastIco{
                        margin-right: 20px;
                    }
                    .places-icon{
                        background-image: url(../img/places-icon.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        background-position: 0 0;
                        display: inline-block;
                        width: 28px;
                        margin-top: 1px;
                        height: 15px;
                        @media
                        (-webkit-min-device-pixel-ratio: 2),
                        (min-resolution: 192dpi){
                            background-image: url(../img/places-icon@2x.png);
                        }
                        &:hover{
                            background-position: 0 100%;
                        }
                    }

                }


                
                >span.ch-icon {
                    
                    position: absolute;
                    top: 10px;
                    left: 0px;
                    
                }

                
                
            }
            
        }
        
        >li.user-profile-link {
            
            padding-left: 15px;
            
            >a {
                
                padding: 0px;
                
                &.avatar {
                    
                    display: inline-block;
                    //height: 45px;
                    height: 68px;
                    position: relative;
                    width: 30px;
                    
                    img {
                        
                        position: absolute;
                        top: 50%;
                        left: 0px;
                        margin-top: -15px;
                        border-radius: 50%;
                    }
                    
                }
                
                &.logout {
                    
                    line-height: 45px;
                    padding-left: 10px;
                    
                }
                
            }
            
        }
        
    }
 
}

.ngo-icon{
  background-image: url('../img/small-ngo-icon.png');
  height: 15px;
  width: 15px;
  background-position: 0 0;
  background-size: cover;
  display: inline-block;
  margin-top: 2px;
  @media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi){
    background-image: url('../img/small-ngo-icon@2x.png');
  }
  &:hover{
    background-position: 0 100%;
  }
}

//badge for unread_count message
.custom-badge-indicator {
    color: #fff;
    background-color: #ff0000;
    border-radius: 50%;
    font-size: 9px;
    position: absolute;
    left: 14px;
    top: 22px;

    &.badge{
        padding: 1px 3px;
    }
    @media(max-width: 768px){
        left: -5px;
        top: 8px;
    }
}

//całość do gornego menu
#bs-navbar-collapse{
  .dropdown-menu{
    top: 90%;
    /*&.bookmarks-list{
      right: -15px;
    }*/
    .divider{
      margin: 2px 0 0;
    }
    >li{
      >a{
        font-size: 15px;
        color: #2b2a2a;
        padding: 6px 10px;
        /*&:hover{
          background: transparent;
          color: #2b2a2a;
        }*/
      }
    }
  }
}
@media(max-width: 768px){
    #bs-navbar-collapse{
    /*max-height: none;*/
    ul{
      padding: 0 15px;
      margin: 0px;
      &.navbarHeader{
        &:last-child{
          margin-bottom: 10px;
        }
      }
      &.dropdown-menu{
        padding: 0px; 
        &:before{
          display: none;
        }
      }
      li{
        a{
          padding: 10px 0px !important;
          &.onlyIcon{
            display: inline-block;
            padding: 11px 0px;
            .my-bookmarkBox,
            .maps-boxBox,
            .message-box{
              width: auto !important;
            }
            &:hover{
              color: #4D4747 !important;
            }
            .rwdShow{
              display: inline;
              padding-left: 5px;
              font-family: "Lato";
            }
          }
        }
        &.dropdown{
          ul{
            li{
             /* &.divider{ display: none; }*/
              a{ padding: 6px 0px; }
            }
          }
        }
      }
    }
  }
}

.navbarHeaderLeft{
   /* margin-left: 50px;*/
  >li{
    &.nav-search{ line-height: 0; }
    >a{
      padding: 25px 8px !important;
    }
  }
    /*a.dropdown-toggle{
        padding-left: 0 !important;
    }*/
  .support-icon{
    padding-left: 0;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(../img/icon_support.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    /*margin-right: -15px;*/
    @media
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi){
      background-image: url(../img/icon_support@2x.png);
    }
    &:hover{
      background-position: 0 100%;
    }
  }
  .civilhub-icon-top{
    display: inline-block;
    background-image: url(../img/civilhub-icon-top.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    width: 10px;
    height: 18px;
    @media
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi){
      background-image: url(../img/civilhub-icon-top@2x.png);
    }
    &:hover{
      background-position: 0 100%;
    }
  }
  .search-icon-top{
    display: inline-block;
    background-image: url(../img/search-icon-top.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    width: 17px;
    height: 17px;
    margin-top: 1px;
    @media
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi){
      background-image: url(../img/search-icon-top@2x.png);
    }
    &:hover{
      background-position: 0 100%;
    }
  }
}
.navbar-header{
  .navbar-toggle{
    margin-top: 18px;
    margin-bottom: 18px;
  }
}

.navbarHeaderLeft,
.navbarHeader{
  ul{
    &:before{
      content: url('../img/msg_dzibuek.png');
      display: block;
      top: -15px;
      right: 20px;
      width:19px;
      position: absolute;
    }
  }
  >li{
    >.dropdown-menu{
      padding: 0;
      border-radius: 5px;
    }
  }
}
