/*
 * user-profile.less
 *
 * Styles for user profile/activity stream page.
 *
 */
.user-activities {

  .user-data {
  
    text-align: center;
    
    a {
      color: #007be2;
      text-decoration: none;
      &:hover {
        color: #007be2;
        text-decoration: underline;
      }
    }
    
    ul {
      list-style-type: none;
      margin: 0px 0px 15px 0px;
      padding: 0px;
      li {
        margin-bottom: 3px;
      }
      &.user-following-list {
        list-style-type: circle;
        text-align: left;
        padding-left: 20px;
        margin-left: 15px;
        li {
          margin-bottom: 1px;
        }
      }
    }
    
    .profile-page-avatar {
      width: 160px;
      height: 160px;
      margin-left: 8px;
      background-color: #ffffff;
      border: 1px solid #adadad;
      border-radius:         6px;
      -moz-border-radius:    6px;
      -webkit-border-radius: 6px;
      -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
      -moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.75);
      box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.75);
      img {
        width: 148px;
        height: 148px;
        margin: 3px 0px 0px 0px;
        border-radius:         6px;
        -moz-border-radius:    6px;
        -webkit-border-radius: 6px;
      }
    }
    
    .profile-page-details {
      margin-top: 20px;
    }
    
    .badge-thumbnail {
      width: 60px;
    }
    
    &>* {
      position: relative;
      top: -140px;
    }
  }
  
  .user-activity-stream {
    .entry-avatar-col {
      font-size: 9px;
      img {
        border-radius: 5px;
        height: 60px;
        width: 60px;
      }
    }
    
    .user-action-entry {
      font-size: 12px;
      margin-top: 25px;
      .entry-meta-col {
        .entry-header {
          margin-bottom: 7px;
          a {
            font-weight: bold;
          }
        }
        .entry-body {
      
        }
        .entry-footer {
      
        }
      }
    }
  }
  
  .fa-spin {
    display: block;
    font-size: 48px;
    margin: 30px auto;
    text-align: center;
    cursor: disabled;
  }
}