<div class="timeline-wrap <%= action_object.content_type.type %>">
  <span class="date custom-tooltip" title="<%= timestamp %>"></span>
  <a class="timeline-user" href="<%= actor.profile.url %>">
    <span class="user-window-toggle" data-target="<%= actor.id %>"><img src="<%= actor.profile.avatar %>" alt="<%= actor.full_name %>" class="user-avatar avatarH"></span>
    <span class="user-pts"><%= actor.profile.rank_pts %></span>
  </a>
  <div class="timeline-content panel">
    <span class="arrow arrow-left arrow-top"></span>
    <div class="timeline-content-head">
      <a href="<%= actor.profile.url %>"><%= actor.full_name %></a>
        <%= verb %> <%= action_object.content_type.name %>
        <a href="<%= action_object.url %>"><%= action_object.title %></a>
        <% if (!_.isNull(action_target)) { %><span class="pull-right">&nbsp;<a href="<%= action_target.url %>"><%= action_target.name %></a></span><% } %>
      <div class="clear">&nbsp;</div>
    </div>
    <div class="panel-body timeline-body">
      <% if (!_.isNull(action_object)) { %><a href="<%= action_object.url %>" class="full-click-box"></a>
      <%= action_object.description %><% } %>
    </div>
    <a href="#" class="comment-toggle"><span class="comment-count"><%= action_object.comment_count %></span> <%= gettext("comments") %></a>
    <div class="comment-area" data-ct="<%= action_object.content_type.id %>" data-pk="<%= action_object.id %>" data-count="<%= action_object.comment_count %>" style="display:none;">
      <img src="<%= CivilApp.user.profile.avatar %>" alt="<%= CivilApp.user.full_name %>" class="user-avatar avatarH">
      <textarea name="comment" id="comment" class="form-control" cols="15" rows="1"></textarea>
      <button type="submit" class="add-comment"><%= gettext("Add comment") %></button>
      <ul class="comments"></ul>
      <a href="#" class="show-more"><%= gettext("Show more") %></a>
    </div>
  </div>
</div>
