<h2><%= label %></h2>
<div><%= description %></div>
<div>
  <a class="btn vote-btn"></a>
  <p><%= gettext("People already voted") %>:</p>
  <span class="voters"></span>
</div>
<div class="customEntry-comments"></div>
<div class="commentarea" data-ct="<%= content_type %>" data-pk="<%= id %>" data-count="<%= comment_count %>">
  <div class="filters list-inline m10"><%= gettext('Order by') %>:
    <li><a href="#" data-order="new"><%= gettext("Newest") %></a></li>|
    <li><a href="#" data-order="old"><%= gettext("Oldest") %></a></li>|
    <li><a href="#" data-order="votes"><%= gettext("Most voted") %></a></li>
  </ul>
  <div class="comments"></div>
</div>
