{% extends 'locations/index.html' %}
{% load staticfiles i18n %}
{% block navigation_location %}<div class="location-page-discussion">{% include 'locations/location-navbar.html' %}</div>{% endblock %}
{% block content %}

<p>{% blocktrans %}Are you sure you want to delete this entry?{% endblocktrans %}</p>
<form role="form" action="" method="post">
    {% csrf_token %}
    {{ form }}
    <p>
        <button class="btn btn-default cancel-btn">{% trans "No" %}</button>
        <button class="btn btn-primary submit-btn">{% trans "Yes" %}</button>
    </p>
</form>

{% endblock %}
