{% extends 'locations/index.html' %}
{% load staticfiles %}{% load i18n %}

{% block require_scripts %}
<script data-main="{% static 'places_core' %}/js/build/topics/create/discussion-create-main.js" src="{% static 'places_core' %}/includes/require/require.js"></script>
{% endblock %}

{% block content %}

    <div class="col-sm-8">
        <form role="form" action="" method="post" id="discussion-create-form">
            {% csrf_token %}
            {{ form }}
            <div class="form-group">
                <button type="submit" class="btn btn-primary submit-btn">{% trans "Save" %}</button>
            </div>
        </form>
    </div>

{% endblock %}