{% extends 'locations/index.html' %}
{% load staticfiles %}{% load i18n %}

{% block content %}

    <div class="col-sm-9">
        <form role="form" action="" method="post" id="discussion-create-form">
            {% csrf_token %}
            {{ form }}
            <div class="form-group">
                <button type="submit" class="btn btn-primary submit-btn">{% trans "Save" %}</button>
            </div>
        </form>
    </div>

    {% include 'gallery/media-uploader.html' %}
    
    <script>
    require(['/static/places_core/js/locations/discussionForm.js'],
    function (DiscussionForm) {
        "use strict";
        var form = new DiscussionForm();
    });
    </script>

{% endblock %}