{% extends 'locations/index.html' %}
{% load staticfiles %}{% load i18n %}

{% block require_scripts %}
<script data-main="{% static 'places_core' %}/js/src/discussion-create.js" src="{% static 'places_core' %}/includes/require/require.js"></script>
{% endblock %}

{% block content %}

    <div class="col-sm-8">
        <div class="create-form">
            <form class="form-horizontal" role="form" action="" method="post" id="discussion-create-form">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-group">
                    <label class="control-label col-sm-2">&nbsp;</label>
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary submit-btn">{% trans "Save" %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <div class="col-sm-4">
        {% include 'locations/sidebar.html' %}
    </div>

{% endblock %}