{% extends 'places_core/base.html' %}
{% load staticfiles %}{% load i18n %}

{% block content %}
<form role="form" action="" method="post">
    {% csrf_token %}
    {{ form }}
    <div class="form-group">
        <button type="submit" class="btn btn-primary submit-btn">{% trans "Save" %}</button>
    </div>
</form>
{% include 'gallery/media-uploader.html' %}
{% endblock %}

{% block footer_scripts %}
<script src="{% static 'places_core/includes/ckeditor/ckeditor.js' %}"></script>
<script src="{% static 'gallery/js/media-uploader.js' %}"></script>
<script>
(function ($) {
    "use strict";
    $('#id_content').customCKEditor('custom');
})(jQuery);
</script>
{% endblock %}
