{% extends 'locations/index.html' %}
{% load staticfiles %} {% load i18n %}

{% block content %}

    <div class="col-sm-9">
        <form action="" method="post" role="form">
            {% csrf_token %}
            {{ form }}
            <div id="poll-answer-form"></div>
            <p>
                <button type="button" class="btn btn-success btn-sm add-answer-btn" title="{% trans "Add answer" %}">
                    <span class="fa fa-plus-circle"> </span>
                </button>
            </p>
            <div class="form-group">
                <button type="submit" class="btn btn-primary submit-btn">{% trans "Save" %}</button>
            </div>
        </form>
    </div>
    
    {% if user.is_authenticated %}{% include 'gallery/media-uploader.html' %}{% endif %}
    
    {% include 'locations/sidebar.html' %}

{% endblock %}


{% block footer_scripts %}

    <script type="text/template" id="answer-entry-tpl">
        <button type="button" class="btn btn-danger btn-sm delete-entry-btn"><span class="fa fa-minus-circle"> </span></button>
        <div class="form-group">
            <label for="answer-txt-<%= id %>" class="control-label">{% trans "Answer text" %}</label>
            <input type="text" name="answer_txt_<%= id %>" id="answer-txt-<%= id %>" class="form-control" />
        </div>
    </script>
    <script src="{% static 'polls/js/create-poll.js' %}"></script>

{% endblock %}