{% extends 'locations/index.html' %}
{% load staticfiles i18n civil_tags %}

{% block require_scripts %}
<script data-main="{% static 'places_core' %}/js/{% js_path %}/poll-create.js" src="{% static 'places_core' %}/includes/require/require.js"></script>
{% endblock %}

{% block content %}

    <div class="col-sm-8 main-content">
        <div class="create-form">
            <h3>{% trans "Create poll in " %} {{ location }}</h3>
            <form class="form-horizontal" action="" method="post" role="form" id="poll-create-form">
                {% csrf_token %}
                {{ form.as_p }}
                <h4>{% trans "Add answers" %}:</h4>
                <div id="poll-answer-form"></div>
                <p>
                    <button type="button" class="btn btn-success btn-sm add-answer-btn" title="{% trans "Add answer" %}">
                        <span class="fa fa-plus-circle"> </span>
                    </button>
                </p>
                <button type="submit" class="btn btn-primary submit-btn">{% trans "Save" %}</button>
            </form>
        </div>
    </div>
    
    {% if user.is_authenticated %}{% include 'gallery/media-uploader.html' %}{% endif %}
    
    <div class="col-sm-4">
        {% include 'locations/sidebar.html' %}
    </div>
    
    <script type="text/template" id="answer-entry-tpl">
        <button type="button" class="btn btn-danger btn-sm delete-entry-btn"><span class="fa fa-minus-circle"> </span></button>
        <div>
            <label for="answer-txt-<%= id %>" class="control-label">{% trans "Answer text" %}</label>
            <input type="text" name="answer_txt_<%= id %>" id="answer-txt-<%= id %>" class="form-control" />
        </div>
    </script>

{% endblock %}