{% extends 'locations/index.html' %}{% load staticfiles i18n civil_tags %}
{% block require_scripts %}<script src="{% static 'places_core' %}/js/{% js_path %}/poll-list.js"></script>{% endblock %}
{% block navigation_location %}<div class="location-page-polls">{% include 'locations/location-navbar.html' %}</div>{% endblock %}
{% block content %}{% include 'polls/navbar.html' %}
{% if object_list.count %}<div class="col-sm-9 main-content contentPX">
  <div class="polls-list custom-tablelike">
    <div class="row polls-list-heading custom-list-heading">
      <div class="col-xs-6 custom-align-l">{% trans "Title" %}</div>
      <div class="col-xs-6 custom-align-r">{% trans "Created by" %}</div>
    </div>
    {% for poll in object_list %}<div class="polls-list-entry custom-list-entry row">
      {% if user == poll.creator or is_moderator %}<div class="btn-group list-entry-controls">
        <a href="#"><button type="button" class="btn btn-default btn-sm" title="{% trans "Edit" %}"><span class="fa fa-edit"> </span></button></a>
        <button data-target="{{ poll.pk }}" type="button" class="btn btn-danger btn-sm delete-btn" title="{% trans "Delete" %}"><span class="fa fa-times-circle-o"> </span></button>
      </div>{% endif %}
      <div class="col-xs-6 custom-align-l"><a href="{{ poll.get_absolute_url }}">{{ poll }}</a></div>
      <div class="col-xs-6 custom-align-r">
        <img src="{{ poll.creator.profile.avatar.url }}" alt="{{ poll.creator.profile }}" class="user-avatar-minithumb" />
        <a href="{{ poll.creator.profile.url }}" class="user-window-toggle" data-target="{{ poll.creator.pk }}">{{ poll.creator.profile }}</a>
        <span class="date-created">{{ poll.date_created|timesince }}</span>
        <div class="pollEye"><a href="{{ poll.get_absolute_url }}"><span class="fa fa-eye"></span></a></div>
      </div>
    </div>{% endfor %}
  </div>
  {% include 'places_core/pagination.html' %}
</div>{% else %}<div class="col-sm-9 no-entries contentPX">
    <img src="/static/places_core/img/civilian.png" alt="{% trans "Sad Civilian" %}">
    <h2>
      {% trans "We didn't find any polls" %} {% trans "in" %} {{ location }}.<br /> 
      {% trans "Please" %}{% if user.is_authenticated %} <a href="{% url 'locations:new_poll' location.slug %}" >
      {% else %}<a href="/users/login" >{% endif %}{% trans "add first poll" %}</a>.
    </h2>
</div>{% endif %}
<div class="col-sm-3 boxPX">
  {% include 'locations/sidebar.html' %}
</div>{% endblock %}
