{% extends 'locations/index.html' %}
{% load staticfiles %}
{% load bookmarks_tags %} {% load i18n %}
{% block title %} {{ poll.title }}, {{ location.name }} | CivilHub {% endblock %}

{% block require_scripts %}
<script>
var pollapp = {markers:[]};
{% for m in map_markers %}
pollapp.markers.push({
    lat: '{{ m.latitude }}',
    lng: '{{ m.longitude }}',
    pk: '{{ m.pk }}'
});
{% endfor %}
</script>
<script data-main="{% static 'places_core' %}/js/build/polls/details/poll-details-main.js" src="{% static 'places_core' %}/includes/require/require.js"></script>
{% endblock %}

{% block content %}

    {% include 'maps/pointer-modal-form.html' %}

    <div class="col-sm-8 main-content">
        <h1>{{ poll.title }}&nbsp;<span class="submenu-toggle"> </span></h1>
        <div class="entry-submenu">
            <ul>
                <li>{% bookmark_form for poll %}</li>
                <li><a href="#" class="map-marker-toggle">{% trans "Add map marker" %}</a></li>
            </ul>
        </div>
        <hr />
        
        {% if map_markers %}<div id="minimap"></div>{% endif %}
        
        <div class="acticle-content">{{ poll.question | safe }}</div>
        
        {% if can_vote %}
        <form role="form" method="post" action="{% url 'polls:verify' poll.pk %}" class="poll-form">
            {% csrf_token %}
            {{ form }}
            <div class="form-group">
                <button type="submit" class="btn btn-primary submit-btn">{% trans "Send" %}</button>
            </div>
        </form>
        {% else %}
        <p class="alert alert-info">
            {% blocktrans %}You have already voted for this poll. You can't vote again.{% endblocktrans %}
            <a href="{% url 'polls:results' poll.pk %}">{% trans "See results" %}</a>.
        </p>
        {% endif %}
        
    </div>
    
    <div class="col-sm-4">
        {% include 'locations/sidebar.html' %}
    </div>

{% endblock %}