{% extends 'places_core/base.html' %}
{% load staticfiles i18n %}

{% block content %}

    <form id="create-blog-entry-form" class="form-horizontal" role="form" method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-group">
            <label class="control-label col-sm-2">&nbsp;</label>
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">{% trans Save %}</button>
            </div>
        </div>
    </form>

{% endblock %}