{% load threadedcomments_tags %}
<article>
    <h3>{{ news.title }}</h3>
    <div>{{ news.content }}</div>
    {% if user.is_authenticated and user == news.creator %}
        <div class="news-controls">
            <a href="">Edit</a>
            <a href="">Delete</a>
        </div>
    {% endif %}
    <div class="news-meta">
        <p>Created by {{ news.creator }} | {{ news.date_created }}</p>
    </div>
    <ul class="comments">
    {% get_comment_list for news as comment_set %}
    {% include 'places_core/comment.html' %}
    </ul>
    <div class="comment-form">
        {% render_comment_form for news %}
    </div>
</article>