{% extends 'locations/index.html' %}
{% load staticfiles i18n civil_tags %}

{% block require_scripts %}
{% include 'places_core/script-templates/content-edit.html' %}
<script src="{% static 'places_core' %}/js/{% js_path %}/news-create.js"></script>
{% endblock %}
{% block navigation_location %}<div class="location-page-news">{% include 'locations/location-navbar.html' %}</div>{% endblock %}
{% block content %}

    <div class="col-sm-9 main-content contentPX">
        <div class="create-form newFormCreate">
        <h3>{% trans "Write news in" %} {{ location }}</h3>
            <form enctype="multipart/form-data" class="form-horizontal" role="form" method="post" action="" id="content-create-form">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-group">
                    <div class="control-label col-sm-2">&nbsp;</div>
                    <div class="col-sm-10"><div class="mapinput"></div></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">&nbsp;</label>
                    <div class="col-sm-10 text-right">
                        <button type="submit" class="btn btn-primary submit-btn btn-saveBig" onclick="ga('send', 'event', 'add-save', 'click', 'news');">{% trans "Create news" %}</button>
                        <button type="button" class="btn btn-default cancel-btn btn-cancelBig">{% trans "Cancel" %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="col-sm-3 boxPX">
        {% include 'locations/sidebar.html' %}
    </div>

    {% if user.is_authenticated %}
        {% include 'gallery/media-uploader.html' %}
        {% if user.is_superuser %}
            {% include 'locations/category-form.html' %}
        {% endif %}
    {% endif %}

{% endblock %}
