{% extends 'locations/index.html' %}{% load staticfiles i18n civil_tags %}
{% block title %}{{ location }}, {% trans "News" %} - Civilhub.org {% endblock %}
{% block require_scripts %}<script src="{% static 'places_core' %}/js/{% js_path %}/news-list.js"></script>{% endblock %}
{% block navigation_location %}<div class="location-page-news">{% include 'locations/location-navbar.html' %}</div>{% endblock %}
{% block content %}{% include 'blog/blog_navbar.html' %}
{% if object_list.count %}<div class="col-sm-9 content-container contentPX blogDivNews main-content">
  {% for entry in object_list %}<div class="row">
    <div class="col-sm-9">
      <h3 class="blogTitleNews"><a href="{{ entry.get_absolute_url }}">{{ entry }}</a></h3>
      <div class="custom-booklike blogNewsContent"><p>{{ entry.content|striptags|truncatechars_html:200 }}</p></div>
      <div class="clear">&nbsp;</div>
      <p class="author">
        <img src="{{ entry.creator.profile.avatar.url }}" alt="{{ entry.creator.profile }}" class="user-avatar user-window-toggle minUserAvatar" />
        <a href="{{ entry.creator.profile.get_absolute_url }}"><span class="user-window-toggle" data-target="{{ entry.creator.pk }}">{{ entry.creator.profile }}</span></a>
        <span class="date-created">{{ entry.date_created|timesince }} {% trans "ago" %}</span>.
      </p>
    </div>
    <div class="col-sm-3 box-150">{% if not entry.has_default_image %}<img class="content-image" data-jslghtbx="{{ entry.image.url }}" src="{{ entry.thumbnail }}">{% endif %}</div>
  </div>{% endfor %}
  {% include 'places_core/pagination.html' %}
</div>{% else %}<div class="col-sm-9 no-entries contentPX">
  <img src="/static/places_core/img/civilian.png" alt="{% trans "Sad Civilian" %}">
  <h2>
    {% trans "We didn't find any news" %} {% trans "in" %} {{ location }}.<br />
    {% trans "Please" %} {% if user.is_authenticated %}<a href="{% url 'locations:news_create' location.slug %}" onclick="ga('send', 'event', 'add', 'click', 'first-news');" >
    {% else %}<a href="/users/login" >{% endif %}{% trans "add first news" %}</a>.
  </h2>
</div>{% endif %}
<div class="col-sm-3 boxPX">
  {% include 'locations/sidebar.html' %}
  <div class="sidebar mt-20">
    {% if object_list.count %}<div class="sidebar-label">{% trans "Tags" %}:</div>
    <div class="sidebar-content tags-n">
      <ul class="list-unstyled">{% for entry in object_list %}
        {% for tag in entry.tags.all %}
          <li class="tag-entry tag-n"><a href="{% url 'locations:tag_search' slug=location.slug tag=tag|slugify %}">#{{ tag }}</a></li>
        {% endfor %}
      {% endfor %}</ul>
    </div>{% endif %}
  </div>
</div>{% endblock %}
