{% load staticfiles i18n %}

<script type="text/template" id="news-entry-tpl">
<div class="row">

    <div class="col-xs-10">
        <h3 class="blogTitleNews"><a href="<%= slug %>"><%= title %></a></h3>


        <p class="custom-booklike acticle-content blogNewsContent"><%= content %></p>
        <div class="clear">&nbsp;</div>
        
        <div class="row">
            <div class="col-xs-12">
                <div class="blogAuthorDiv">
                    <div class="blogAvatarDiv"><img src="<%= avatar %>" alt="<%= user_full_name %>" class="user-avatar user-window-toggle minUserAvatar" /></div>

                    <p>
                        <a href="<%= creator_url %>"><span class="user-window-toggle" data-target="<%= user_id %>"><%= user_full_name %></span></a> <span class="date-created"><%= date_created %></span>.
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="col-xs-2 blogImageNews">
        <div class="newsThumbnail"><img src="http://placehold.it/150x150"></div>
    </div>

</div>
</script>

{% include 'places_core/paginator.html' %}

{% include 'locations/category-form.html' %}