.comment {
  position: relative;
  .comment-row {
    margin: 0px;
    &.comment-content {
      margin: 10px 0px 10px 0px;
    }
  }
  .comment-author-avatar {
    float: left;
    width: 45px;
    height: 45px;
    margin: 0px 12px 0px 0px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
  }
  .comment-votes-detail {
    display: none;
    position: absolute;
    left: 0px;
    z-index: 150;
    background-color: #ffffff;
  }
  .subcomments {
    
  }
}