{% if form %}
    {% if user.is_authenticated %}
        <form action="{% url 'bookmarks:bookmarks_bookmark' %}" method="post" accept-charset="UTF-8" class="bookmarks_form">
            {% csrf_token %}
            {{ form }}
            {% with form.bookmark_exists as exists %}
                {# another hidden input is created to handle javascript submit event #}
                <input class="bookmarks_toggle" type="submit" value="add"{% if exists %} style="display: none;"{% endif %}/>
                <input class="bookmarks_toggle" type="submit" value="remove"{% if not exists %} style="display: none;"{% endif %}/>
            {% endwith %}                
            <span class="error" style="display: none;">Error during process</span>
        </form>
    {% else %}
        <a href="{{ login_url }}?{{ next }}={{ next_url|default:request.get_full_path }}">add</a>
    {% endif %}
{% endif %}
