{% extends 'places_core/base.html' %}
{% load staticfiles %}{% load i18n %}
{% block header %} {% endblock %}
{% block content %}


<div class="search-page row">
    <form method="get" action=".">
        <div class="col-lg-3">
            
                    <div class="search-form">
                        {{ form }}
                        <div class="button-holder"><input type="submit" class="submit-button" value="{% trans 'Search' %}" ></div> 
                    </div>
            
        </div>
            
        <div class="main-content col-lg-6">
            {% if query %}
                <h3 class="label">{% trans "Results" %}:</h3>
                
                {% for result in page.object_list %}
                    <!-- search results for locations -->
                    {% if result.content_type == "locations.location" %}
                    <p>
                        <a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a>
                    </p>
                    {% endif %}
                    <!-- search results for blog entries -->
                    {% if result.content_type == "blog.news" %}
                    <p>
                        <a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a>
                    </p>
                    {% endif %}
                    <!-- search results for ideas -->
                    {% if result.content_type == "ideas.idea" %}
                    <p>
                        <a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a>
                        <p>{{ result.object.description | striptags | truncatewords:20 }}</p>
                    </p>
                    {% endif %}
                    <!-- search results for polls -->
                    {% if result.content_type == "polls.poll" %}
                    <p>
                        <a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a>
                        <p>{{ result.object.question | striptags | truncatewords:20 }}</p>
                    </p>
                    {% endif %}
                    <!-- search results for discussions -->
                    {% if result.content_type == "topics.discussion" %}
                    <p><a href="{{ result.object.get_absolute_url }}">{{ result.object.question }}</a></p>
                    <p>{{ result.object.intro | striptags | truncatewords:20 }}</p>
                    <p><a href="{{ result.object.get_absolute_url }}">More...</a></p>
                    {% endif %}
                    <!-- search results for users -->
                    {% if result.content_type == "auth.user" %}
                    <p>
                        <a href="{% url 'user:profile' result.object.username %}">{{ result.object.get_full_name }}</a>
                    </p>
                    {% endif %}
                    
                {% empty %}
                    <p>No results found.</p>
                {% endfor %}

                {% if page.has_previous or page.has_next %}
                    <div>
                        {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                        |
                        {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                    </div>
                {% endif %}
            {% else %}
                {# Show some example queries to run, maybe query syntax, something else? #}
            {% endif %}
            
        </div>

            
        <div class="col-lg-3">
            <div class="sidebar">
                <div class="sidebar-label">{% trans "Additional informations" %}:</div>
                <div class="sidebar-content"> </div>
            </div>
        </div>
    </form>
</div>
    
    
    


        
    
{% endblock %}