/* General classes to use in entire project */
.custom-centered {
  text-align: center;
}
.custom-important {
  font-weight: bold;
}
.custom-clear {
  clear: both;
}

/* List entries menu - e.g. news list or ideas list */
.submenu-toggle {
    cursor: pointer;
    display: inline-block;
    float: right;
}
.entry-submenu {
    display: none;
    position: absolute;
    z-index: 100;
    background-color: #ffffff;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.75);
}
/* // List entries menu */

/* User pop-up windows */
.user-popup-window {
    position: absolute;
    clear: both;
    width: 330px;
    min-height: 80px;
    font-size: 10px;
    background: #ffffff;
    border: 1px solid #8c8c8c;
    overflow: hidden;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    z-index: 100;
    .user-popup-avatar {
        width: 80px;
        float: left;
        img {
            width: 80px;
            height: 80px;
        }
    }
    .user-popup-details {
        width: 245px;
        float: right;
        padding: 5px 0px 0px 5px;
        .user-popup-personals {
            font-weight: bold;
            color: #000000;
        }
    }
    .user-popup-close {
        float: right;
        cursor: pointer;
        margin-right: 5px;
        font-size: 14px;
    }
}
/* // User popup window */

/* Tag cloud */
.tags ul{
    margin:1em 0;
    padding:.5em 10px;
    text-align:left;
    }
.tags li{
    margin:0px 0px 5px 0px;
    padding:5px;
    list-style:none;
    display:inline-block;
    }
.tags li a{
    text-decoration:none;
    color:#fff;
    padding:0 2px;  
    }
.tags li a:hover{   
    color:#cff400;
    }       

.tag1{font-size:100%;}
.tag2{font-size:120%;}
.tag3{font-size:140%;}
.tag4{font-size:160%;}
.tag5{font-size:180%;}

/* alternative layout */

.tags .alt{
    text-align:left;
    padding:0;
    background:none;
    }
.tags .alt li{
    padding:2px 10px;
    background:#efefef;
    display:block;
    }
.tags .tag1, 
.tags .tag2, 
.tags .tag3, 
.tags .tag4, 
.tags .tag5{font-size:100%;}
.tags .tag1{background:#7cc0f4;}
.tags .tag2{background:#67abe0;}
.tags .tag3{background:#4d92c7;}
.tags .tag4{background:#3277ad;}
.tags .tag5{background:#266ca2;}
    
/* // Tag cloud */

/* Pagination - custom paginator */
.pagination {
    text-align: center;
    margin: 0px auto;
    a {
        margin: 0px 2px 0px 0px;
        padding: 2px;
        color: #adadad;
        background-color: #ffffff;
        border: 1px solid #adadad;
        &.paginator-active, &:hover {
            color: #ffffff;
            background-color: #adadad;
        }
    }
}
/* // Pagination */

/* Discussions */
@eb_width:  1px;
@eb_color:  #ebebeb;
@eb_style:  solid;
@eb_radius: 5px;
@e_bgcolor: #ffffff;

#minimap {
  float: left;
  margin: 0px 10px 10px 0px;
}
.detail-label-list {
  padding-top: 20px;
}
.reply-entry {
  position: relative;
  .discussion-entry-content {
    border: @eb_width @eb_style @eb_color;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    z-index: 10;
    width: 84% !important;
    margin: 0px 0px 25px 30px;
    padding: 0px !important;
    .entry-meta {
      margin: 10px 0px 10px 0px;
      padding: 0px 15px 0px 15px;
      a {
        font-weight: bold;
      }
    }
    .entry-content {
      padding: 0px 15px 0px 15px;
    }
    .entry-footer {
      padding: 0px 15px 0px 15px;
      border-top: @eb_width @eb_style @eb_color;
      font-size: 10px;
      a {
        color: #686868;
        cursor: pointer;
        font-size: 10px;
        line-height: 28px;
        &.quote-reply-link {
          float: right;
        }
        .fa {
          font-size: 14px;
        }
      }
    }
  }
  .blobfish-left {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 75px;
    top: 25px;
    transform: rotate(-45deg);
    border-left: @eb_width @eb_style @eb_color;
    border-top: @eb_width @eb_style @eb_color;
    background-color: @e_bgcolor;
    z-index: 11;
  }
  /* Rank points */
  .custom-centered {
    margin: 10px 0px 0px 20px;
    font-size: 9px;
  }
  img {
    margin-top: 0px !important;
  }
}
/* // Discussions */














































