body {
  padding-top: 50px;
}
.custom-booklike {
  text-align:justify;
  &:first-letter {
    font-weight: bold;
    font-size: 120%;
    margin: 0px 1px 0px 2px;
  }
}
.custom-copyrights {
  text-align: center;
  font-style: italic;
}
.custom-logolike {
  display: none;
  float: right;
}
.custom-centered {
  margin: 0px auto;
  text-align: center;
}
.custom-important {
  font-weight: bold;
}
.btn[type="submit"] {
  margin: 15px 0px 0px 0px;
}
.btn.btn-login-submit {
  margin: 15px 0px 0px 15px;
}
.user-thumb {
  max-width: 100%;
  width: 90px;
  height: 90px;
  margin: 5px;
}
.clear {
  clear: both;
  height: 1px;
  max-height: 1px;
  overflow: hidden;
}
/*---Semi-tables on BS grid---*/
.custom-tablelike {
  margin-top: 25px;
  .custom-list-heading {
    font-size: 18px;
    font-weight: bold;
    line-height: 2em;
  }
  .custom-list-entry {
    padding: 5px 0px 5px 0px;
    &:hover {
      .list-entry-controls {
        opacity: 1;
      }
    }
  }
  .user-avatar-minithumb {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
  }
  .row {
    position: relative;
    text-align: center;
    border-bottom: 1px solid #F2F2F2;
    margin: 0px;
    z-index: 0;
  }
  .custom-list-entry-la {
    text-align: left;
  }
  .list-entry-controls {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    transition: all 0.3s;
    z-index: 50;
    button {
      cursor: pointer;
    }
  }
  &:hover {
    .entry-controls {
      display: block;
    }
  }
}
/*--------User avatar---------*/
.user-profile-link {
  display: none !important;
}
.navbar-avatar {
  display: none !important;
  width: 30px;
  height: 30px;
  margin: -5px 10px 0px 0px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.entry-avatar-col {
  text-align: center;
  min-width: 65px;
  .news-user-avatar {
    width: 60px;
    height: 60px;
    margin: 25px auto 0px auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
}
/*-------Alert messages-------*/
#alert-area {
  position: fixed;
  left: 100%;
  top: 80px;
  z-index: 99;
  display: block;
  width: 400px;
  opacity: 0.8;
  margin-left: -450px;
  &:hover {
    opacity: 1;
  }
}
/*----------Comments----------*/
.subcomments {
  /*display: none;*/
}
/*---------Form errors--------*/
.errorlist {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
/*-----Hidden inputs/forms----*/
.hidden-form {
  display: none;
}
/*----------Sidebar-----------*/
.custom-sidebar-nav {
  list-style-type: none;
  background: #EFEFEF;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  margin: 0px;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  & > li {
    cursor: pointer;
  }
}


@media (min-width: 768px) {
  .custom-logolike {
    display: block;
  }
  .user-profile-link {
    display: block !important;
    padding-right: 15px !important;
    & > a {
      float: left;
      padding: 15px 0px 0px 0px !important;
      margin: 0px !important;
    }
  }
  .navbar-avatar {
    display: inline-block !important;
  }
  .user-hidden-link {
    display: none !important;
  }
}
@main_font_color: #000000;
@sec_font_color:  #000000;
@main_link_color: #8c8c8c;
@sec_link_color:  #0087ff;
@comment_font:    15px;
@meta_font:       12px;

.add-comment {
  margin-bottom: 20px;
}
.current-user-comment-avatar {
  width: 60px;
  height: 60px;
  border-radius: 4px;
}
.comment {
  a {
    color: @main_link_color;
  }
  .comment-row {
    position: relative;
    margin: 20px 0px 0px 0px;
    &.comment-content {
      margin: 10px 0px 10px 0px;
    }
  }
  .comment-avatar-col {
    width: 40px;
    min-width: 40px;
    max-width: 40px;
    text-align: left;
  }
  .comment-author-name {
    color: @sec_link_color;
  }
  .comment-author-avatar {
    float: left;
    width: 40px;
    height: 40px;
    margin: 0px 0px 0px -15px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
  }
  .comment-date-from-now {
    color: @main_link_color;
    display: inline-block;
    margin-left: 15px;
  }
  .comment-votes-detail {
    display: none;
    padding: 10px;
    margin: -10px 0px 0px 0px;
    min-width: 120px;
    position: absolute;
    left: 0px;
    z-index: 150;
    background-color: #ffffff;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.75);
    label {
      display: block;
      width: 100%;
      padding: 5px;
      text-align: right;
      span {
        display: block;
        float: left;
        width: 20px;
        height: 20px;
        line-height: 20px;
        font-size: 20px;
        text-align: center;
      }
    }
  }
  .comment-content {
    margin: 15px 0px 15px 0px;
  }
  .badge {
    cursor: pointer;
  }
  .subcomments {
    /*margin-left: 40px;*/
  }
  .comment-controls {
    opacity: 0;
    float: right;
    transition: all 0.3s;
  }
  &:hover {
    .comment-controls:first-of-type {
      opacity: 1;
    }
  }
}.uploader-selected-item {
  border: 1px solid red;
}.location-logo {
    max-width: 100%;
    height: 200px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: left center;
}
.location-name-title {
    color: #000000;
    background-color: #ffffff;
    margin: 0px;
    padding: 15px;
    font-size: 25px;
    display: inline-block;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.hidden-pane {
    display: none;
}
.pane {
    display: block;
}
.user-thumbnail {
    width: 35px;
    height: 35px;
    display: inline-block;
}
.custom-navbar {
  margin-bottom: 0px;
  margin-top: 0px;
  border-radius: 0px;
}
#filter-navbar {
  margin-top: -20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

/***********Ideas***********/
.idea-entry {
  .idea-votes {
    padding-top: 25px;
  }
  .votes {
    display: block;
    float: left;
    width: 20%;
    height: 32px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 32px;
    background-color: #eeeeee;
    border: 1px solid #adadad;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .vote-controls {
    display: block;
    float: right;
    width: 80%;
    height: 100%;
    button {
      display: inline-block;
      width: 50%;
      height: 32px;
      font-size: 10px;
      line-height: 10px;
      float: right;
      background-color: #eeeeee;
      border: 1px solid #adadad;
      &:first-of-type {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
      &:last-of-type {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }
    }
    .button-vote-placeholder {
      width: 100%;
      height: 32px;
      float: right;
      background-color: #eeeeee;
      border: 1px solid #adadad;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
  .idea-summary {
    text-align: center;
  }
  .idea-status-state {
    width: 100%;
    .label {
      display: inline-block;
      width: 100%;
    }
  }
}

@media (min-width: 768px) {
  .idea-entry {
    .votes {
      width: 70px;
    }
    .vote-controls {
      width: 25px;
      button {
        width: 20px;
        height: 16px;
        &:first-of-type {
          border-top-right-radius: 3px;
          border-bottom-right-radius: 0px;
        }
        &:last-of-type {
          border-top-right-radius: 0px;
          border-bottom-right-radius: 3px;
        }
      }
      .button-vote-placeholder {
        width: 20px;
      }
    }
  }
}

@media (min-width: 990px) {
  .idea-entry {
    .votes {
      width: 62px;
    }
  }
}

@media (min-width: 1200px) {
  .idea-entry {
    .votes {
      width: 87px;
    }
  }
}

/*******News section********/
.read-more-link {
  margin-left: 20px;
}
.location-preview-img {
  width: 100%;
}
.location-entry {
    text-align: center;
    border: 1px solid #adadad;
}
#map {
    width: 100%;
    height: 600px;
}.poll-form {
  ul, ol {
    list-style-type: none;
  }
}
.question-entry {
  margin-top: 25px;
  border: 1px solid #000000;
}
.answer-entry {
  border: 1px solid #000000;
}/* Discussion list view */
.discussion-list {
  .news-user-avatar {
    margin: 0px !important;
  }
}

/* Category list */
.custom-label-list {
  .custom-fa {
    font-size: 24px;
  }
  .custom-label-entry {
    margin-right: 10px;
    &.custom-main-label-entry {
      border: 1px solid #adadad;
      padding: 5px;
      font-weight: bold;
    }
    &.custom-active-label-entry {
      
    }
  }
}

/* Discussion active detail view */
.reply-entry {
  .entry-controls {
    float: right;
    display: none;
    transition: all 0.3s;
  }
  .entry-edited-label {
    margin-left: 35px;
  }
  &:hover {
    .entry-controls {
      display: block;
    }
  }
}
