body {
  padding-top: 60px;
}
.custom-booklike {
  text-align:justify;
  &:first-letter {
    font-weight: bold;
    font-size: 120%;
    margin: 0px 1px 0px 2px;
  }
}
.custom-copyrights {
  text-align: center;
  font-style: italic;
}
.custom-logolike {
  display: none;
  float: right;
}
.custom-centered {
  margin: 0px auto;
  text-align: center;
}
.btn[type="submit"] {
  margin: 15px 0px 0px 0px;
}
.btn.btn-login-submit {
  margin: 15px 0px 0px 15px;
}
.user-thumb {
  max-width: 100%;
  width: 90px;
  height: 90px;
  margin: 5px;
}
.clear {
  clear: both;
  height: 1px;
  max-height: 1px;
  overflow: hidden;
}
/*-------Alert messages-------*/
#alert-area {
  position: fixed;
  left: 100%;
  top: 80px;
  z-index: 99;
  display: block;
  width: 400px;
  opacity: 0.8;
  margin-left: -450px;
  &:hover {
    opacity: 1;
  }
}
/*----------Comments----------*/
.subcomments {
  /*display: none;*/
}
/*---------Form errors--------*/
.errorlist {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
/*-----Hidden inputs/forms----*/
.hidden-form {
  display: none;
}

@media (min-width: 768px) {
  .custom-logolike {
    display: block;
  }
}
