{% extends 'places_core/base.html' %}
{% load i18n staticfiles %}

{% block content %}
<div id="blog-page">
{% for article in articles %}
  <article>
    <h2><a href="{{ article.get_absolute_url }}"><strong>{{ article.title }}</strong><br>{{ article.subtitle }}</h2></a></h2>
    <div class="blog-meta">{{ article.created }} <a href="#">{% trans "Comments" %}</a></div>
    <div class="blog-content"><p>{{ article.content|safe|truncatewords:15 }}</p></div>
    <div class="blog-img"><img src="/static/places_core/img/brief/pl_slide_1.png"></div>
  </article>
{% endfor %}
</div>
{% endblock %}