{% extends 'places_core/base.html' %}
{% load i18n staticfiles comment_tags %}
{% block title %}{% trans "Blog" %} - Civilhub.org {% endblock %}
{% block description %}<meta name="description" content="{% trans "CivilHub`s blog is a list of articles written by the team. It gives an insight into the history, development process and current affairs of CivilHub" %}" />{% endblock %}
{% block meta %}<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="CivilHub">
<meta name="twitter:title" content="{% trans "Blog" %}">
<meta property="og:title" content="{% trans "Blog" %}"/>
<meta property="og:url" content="blog/" />
<meta property="og:site_name" content="CivilHub"/>
<meta property="og:description" content="{% trans "CivilHub`s blog is a list of articles written by the team. It gives an insight into the history, development process and current affairs of CivilHub" %}" />
<meta name="keywords" content="CivilHub, {% trans "Blog" %}">{% endblock %}

{% block content %}<div id="blog-page">
{% for article in articles %}
  <article>
    <h2><a href="{{ article.get_absolute_url }}"><strong>{{ article.title }}</strong><br>{{ article.subtitle }}</a></h2>
    <div class="blog-meta">{{ article.created }} - <a href="{{ article.get_absolute_url }}#blog-discussion">{% get_comment_count article %} {% trans "Comments" %}</a></div>
    <div class="blog-content">{{ article.content|safe|truncatewords:15 }}</div>
  </article>
{% endfor %}
</div>{% endblock %}
