{% extends 'places_core/base.html' %}
{% load i18n staticfiles civil_tags %}
{% comment %} Brief template {% endcomment %}
{% block header %}{% endblock %}
{% block container_main %}
  {% block content %}
    {% comment %}{{ article.content |safe }}{% endcomment %}
    <div class="project-features-page bg-ff">
      <div class=" container project-s1 text-center">
        <h1>Projekty</h1>
        <h2>Pierwsze narzędzie do <strong>wspólnego wdrażania</strong> pomysłów w życie.</h2>
        <div class="bg-project-s1"></div>
      </div>
      <div class="divider"></div>
      <div class="project-s2 text-center bg-f9">
        <div class="container">
          <h2>Pomysły przekształcamy w projekt</h2>
          <p>Same pomysły nic nie znaczą. Liczy się konkretny efekt. Dlatego zbudowaliśmy narzędzie do <strong>oddolnego obywatelskiego<br> wdrażania</strong> naszych pomysłów w życie. Jeśli np. brakuje nam placu zabaw, to wspólnie możemy go zbudować.</p>
          <div class="bg-project-s2"></div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="container project-s3 text-center">
        <h2>Razem możemy więcej</h2>
        <p>CivilHub daje możliwość prostego zarządzania obywatelskimi projektami. Możemy razem zbudować plac zabaw jak<br> i również przygotować założenia do projektu zmiany w prawie.</h2>
          <div class="col-sm-6">
            <div class="bg-project-s3"></div>
          </div>
          <div class="col-sm-6">
            <div class="project-box">
              <h2>Tytuł i opis projektu</h2>
              <p>Każdy projekt ma jakiś cel.  Opis projektu daje nam możliwość zapoznania się z tym co wspólnie chcemy zrealizować.</p>
            </div>
            <div class="project-box">
              <h2>Zadania, dyskusje, dokumenty</h2>
              <p>W ramach projektu realizujemy wspólnie określone zadania. Możemy również dyskutować jak i tworzyć wspólne dokumenty, które mogą posłużyć jako założenia do aktów prawnych.</p>
            </div>
            <div class="project-box">
              <h2>Szczegółowe opisy zadań</h2>
              <p>Każde zadanie może mieć opis oraz zakładany czas realizacji.  Jedno zadanie może być realizowane przez wiele osób. </p>
            </div>
            <div class="project-box">
              <h2>System komentarzy</h2>
              <p>Prosty, skuteczny sposób komunikacji podczas realizacji prac. </p>
            </div>
          </div>
      </div>
      <div class="divider"></div>
      <div class="project-s4 bg-f9">
        <div class="container text-center">
          <h2>Wspólnie rozwiązujemy problemy</h2>
          <p>Wierzymy, że my obywatele możemy wspólnie  pracować w celu realizacji konkretnych zadań. <br>Każdy może dołączyć do projektu i pomóc w osiągnięciu celu. </p>
          <div class="bg-project-s4"></div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="container project-s5">
        <div class="bg-project-s5 row">
          <div class="box-text col-sm-5">
            <h2>Grupy zadań</h2>
            <p>Zadania możemy dzeilić na proste grupy w celu łatwiejszego  podziału obowiązków.</p>
          </div>
          <div class="col-sm-7"></div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="project-s6 bg-f9">
        <div class="container">
          <div class="col-sm-6">
            <div class="bg-project-s6"></div>
          </div>
          <div class="col-sm-6">
            <div class="box-text">
              <h2>Uczestnicy</h2>
              <p>Masz możliwość dołączenia do zadania i pomocy w realizacji projektu.  Każda realizacja zadania daje Ci punkty, które podnoszą Twoją pozycję w społęczności :)</p>
            </div>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="container project-s7 text-center">
        <h2>Zarządzaj zadaniami</h2>
        <p>Narzędzie musi być tak proste jak to tylko możliwe.<br> Pytanie czy jest coś co Ty chciałbyś poprawić w Twoim mięście / osiedlu / kraju?</p>
        <div class="bg-project-s7 row">
          <div class="left-box-text col-sm-3">
            <h2>Edytuj grupy</h2>
            <p>Możesz dodawać i edytować grupy z zadaniami. Proste i skuteczne. </p>
          </div>
          <div class="right-box-text col-sm-3 col-sm-offset-6">
            <h2>Edytuj zadania</h2>
            <p>Dołącz do zadania. Edytuj zadanie, zmieniaj terminy realizacji. </p>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="project-s8 bg-f9">
        <div class="container text-center">
          <h2>Dyskusje wewnątrz projektu</h2>
          <p>Wewnątrz projektu umieszczamy prosty system do prowadzenia wielowątkowych dyskusji.  Wierzymy, że tworząc np.<br> założenia do zmiany w dowolnej ustawie, wspólnie możemy wypracować najlepsze rozwiązania oraz stworzyć dokument<br> który będzie założeniami do projektu ustawy lub całą ustawą.</p>
          <div class="bg-project-s8"></div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="container project-s9 text-center">
        <h2>Dokumenty</h2>
        <p>Wyobraź sobie, że my obywatele poddajemy decyzje, aby poprawić w prawie to, czego nie chcą zrobić nasi politycy.<br>Wewnątrz projektów mamy możliwość tworzenia całych dużych dokumentów, jednocześnie,<br> nawet w 100 osób z wersjonowaniem, diffami oraz historią zmian.</p>
        <div class="bg-project-s9">
          <div class="col-sm-3">
            <div class="project-box-left"><strong>Damian</strong> obecnie edytuje ten fragment.</div>
            <div class="project-box-left"><strong>Marta</strong> jednocześnie edytuje ten sam dokument.</div>
            <div class="project-box-left">Dowolna ilość osób może edytować ten sam dokument.</div>
          </div>
          <div class="col-sm-3 col-sm-offset-6">
            <div class="project-box-right">
              <h2>Historia zmian</h2>
              <p>Każda wersja dokumentu jest zapisywana, wszystkie zmiany można cofnąć i porównać.</p>
            </div>
            <div class="project-box-right">
              <h2>Export</h2>
              <p>Możliwość zapisu do dowolnego formatu. Podgląd w HTML, export do PDF, DOC.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="project-s10 bg-f9">
        <div class="container text-center">
          <h2>Jak mogę pomóc?</h2>
          <p>Jeśli w Twojej społęczności są pomysły, które obywatele chcą wdrożyć w życie, to możemy przekształcić pomysł w projekt.<br>Do projektu może dołączyć każdy kto chce pomóc.</p>
          <div class="col-sm-6">
            <div class="bg-project-s10"></div>
          </div>
          <div class="col-sm-6">
            <div class="box-text">
              <h2>Dołącz do projektu</h2>
              <p>Pokaż że zależy Ci aby zrealizować ten pomysł. Społeczność skupiona wokół projektu może wspólnie bardzo wiele osiągnąć.</p>
            </div>
            <div class="box-text">
              <h2>Dołącz do zadania</h2>
              <p>Zobacz co jest do zrobienia. Zaoferuj swoją pomoc lub sam dodaj zadania które uważasz że powinny być zrobione. </p>
            </div>
            <div class="box-text">
              <h2>Działaj</h2>
              <p>Zależy nam na tym, aby mieszkać w mieście i kraju z którego jesteśmy dumni. Dlatego wierzymy, że bardzo wiele możemy osiągnąć angażując się w pozytywne zmiany w naszym otoczeniu.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="container project-s11 text-center">
        <h2>Projekty w skrócie</h2>
        <p>Pomysły są po to aby je realizować. Jeśli brakuje nam placu zabaw to możemy się zebrać<br> i ten plac zabaw wspólnie uruchomić. Jeżeli przeszkadza nam luka w prawie, to wspólnie możemy<br> poprawić ustawę / akt prawny a zmiany skierować do sejmu.</p>
        <div class="row">
          <div class="col-sm-3">
            <div class="project-features-box">
              <span class="fa fa-tasks"></span>
              <h4>Zadania</h4>
              <p>Dzielimy się pracą do wykonania. Każdy z nas może pomóc nawet w drobnej sprawie.</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="project-features-box">
              <span class="fa fa-th"></span>
              <h4>Grupy Zadań</h4>
              <p>Zadania dzielimy na grupy, porządkujemy, układamy w określonej kolejności. Realizacja jest celem.
            </div>
          </div>
          <div class="col-sm-3">
            <div class="project-features-box">
              <span class="fa fa-picture-o"></span>
              <h4>Galeria</h4>
              <p>Jeśli projekt dotyczy zmian "fizycznych" to możemy pokazać stan pracy poprzez prostą galerię.</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="project-features-box">
              <span class="fa fa-file-text-o"></span>
              <h4>Dokumenty</h4>
              <p>Projekty mogą dotyczyć zmian w prawie. Wtedy wspólnie tworzymy całe dokumenty prawne.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="project-features-box">
              <span class="fa fa-users"></span>
              <h4>Wieloużytkownikowy</h4>
              <p>Wszystkie prace możemy wykonywać jako społeczeństwo. Siłą i kreatywnością tłumu.</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="project-features-box">
              <span class="fa fa-comment-o"></span>
              <h4>Komentarze</h4>
              <p>Dzielimy się pomysłami. Wierzymy, że to obywatele wiedzą, jak powinno wyglądać prawo i otaczający nas świat.</p>
            </div>  
          </div>
          <div class="col-sm-3">
            <div class="project-features-box">
              <span class="fa fa-pencil-square-o"></span>
              <h4>Edycja</h4>
              <p>Każdy element w portalu można poprawić (zedytować). Pokaż tylko co zmienić.</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="project-features-box">
              <span class="fa fa-clock-o"></span>
              <h4>Wszystko na bieżąco</h4>
              <p>Współpracuj z innymi w czasie rzeczywistym. Razem możemy szybciej niż władza i politycy wdrożyć nasze pomysły w życie.</p>
            </div>
          </div>
        </div>
      </div>


    </div>
  {% endblock %}
{% endblock %}