{% extends 'places_core/base.html' %}
{% load i18n staticfiles civil_tags %}
{% comment %} Brief template {% endcomment %}
{% block header %}{% endblock %}
{% block container_main %}
  {% block content %}
    {% comment %}{{ article.content |safe }}{% endcomment %}

  <div class="idea-to-law-page">
    <div class="idealaw-s1 container text-center">
      <h1>Od pomysłu do zmiany w prawie.</h1>
      <big>Zobacz naszą propozycję jak my obywatele możemy razem dokonywać zmian w prawie.</big>
      <div class="row mt25">
        <div class="col-sm-4">
          <div class="bg-idealaw-s1-idea"></div>
        </div>
        <div class="col-sm-4">
          <div class="bg-idealaw-s1-project"></div>
        </div>
        <div class="col-sm-4">
          <div class="bg-idealaw-s1-document"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <h2>Pomysł</h2>
          <p>Każdy z nas może zgłosić, co należy zmienić. Wspólnie weryfikujemy pomysły i oceniamy które chcemy wdrożyć w życie.</p>
        </div>
        <div class="col-sm-4">
          <h2>Projekt</h2>
          <p>Pomysł przekształcamy w projekt. Dzielimy się zadaniami i wspólnie staramy się stworzyć założenia do zmiany w prawie.</p>
        </div>
        <div class="col-sm-4">
          <h2>Dokument</h2>
          <p>Efektem prac nad projektem są założenia do projektu ustawy lub cały gotowy projekt ustawy przygotowany do Obywatelskiej Inicjatywy Ustawodawczej.</p>
        </div>
      </div>
    </div>
<div class="divider"></div>
    <div class="idealaw-s2 bg-f9 text-center">
      <div class="container">
        <h1>Zgłaszamy pomysły i problemy które należy poprawić.</h1>
        <p>Każdy z nas spotkał się z nie jednym błędem w prawie lub elementem prawa które należy poprawić. Zgłoś swoje propozycje,<br> a cała społeczność może ocenić czy się zgadza i czy również chce zmian.</p>
        <div class="bg-idealaw-s2 row">
          <div class="col-sm-4 col-sm-offset-7 box-text">
            <h3>Zmiany ustawy o OZE</h3>
            <div class="author"><div class="author-avatar"></div><a href="#">Mateusz Nowak</a> <span>6 listopada 2014 14:16:44</span></div>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. </p>  
          </div>
        </div>
      </div>
    </div>
<div class="divider"></div>
    <div class="idealaw-s3 container text-center">
      <h1>Dobre pomysły przekształcamy w projekty</h1>
      <p>Po zakończeniu głosowania, pomysł przekształcamy w projekt. Każdy może dołączyć i pomóc w realizacji. </p>
      <div class="bg-idealaw-s3">
        <div class="box-text">
          <h2>Uczestnicy</h2>
          <p>Każdy może dołączyć i pomóc w realizacji projektu.</p>
        </div>
        <div class="box-text">
          <h2>Zadania</h2>
          <p>Osoby które dołączyły do projektu mogą dołączać do już istniejących zadań oraz tworzyć własne.</p>
        </div>
      </div>
    </div>
<div class="divider"></div>
    <div class="idealaw-s4 bg-f9 text-center">
      <div class="container">
        <h2>Rozpisujemy zadania, opisujemy co jest do przygotowania i przeanalizowania.</h2>
        <p>Każdy z nas może dołączyć do wybranego zadania i uczestniczyć w przygotowaniu całego projektu ustawy. Wierzymy, że w<br> 38 mln obywateli jest wiele osób którym zależy na zmianach.</p>
        <div class="row">
          <div class="col-sm-6">
            <div class="bg-idealaw-s4"></div>
          </div>
          <div class="col-sm-6">
            <div class="box-text">
              <h2>Proste narzędzie do zarządzania projektami</h2>
              <p>Praca nad projektem jest publicznie dostępna. Każdy z nas może się zainteresować oraz uczestniczyć, konsultować zmiany w prawie które jako obywatele chcemy wprowadzić.<br><br>CivilHub jest prostym narzędziem które daje nam obywatelom możliwość wspólnego poprawiania kraju lub miasta w którym żyjemy.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
<div class="divider"></div>
    <div class="idealaw-s5 container text-center">
        <h2>Zaczynamy tworzyć założenia do projektu ustawy</h2>
        <p>Wszystko piszemy razem, jako jeden wspólny dokument. Bezpośrednio na platformie CivilHub. Każda zmiana jest rejestrowana,<br> i to my obywatele odpowiadamy za kształt naszego prawa.</p>
        <div class="bg-idealaw-s5">
          <div class="col-sm-3">
            <div class="idealaw-box-left"><strong>Damian</strong> obecnie edytuje ten fragment.</div>
            <div class="idealaw-box-left"><strong>Marta</strong> jednocześnie edytuje ten sam dokument.</div>
            <div class="idealaw-box-left">Dowolna ilość osób może edytować ten sam dokument.</div>
          </div>
          <div class="col-sm-3 col-sm-offset-6">
            <div class="idealaw-box-right">
              <h2>Historia zmian</h2>
              <p>Każda wersja dokumentu jest zapisywana, wszystkie zmiany można cofnąć i porównać.</p>
            </div>
            <div class="idealaw-box-right">
              <h2>Export</h2>
              <p>Możliwość zapisu do dowolnego formatu. Podgląd w HTML, export do PDF, DOC.</p>
            </div>
          </div>
        </div>
    </div>
<div class="divider"></div>
    <div class="idealaw-s6 bg-f9 text-center">
      <div class="container">
        <h2>Wypracowujemy jedną wspólną wersję założeń do projektu ustawy.</h2>
        <p>Mamy możliwość dyskutowania, komentowania.  Tworzymy podwaliny pod projekt ustawy.</p>
        <div class="col-sm-6">
          <p>Każde zadanie możę być skomentowane</p>
          <div class="bg-idealaw-s6-left"></div>
        </div>
        <div class="col-sm-6">
          <p>Prowadź dyskusje</p>
          <div class="bg-idealaw-s6-right"></div>
        </div>
      </div>
    </div>
<div class="divider"></div>
    <div class="idealaw-s7 container text-center">
      <h2>Wraz z pomocą legislatorów tworzymy OSR</h2>
      <p>OSR - Ocenę Skutków Regulacji. Czyli cały obszerny dokument który pokaże jak ustawa będzie wpływała na różne aspekty państwa.</p>
      <div class="bg-idealaw-s7">
        <div class="col-sm-3">
          <div class="idealaw-box-left"><strong>Grzesiek</strong> obecnie edytuje ten fragment.</div>
          <div class="idealaw-box-left"><strong>Ewa</strong> jednocześnie edytuje ten sam dokument.</div>
          <div class="idealaw-box-left">Dowolna ilość osób może edytować ten sam dokument.</div>
        </div>
        <div class="col-sm-3 col-sm-offset-6">
          <div class="idealaw-box-right"><strong>Paweł</strong> jako legislator pomaga od strony prawnej.</div>
          <div class="idealaw-box-right"><strong>Dominika</strong> jako prawniczka również udziela rad.</div>
        </div>
      </div>
    </div>
<div class="divider"></div>
    <div class="idealaw-s8 bg-f9 text-center">
      <div class="container">
        <h2>Tworzymy cały projekt ustawy.</h2>
        <p>Piszemy pierwszą wersję ustawy, która będzie kierowana do sejmu. Jako obywatele posiadamy Inicjatywę Ustawodawczą<br> i możemy skierować projekt ustawy do sejmu po zebraniu 100 tys fizycznych podpisów. </p>
        <div class="bg-idealaw-s8"></div>
      </div>
    </div>
<div class="divider"></div>
    <div class="idealaw-s9 container text-center">
      <h2>Zbieranie podpisów.</h2>
      <p>Mali przedsiębiorcy w całym kraju, drukują listy do podpisu oraz wystawiają w swoich sklepach, firmach. Na portalu na mapie<br> widzisz gdzie możesz się podpisać w Twoim mieście.</p>
      <div class="bg-idealaw-s9">
        <div class="box-text">
          <p>Sprawdź informacje</p><p><span>o godzinach otwarcia sklepu oraz zapisz adres</span></p>
        </div>
        <div class="box-text">
          <p>Znajdź punkt</p><p><span>blisko swojego miejsca zamieszkania lub pracy i podpisz się</span></p>
        </div>
        <div class="box-text">
          <p>Stwórz własny punkt</p><p><span>Możesz stworzyć włansy punkt rejestrując go w naszym portalu, zaznaczając na mapie i podając godziny otwarcia. Twój sklep/kwiaciarnia/punkt usługowy odwiedzi wiele osób, z których na pewno część zostanie klientami.</span></p>
        </div>
      </div>
      <div class="idealaw-s9-container">
        <div class="idealaw-s9-box">
          <p>Jak szybko jesteśmy w stanie zebrać podpisy?</p>
          <p><span>Już w 30 dni jesteśmy w stanie zebrać 100tyś podpisów. W 2 tys. punktach w całym kraju. Ustawowo mamy 90 dni na zebranie wymagających 100 tys. podpisów.</span></p>
        </div>
        <div class="idealaw-s9-box">
          <p>Kto będzie zbierał listy?</p>
          <p><span>Listy z podpisami są zbierane przez jedną z firm kurierskich (w zamian za informacje o firmie na naszej stronie) i przesyłane do nas lub innego stoważyszenia.</span></p>
        </div>
      </div>
    </div>
<div class="divider"></div>
    <div class="idealaw-s10 bg-f9 text-center">
      <div class="container">
        <h2>Projekt ustawy wraz z podpisami kierujemy do sejmu.</h2>
        <p>Jako obywatele posiadamy Obywatelską Inicjatywę Ustawodawczą, z której w Polsce bardzo żadko korzystamy.</p>
        <div class="bg-idealaw-s10"></div>
      </div>
    </div>
<div class="divider"></div>
    <div class="idealaw-s11 container text-center">
      <h2>Projekt ustawy wraz z podpisami kierujemy do sejmu.</h2>
      <p>Jako obywatele posiadamy Obywatelską Inicjatywę Ustawodawczą, z której w Polsce bardzo żadko korzystamy.</p>
      <div class="bg-idealaw-s11"></div>
    </div>
<div class="divider"></div>
    <div class="idealaw-s12 bg-f9 text-center">
      <div class="container">
        <h2>Dołącz do nas!</h2>
        <p>Pomóż nam rozwijać nasz kraj. Wierzymy, że wspólnie<br> możemy bardzo wiele osiągnąć. Nie czekajmy na<br> działania polityków. Zaangażujmy się w życie naszego<br> miasta. Pokażmy w jakim miejscu chcielibyśmy żyć.</p>
        <a href="#" class="btn-greenBig btn-antiman-chg antiman antiman-fix">Dołącz do nas</a>
      </div>
    </div>

  </div><!--./ideatolawpage-->



  {% endblock %}
{% endblock %}