{% extends 'places_core/base.html' %}
{% load i18n staticfiles civil_tags %}


{% comment %}
- to jest czysta templatka pod article. Nie zawiera klasy container na poczatku. 
{% endcomment %}

{% block header %}{% endblock %}


{% block container_main %}
	{% block content %}

		{{ article.content | safe }}


		{% comment %}
		<div id="team-page">
			<div class="container">


				<div class="teamHeader">
					<h1>The Team</h1>
					<h3>Lorem ipsum dolor sit amet, consectetur.</br>Nam volutpat justo urna, sed mollis magna.<br>Sed mollis magna.</h3>
				</div>


				<div class="teamPeople">
					<div class="topPpl">
						<div class="top-teamPpl">
							<div class="pplBox">
								<div class="pplImage"><img src="/media/img/avatars/anonymous.png"></div>
								<div class="pplName">Imie Nazwisko</div>
								<div class="pplPos">Stanowisko</div>
								<div class="pplSocial">
									<a href="#"><span class="fa-stack socLinkedin">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
									</span></a>
									<a href="#"><span class="fa-stack socTwitter">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
									</span></a>
									<a href="#"><span class="fa-stack socFacebook">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
									</span></a>
								</div>
							</div>
						</div>
						<div class="top-teamPpl">
							<div class="pplBox">
								<div class="pplImage"><img src="/media/img/avatars/anonymous.png"></div>
								<div class="pplName">Imie Nazwisko</div>
								<div class="pplPos">Stanowisko</div>
								<div class="pplSocial">
									<a href="#"><span class="fa-stack socLinkedin">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
									</span></a>
									<a href="#"><span class="fa-stack socTwitter">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
									</span></a>
									<a href="#"><span class="fa-stack socFacebook">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
									</span></a>
								</div>
							</div>
						</div>
					</div>

					<div class="teamPpl">

						<div class="pplBox">
							<div class="pplImage"><img src="/media/img/avatars/anonymous.png"></div>
							<div class="pplName">Imie Nazwisko</div>
							<div class="pplPos">Stanowisko</div>
							<div class="pplSocial">
									<a href="#"><span class="fa-stack socLinkedin">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
									</span>	</a>
									<a href="#"><span class="fa-stack socTwitter">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
									</span></a>
									<a href="#"><span class="fa-stack socFacebook">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
									</span></a>
							</div>
						</div>

						<div class="pplBox">
							<div class="pplImage"><img src="/media/img/avatars/anonymous.png"></div>
							<div class="pplName">Imie Nazwisko</div>
							<div class="pplPos">Stanowisko</div>
							<div class="pplSocial">
								<a href="#"><span class="fa-stack socLinkedin">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
									</span></a>
									<a href="#"><span class="fa-stack socTwitter">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
									</span></a>
									<a href="#"><span class="fa-stack socFacebook">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
									</span></a>
							</div>
						</div>

						<div class="pplBox">
							<div class="pplImage"><img src="/media/img/avatars/anonymous.png"></div>
							<div class="pplName">Imie Nazwisko</div>
							<div class="pplPos">Stanowisko</div>
							<div class="pplSocial">
								<a href="#"><span class="fa-stack socLinkedin">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
									</span></a>
									<a href="#"><span class="fa-stack socTwitter">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
									</span></a>
									<a href="#"><span class="fa-stack socFacebook">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
									</span></a>
							</div>
						</div>

						<div class="pplBox">
							<div class="pplImage"><img src="/media/img/avatars/anonymous.png"></div>
							<div class="pplName">Imie Nazwisko</div>
							<div class="pplPos">Stanowisko</div>
							<div class="pplSocial">
								<a href="#"><span class="fa-stack socLinkedin">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
									</span></a>
									<a href="#"><span class="fa-stack socTwitter">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
									</span></a>
									<a href="#"><span class="fa-stack socFacebook">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
									</span></a>
							</div>
						</div>

						<div class="pplBox">
							<div class="pplImage"><img src="/media/img/avatars/anonymous.png"></div>
							<div class="pplName">Imie Nazwisko</div>
							<div class="pplPos">Stanowisko</div>
							<div class="pplSocial">
								<a href="#"><span class="fa-stack socLinkedin">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
									</span></a>
									<a href="#"><span class="fa-stack socTwitter">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
									</span></a>
									<a href="#"><span class="fa-stack socFacebook">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
									</span></a>
							</div>
						</div>

						<div class="pplBox">
							<div class="pplImage"><img src="/media/img/avatars/anonymous.png"></div>
							<div class="pplName">Imie Nazwisko</div>
							<div class="pplPos">Stanowisko</div>
							<div class="pplSocial">
								<a href="#"><span class="fa-stack socLinkedin">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
									</span></a>
									<a href="#"><span class="fa-stack socTwitter">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
									</span></a>
									<a href="#"><span class="fa-stack socFacebook">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
									</span></a>
							</div>
						</div>

					</div>

				</div>

			</div>
		</div>
		{% endcomment %}



	{% endblock %}

{% endblock %}