{% extends 'places_core/features-base.html' %}{% load i18n staticfiles postman_tags civil_tags %}
{% block title %} {{ article.title }} - Civilhub.org {% endblock %}
{% block description %}<meta name="description" content="{{ article.content|striptags|slice:":153"}}..." />{% endblock %}
{% block meta %}<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="CivilHub">
<meta name="twitter:title" content="{{ article.title }}">
<meta property="og:title" content="{{ article.title }}"/>
<meta property="og:url" content="https://civilhub.org{{ article.get_absolute_url }}" />
<meta property="og:site_name" content="CivilHub"/>
<meta property="article:published_time" content="{{ article.created|date:"c" }}">
{% if article.edited %}<meta property="article:modified_time" content="{{ article.edited|date:"c" }}">{% endif %}
<meta property="og:description" content="{{ article.content|striptags|slice:":153" }}..." />
<meta name="keywords" content="{{ article.slug }}, {{ article.title }}">{% endblock %}
{% block require_scripts %}
  {% include 'places_core/script-templates.html' %}
  <script src="{% static 'places_core' %}/js/{% js_path %}/features-page.js"></script>
{% endblock %}
{% block extra_styles %}
  <link href="{% static 'places_core/css/jquery.fullPage.css' %}" rel="stylesheet">
{% endblock %}
{% block header %}{% endblock %}
{% block content %}
  {{ article.content | safe }}
{% endblock %}
{% block footer %}
  {% include 'places_core/script-templates/flash-msg-tpl.html' %}
  {% include 'places_core/user-popup.html' %}
  {% include 'places_core/abuse-window-modal.html' %}
  {% include 'places_core/sublocation-dropdown.html' %}
{% endblock %}
