{% extends 'places_core/features-base.html' %}
{% load i18n staticfiles postman_tags civil_tags %}
{% block require_scripts %}
  {% include 'places_core/script-templates.html' %}
  <script src="{% static 'places_core' %}/js/{% js_path %}/features-page.js"></script>
{% endblock %}
{% block extra_styles %}
  <link href="{% static 'places_core/css/jquery.fullPage.css' %}" rel="stylesheet">
{% endblock %}
{% block navigation %}
  {% postman_unread as unread_count %}
<nav id="navbar-top"class="navbar-default navbar-fixed-top navbar-top-border" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse">
        <span class="sr-only">{% trans "Toggle navigation" %}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="logo" class="navbar-brand" href="/"><img src="{% static 'places_core/img/logo.png' %}"><span class="logo_beta">Beta</span></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-navbar-collapse">
      {% if user.is_authenticated %}
      <div class="navbar-top-search">
        <form class="navbar-form navbar-right custom-main-search" role="search" method="get" action="{% url 'search:haystack_search' %}">
          <input type="text" name="q" id="id_q" class="form-control" placeholder="{% trans "Search" %}">
          <button type="submit" class="search-button"><span class="fa fa-search"></span></button>
        </form>
      </div>
      {% endif %}
      <ul class="nav navbar-nav navbar-right navbarHeader">
        {% if user.is_authenticated %}
        <li class="user-hidden-link">
          <a href="{% url 'user:index' %}"><span class="fa fa-user"> </span> {% trans "Profile" %}</a>
            <a href="{% url 'user:logout' %}"><span class="fa fa-power-off"> </span> {% trans "Logout" %}</a>
        </li>
        <li class="user-profile-link">
          <a class="avatar" href="{{ user.profile.get_absolute_url }}">
            <img src="{{ user.profile.thumbnail.url }}" alt="{{ user.get_full_name }}" class="navbar-avatar" title="{% trans "Logged in as" %} {{ user.get_full_name }}" />
          </a>
        </li>
        <li class="dropdown">
          <a  id="username" href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.first_name }} <span class="fa fa-angle-down"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ user.profile.get_absolute_url }}">{% trans "Profile" %}</a></li>
            <li><a href="/invite-friends/">{% trans "Invite friends" %}</a></li>
            <li><a href="{% url 'user:locations' user.pk %}">{% trans "My Places" %}</a></li>
            <li><a href="{% url 'gallery:index' %}">{% trans "Media" %}</a></li>
            <li><a href="{% url 'user:index' %}">{% trans "Edit profile" %}</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'user:logout' %}">{% trans "Logout" %}</a></li>
          </ul>
        </li>
        {% else %}
        <li><a href="{% url 'user:login' %}" class="loginFeatures">{% trans "Login" %}</a></li>
        {% endif %}
      </ul>
      {% if user.is_authenticated %}
      <ul class="nav navbar-nav navbar-right navbarHeader">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">{% trans "Places" %} <span class="fa fa-angle-down"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'locations:index' %}">{% trans "Browse Places" %}</a></li>
            <li class="divider"></li>
            {% for l in user.profile.followed_locations %}
            <li><a href="{{ l.get_absolute_url }}">{{ l.name }}</a></li>
            {% endfor %}
            {% if user.is_authenticated %}
            <li class="divider"></li>
            <li><a href="{% url 'locations:create' %}">{% trans "Create new" %}</a></li>
            {% endif %}
          </ul>
        </li>
        <li><a href="{% url 'maps:index' %}" class="onlyIcon custom-tooltip-right" title="{% trans "Map" %}"><span class="maps-boxBox fa fa-globe"><span class="rwdShow">{% trans "Map" %}</span></span> </a></li>
        {% if user.is_authenticated %}
        <li class="dropdown">
          <a class="bookmarks-list-toggle dropdown-toggle onlyIcon custom-tooltip-right" data-toggle="dropdown" href="#" title="Zakładki">
            <span class="my-bookmarkBox fa fa-bookmark-o"><span class="rwdShow">{% trans "My Bookmarks" %}</span></span>
          </a>
          <ul class="dropdown-menu bookmarks-no-list">
            <li class="divider"></li>
            <li class="bookmark-no-list"><a href="{% url 'bookmarks-list' %}">{% trans "Manage" %}</a></li>
          </ul>
        </li>
        <li>                                                           
          <a href="{% url 'postman_inbox' %}" class="onlyIcon lastIco custom-tooltip-right" title="Wiadomości" >
            <span class="message-box fa fa-envelope-o"><span class="rwdShow">{% trans "Messages" %}</span></span>
            {% if unread_count %}
              <span class="badge custom-badge-indicator">{{ unread_count }}</span>
            {% endif %}
          </a>
        </li>
        {% endif %}
      </ul>
      {% endif %}
    </div>
  </div>
</nav>

{% endblock %}
{% block header %}{% endblock %}
{% block content %}
  {{ article.content | safe }}
{% endblock %}
{% block footer %}
  {% include 'places_core/script-templates/flash-msg-tpl.html' %}
  {% include 'places_core/user-popup.html' %}
  {% include 'places_core/abuse-window-modal.html' %}
  {% include 'places_core/sublocation-dropdown.html' %}
{% endblock %}
