{% extends 'staticpages/index.html' %}
{% load staticfiles i18n civil_tags evaluate_tags %}

{% block title %}{% trans "CivilHub - People have the Power." %}{% endblock %}
{% block meta %}<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="CivilHub">
<meta name="twitter:title" content="{{ article.title }}">
<meta property="og:title" content="{{ article.title }}"/>
<meta property="og:url" content="https://civilhub.org{{ article.get_absolute_url }}" />
<meta property="og:site_name" content="CivilHub"/>
<meta property="article:published_time" content="{{ article.created|date:"c" }}">
{% if article.edited %}<meta property="article:modified_time" content="{{ article.edited|date:"c" }}">{% endif %}
<meta property="og:description" content="{% trans "CivilHub - People have the Power. The best tools to collaborate in local communities." %}" />
<meta name="keywords" content="{{ article.slug }}, {{ article.title }}">{% endblock %}
{% block require_scripts %}
<script>
window.GOOGLE_DATA = {
  scope: '{{ plus_scope }}',
  id: '{{ plus_id }}'
}
</script>
<script src="{% static 'places_core' %}/js/{% js_path %}/static-home.js"></script>
{% endblock %}
{% block body %}
<body>
{% block navigation %}{% endblock %}
{% block content %}
  {% evaluate article.content %}
{% endblock %}
{% block footer %}
  {% include 'places_core/footer.html' %}
  {% include 'places_core/script-templates/flash-msg-tpl.html' %}
  {% include 'places_core/user-popup.html' %}
  {% include 'places_core/abuse-window-modal.html' %}
  {% include 'places_core/sublocation-dropdown.html' %}
  {% comment %} ~~~~Google Analytics code and Quantcast~~~~ {% endcomment %}
  {% include 'places_core/google-analytics.html' %}
{% endblock %}

{% endblock %}
