{% extends 'places_core/base.html' %}
{% load staticfiles i18n civil_tags %}

{% comment %} Invite friends jest zrobione dla zalogowanych uzytkownikow przez g+, places_core/../{% endcomment %}

{% block header %}
<div class="headerBGaInvi headerBGInvite">
	<div class="headerInviteBox">
		<h1 class="headerTitleInvite"> {% trans "Invite friends" %} </h1>
		<a href="#" type="button" class="btn-googleInvite contacts-toggle custom-tooltip" title="{% trans "You must be logged by Google" %}">{% trans "Invite friends from Gmail" %}</a>
	</div>
</div>

{% endblock %}

{% block content %}

{% comment %}{{ article.content  | safe  }}{% endcomment %}

<div class="invitePage">

	<div class="inviteFriends">
		<h2>{% trans "Invite a friend by sending him a message, to have the opportunity to find out what it means to force CivilHub." %}</h2>
		<h3>{% trans "Terms and Conditions" %}</h3>
	</div>
	<div class="inviteForm">
		<form class="form-horizontal" method="post" action="{% url 'civmail:invite' %}">

		<div class="inviteInputL">
			<input type="email" class="form-control" placeholder="{% trans "Add your friend’s email addresses" %}">
			<p class="text-left">{% trans "Separate the adressees with commas" %}</p>
		</div>


		<div class="inviteSubmit">
			<button type="submit" class="btn btn-saveBig">{% trans "Send" %}</button>
		</div>

		<div class="inviteInputR">
			<input type="text" class="form-control" placeholder="www.civilhub.org/">
		<div class="text-left">{% trans "Share:" %} 
			<div class="fb-share-button" data-href="https://civilhub.org" data-layout="icon"></div>{% comment %}<span class="fa fa-facebook"></span>  <a href="#"><span class="fa fa-twitter"></span></a> {% endcomment %}</div>
		</div>

	</form>
	</div>

</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}