{% extends 'places_core/base.html' %}
{% load i18n staticfiles civil_tags %}

{% block extra_styles %}
<style type="text/css">
	.location-logo{
		background-image: url('/media/img/backgrounds/69f27380b9cb4fc3bd298fc143b61d68_1920x300.jpg');
	}
</style>
{% endblock %}

{% block header %}
<nav id="location-chain-menu" class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" style="height: 1px;">
	    <ul class="nav navbar-nav">
	        <li class="first-indicator"><a href="/places/"><div class="maker-globe-point"><img src="{% static 'places_core' %}/img/globe_point.png"></div></a></li>
	        <li><a href="{{ parent.url }}">Parent</a></li>
	        <li class="breaker">
	            <a href="#" class="sublocation-menu-toggle" data-toggle="dropdown">&gt;</a></li>
	        <li class="active">
	            <a href="{{ location.get_absolute_url }}">Location</a>
	        </li>
	        <li class="last-element">
	            <a href="#" class="dropdown-toggle sublocation-menu-toggle" data-toggle="dropdown"></a>
	        </li>
	    </ul>   
		</div>
	</div>
</nav>

<div class="location-logo" id="task-page-header-block">
	<div class="container">
		<div class="title-container">
			<div class="project-name"><h1>{% trans "Park Construction" %}</h1></div>
			<div class="project-content">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur.</p>
			</div>
			<div class="join-project-btn"><a href="#" class="submit-button">{% trans "Join the Project" %}</a></div>
			<div class="projectparticipants-icons-top">
				<p>{% trans "Project Participants" %}</p>
				<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
				<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
				<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
			</div>
		</div>
	</div>
</div>

<nav id="location-navbar" class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-location-collapse-menu">
              <span class="sr-only">{% trans "Toggle navigation" %}</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
        <div class="collapse navbar-collapse" id="bs-location-collapse-menu">
            <ul class="nav navbar-nav">
                <li><a href="#">{% trans "Information" %}</a></li>
                <li><a href="#">{% trans "Tasks" %}</a></li>
                <li><a href="#">{% trans "Discussions" %}</a></li>
                <li><a href="#">{% trans "Photos" %}</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}


{% block content %}

<div class="container">
	<h1 class="task-page-heading">Budowa Parku<small class="green">{% trans "Active" %}</small></h1>
	<div id="task3-page" class="row">
		<div class="col-sm-6">
			<div class="left-side-task">
				<h1>{% trans "Task" %}</h1>
				<div class="task-container">
					<div class="task-heading"><h4 class="task-title">Zgromadzenie materiałów</h4></div><a href="#"><span class="fa fa-plus-square add-task"></span></a>
					<div class="task-content">
						<div class="row">
							<div class="col-sm-1">
								<form>
									<input type="checkbox" name="checkbox-task"></input>
								</form>
							</div>
							<div class="col-sm-5">
								<span class="sub-task-title">Zakup trawy</span>
							</div>
							<div class="col-sm-5">
								<div class="task-ppl">
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
								</div>
							</div>
							<div class="col-sm-1">
								<div class="task-actions">
									<a href="#"><span class="action-plus fa fa-plus"></span></a>
									<a href="#"><span class="action-more fa fa-chevron-right"></span></a>
								</div>
							</div>
						</div>
					</div>

					<div class="task-content">
						<div class="row">
							<div class="col-sm-1">
								<form>
									<input type="checkbox" name="checkbox-task"></input>
								</form>
							</div>
							<div class="col-sm-5">
								<span class="sub-task-title">Zakup trawy</span>
							</div>
							<div class="col-sm-5">
								<div class="task-ppl">
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
								</div>
							</div>
							<div class="col-sm-1">
								<div class="task-actions">
									<a href="#"><span class="action-plus fa fa-plus"></span></a>
									<a href="#"><span class="action-more fa fa-chevron-right"></span></a>
								</div>
							</div>
						</div>
					</div>

					<div class="task-content">
						<div class="row">
							<div class="col-sm-1">
								<form>
									<input type="checkbox" name="checkbox-task"></input>
								</form>
							</div>
							<div class="col-sm-5">
								<span class="sub-task-title">Zakup trawy</span>
							</div>
							<div class="col-sm-5">
								<div class="task-ppl">
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
								</div>
							</div>
							<div class="col-sm-1">
								<div class="task-actions">
									<a href="#"><span class="action-plus fa fa-plus"></span></a>
									<a href="#"><span class="action-more fa fa-chevron-right"></span></a>
								</div>
							</div>
						</div>
					</div><!--./task-content -->

				</div><!--./task-container-->

				<div class="task-container">
					<div class="task-heading"><h4 class="task-title">Zgromadzenie materiałów</h4></div>
					<div class="task-content">
						<div class="row">
							<div class="col-sm-1">
								<form>
									<input type="checkbox" name="checkbox-task"></input>
								</form>
							</div>
							<div class="col-sm-5">
								<span class="sub-task-title">Zakup trawy</span>
							</div>
							<div class="col-sm-5">
								<div class="task-ppl">
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
								</div>
							</div>
							<div class="col-sm-1">
								<div class="task-actions">
									<a href="#"><span class="action-plus fa fa-plus"></span></a>
									<a href="#"><span class="action-more fa fa-chevron-right"></span></a>
								</div>
							</div>
						</div>
					</div>

					<div class="task-content">
						<div class="row">
							<div class="col-sm-1">
								<form>
									<input type="checkbox" name="checkbox-task"></input>
								</form>
							</div>
							<div class="col-sm-5">
								<span class="sub-task-title">Zakup trawy</span>
							</div>
							<div class="col-sm-5">
								<div class="task-ppl">
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
								</div>
							</div>
							<div class="col-sm-1">
								<div class="task-actions">
									<a href="#"><span class="action-plus fa fa-plus"></span></a>
									<a href="#"><span class="action-more fa fa-chevron-right"></span></a>
								</div>
							</div>
						</div>
					</div>

					<div class="task-content">
						<div class="row">
							<div class="col-sm-1">
								<form>
									<input type="checkbox" name="checkbox-task"></input>
								</form>
							</div>
							<div class="col-sm-5">
								<span class="sub-task-title">Zakup trawy</span>
							</div>
							<div class="col-sm-5">
								<div class="task-ppl">
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
								</div>
							</div>
							<div class="col-sm-1">
								<div class="task-actions">
									<a href="#"><span class="action-plus fa fa-plus"></span></a>
									<a href="#"><span class="action-more fa fa-chevron-right"></span></a>
								</div>
							</div>
						</div>
					</div><!--./task-content -->

				</div><!--./task-container-->
				<div class="add-new-task-group">
					<a href="#"><span class="fa fa-plus-square add-task"></span><p>{% trans "Add new group" %}</p></a>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="right-side-task">
				<div class="task-Container-right">
					<div class="task-headline-right">
						<p>{% trans "Planned completion: " %}16.03.2015</p>
					</div>
					<div class="text-block-right">
						<h1>Sparse the grass</h1>
						<p>Divided, grass meat image had in to midst. Signs all great of don't whose night from life First itself abundantly. Morning fly gathered is gathering fruit herb bearing blessed second created face darkness life make unto was very replenish rule subdue doesn't let called lesser all. Green fruitful. Place bearing heaven so itself good moving living light second second.</p>
						<p class="created">{% trans "Created by Adam Thompson" %}, 16.01.2015</p>
						<div class="footer-text-block-right">
							<div class="project-participants">
								<p>{% trans "Project participants" %}</p>
								<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
								<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
								<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
								<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
								<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
								<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
								<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
								<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
								<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
								<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
								<a href="#"><img src="/media/img/avatars/anonymous.png"></a>	
							</div>
							<div class="join-btn-task"><a href="#" class="submit-button">{% trans "Join" %}</a></div>
						</div>
						<div class="task-comments-right">

							<!-- SZABLON KOMENTARZY -->
							<div class="top-Comments">
					            <p>
					                0 Komentarze
					                <a class="entryCommentsToggle" href="#">Ukryj komentarze</a> 
					            </p>
					        </div>
							<div class="commentformarea row">
							    <p id="comment-order-controls" style="display: none;">Kolejność:
							        <a class="change-order-link" href="#" data-order="-votes">Najwięcej głosów</a> | 
							        <a class="change-order-link" href="#" data-order="-submit_date">Nowe</a> |
							        <a class="change-order-link" href="#" data-order="submit_date">Najstarsze</a>
							    </p>
							    <div class="col-sm-1 avatarCommentsAutor">
							        <img src="/media/img/avatars/anonymous.png" alt="Karol Milewski" class="user-avatar">
							    </div>
							    <div class="col-sm-11">
							        <form id="user-comment-form" role="presentation" class="comment-form-body">
							            <div class="form-group">
							                <textarea name="comment" id="comment" class="form-control" cols="15" rows="1"></textarea>
							            </div>
							            <div class="form-group">
							                <button type="submit" class="btn btn-sendBlue btn-submit-comment-main">Wyślij komentarz</button>
							            </div>
							        </form>
							    </div>
							</div>
							<div id="comments"><div class="comment">
							    <div class="row comment-row comment-entry-heading commentNext">
							        <div class="col-xs-1 comment-avatar-col"><img src="/media/img/avatars/anonymous.png" alt="GrzegorzWarzecha" class="comment-author-avatar user-window-toggle"></div>
							        <div class="comment-main-col">
							            <a href="/users/GrzegorzWarzecha/" class="custom-important comment-author-name user-window-toggle" data-target="3">Grzegorz Warzecha</a> 
							            <small class="comment-date-from-now">12 dni temu</small>
							            <span class="comment-controls" style="opacity: 0;">
							                    <a class="report-abuse-link" href="#" title="Zgłoś naruszenie">
							                        <span class="fa fa-exclamation-triangle"> </span>
							                    </a>
							            </span>
							            <div class="comment-content">Ciekawe tylko czy inni mieszkańcy również tego chcą.</div>
							            <div class="comment-meta-options">
							                    <p>
							                        <span class="comment-total-votes">0</span>
							                        <a class="vote-link vote-up-link custom-tooltip-top" href="#" data-toggle="tooltip" data-placement="top" title="Dobry pomysł, jestem na TAK" rel="tooltip"><span class="fa fa-angle-up"> </span></a> |
							                        <a class="vote-link vote-down-link custom-tooltip-top" data-toggle="tooltip" data-placement="top" title="Zły pomysł, jestem na NIE" href="#" rel="tooltip"><span class="fa fa-angle-down"> </span></a>
							                 &nbsp; • <a class="comment-reply" href="#">Odpowiedz</a>  
							                </p>
							                <div class="comment-votes-detail">
							                    <label class="alert-success"><span class="fa fa-long-arrow-up"> </span>0</label>
							                    <label class="alert-danger"><span class="fa fa-long-arrow-down"> </span>0</label>
							                    <label class="alert-info"><span class="fa fa-bar-chart-o"> </span>0</label>
							                </div>
							            </div>
							            <div class="subcomments"></div>
							        </div>
								    </div>
								</div>
							</div>
							<!--./ SZABLON KOMENTARZY -->

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




    
{% endblock %}