{% extends 'places_core/base.html' %}
{% load i18n staticfiles civil_tags %}



{% block content %}




<div class="container">
	<h1 class="task-page-heading">Budowa Parku<small class="green">Aktywny</small></h1>
	<div id="task3-page" class="row">
		<div class="col-sm-6">
			<div class="left-side-task">
				<h1>Zadania</h1>
				<div class="task-container">
					<div class="task-heading"><h4 class="task-title">Zgromadzenie materiałów</h4></div><a href="#"><span class="fa fa-plus-square add-task"></span></a>
					<div class="task-content">
						<div class="row">
							<div class="col-sm-1">
								<form>
									<input type="checkbox" name="checkbox-task"></input>
								</form>
							</div>
							<div class="col-sm-5">
								<span class="sub-task-title">Zakup trawy</span>
							</div>
							<div class="col-sm-5">
								<div class="task-ppl">
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
								</div>
							</div>
							<div class="col-sm-1">
								<div class="task-actions">
									<a href="#"><span class="action-plus fa fa-plus"></span></a>
									<a href="#"><span class="action-more fa fa-chevron-right"></span></a>
								</div>
							</div>
						</div>
					</div>

					<div class="task-content">
						<div class="row">
							<div class="col-sm-1">
								<form>
									<input type="checkbox" name="checkbox-task"></input>
								</form>
							</div>
							<div class="col-sm-5">
								<span class="sub-task-title">Zakup trawy</span>
							</div>
							<div class="col-sm-5">
								<div class="task-ppl">
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
								</div>
							</div>
							<div class="col-sm-1">
								<div class="task-actions">
									<a href="#"><span class="action-plus fa fa-plus"></span></a>
									<a href="#"><span class="action-more fa fa-chevron-right"></span></a>
								</div>
							</div>
						</div>
					</div>

					<div class="task-content">
						<div class="row">
							<div class="col-sm-1">
								<form>
									<input type="checkbox" name="checkbox-task"></input>
								</form>
							</div>
							<div class="col-sm-5">
								<span class="sub-task-title">Zakup trawy</span>
							</div>
							<div class="col-sm-5">
								<div class="task-ppl">
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
								</div>
							</div>
							<div class="col-sm-1">
								<div class="task-actions">
									<a href="#"><span class="action-plus fa fa-plus"></span></a>
									<a href="#"><span class="action-more fa fa-chevron-right"></span></a>
								</div>
							</div>
						</div>
					</div><!--./task-content -->

				</div><!--./task-container-->

				<div class="task-container">
					<div class="task-heading"><h4 class="task-title">Zgromadzenie materiałów</h4></div><a href="#"><span class="fa fa-plus-square add-task"></span></a>
					<div class="task-content">
						<div class="row">
							<div class="col-sm-1">
								<form>
									<input type="checkbox" name="checkbox-task"></input>
								</form>
							</div>
							<div class="col-sm-5">
								<span class="sub-task-title">Zakup trawy</span>
							</div>
							<div class="col-sm-5">
								<div class="task-ppl">
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
								</div>
							</div>
							<div class="col-sm-1">
								<div class="task-actions">
									<a href="#"><span class="action-plus fa fa-plus"></span></a>
									<a href="#"><span class="action-more fa fa-chevron-right"></span></a>
								</div>
							</div>
						</div>
					</div>

					<div class="task-content">
						<div class="row">
							<div class="col-sm-1">
								<form>
									<input type="checkbox" name="checkbox-task"></input>
								</form>
							</div>
							<div class="col-sm-5">
								<span class="sub-task-title">Zakup trawy</span>
							</div>
							<div class="col-sm-5">
								<div class="task-ppl">
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
								</div>
							</div>
							<div class="col-sm-1">
								<div class="task-actions">
									<a href="#"><span class="action-plus fa fa-plus"></span></a>
									<a href="#"><span class="action-more fa fa-chevron-right"></span></a>
								</div>
							</div>
						</div>
					</div>

					<div class="task-content">
						<div class="row">
							<div class="col-sm-1">
								<form>
									<input type="checkbox" name="checkbox-task"></input>
								</form>
							</div>
							<div class="col-sm-5">
								<span class="sub-task-title">Zakup trawy</span>
							</div>
							<div class="col-sm-5">
								<div class="task-ppl">
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
									<a href="#"><img src="/media/img/avatars/anonymous.png"></a>
								</div>
							</div>
							<div class="col-sm-1">
								<div class="task-actions">
									<a href="#"><span class="action-plus fa fa-plus"></span></a>
									<a href="#"><span class="action-more fa fa-chevron-right"></span></a>
								</div>
							</div>
						</div>
					</div><!--./task-content -->

				</div><!--./task-container-->
				<div class="add-new-task-group">
					<a href="#"><span class="fa fa-plus-square add-task"></span><p>Add new group</p></a>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="right-side-task">
Comments
			</div>
		</div>
	</div>
</div>




    
{% endblock %}