{% load i18n %}

{% comment %} Szablon dla activity streamów {% endcomment %}

<script type="text/template" id="action-template">
    <div class="entry-avatar-col">
       <div class="actiAvatar"> <img src="<%= actor.avatar %>" alt="<%= actor.fullname %>" /> </div>
        {% comment %}<%= actor.rank_pts %>{% endcomment %}
        <div class="actiNick"><a href="<%= actor.user_link %>" class="locActorNick"><h5><%= actor.fullname %></h5></a>

        <p>
           <%= verb %>
            <% if (!_.isEmpty(object_ct)) { %>
               <span class="actiAction">  <%= object_ct %> </span>
                <% if (_.isEmpty(target_ct)) { %>
                    <span class="actiTitle"><a href="<%= object.url %>" class="locObjectName"><%= object.name %></a></span>
                <% } else { %>
                    <span class="actiTitle"> <a href="<%= object.url %>" class="locObjectName"><%= object.name %></a></span>
                    <span class="actiCategory"> {% trans "to" %} <a href="<%= target.url %>"><%= target.name %></a></span>
                <% } %>
            <% } else if (!_.isEmpty(target_ct)) { %>
                <span class="actiCategory"><a href="<%= target.url %>" class="locTargetName"><%= target.name %></a></span>
            <% } %>
        </p>
            <div class="actiClock"><span class="custom-tooltip" title="<%= moment(timestamp).fromNow() %>"><span class="fa fa-clock-o">{% comment %} <span class="locTimeAdd"><%= moment(timestamp).fromNow() %> {% trans "ago" %}</span> {% endcomment %}</span></span></div>
        </div>
    </div>
    <% if (!_.isEmpty(object_ct)) { %>
    <div class="entry-meta-col">
        <div class="entry-header"></div>
        
        <div class="entry-body"><a href="<%= object.url %>"><%= description %></a></div>

        
        <div class="clear">&nbsp;</div>
        <div class="entry-footer"></div>
    </div><!-- // .entry-meta-col -->
    <% } else {%>
       <div class="entry-meta-col rwdShow "></div>
    <% } %>

</script>