{% load i18n bookmark_tags %}

{% comment %} Template for activity summary - location summary and user activity {% endcomment %}

<script type="text/template" id="content-item-tpl">
<div id="tour-summary-box">
    <div class="locBox loc-box-<%= type %>">
    <a href="<%= url %>" class="full-click-box"></a>
    <div class="locBoxHeader">
        <div class="locBoxLoc"><a href="/<%= url.split('/')[1] %>/"><%= location %></a></div>
        <div class="locBoxIcon">
            <div class="locBoxBookmark"> 
                {% comment %}<a href="#" class="custom-tooltip-right btn-add-bookmark btn-bookmark" title="{% trans "Bookmark" %}"{% if exists %} style="display: none;"{% endif %}><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-bookmark-o fa-stack-1x fa-inverse"></i></span></a>
                <a href="#" class="custom-tooltip-right btn-remove-bookmark btn-bookmark" title="{% trans "Remove bookmark" %}"{% if not exists %} style="display: none;"{% endif %}><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-bookmark-o fa-stack-1x fa-inverse"></i></span></a>{% endcomment %}
            </div>
            {% comment %}<div class="locBoxMarker">
                <a href="#" class="custom-tooltip-right" title="{% trans "Show on map" %}"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-map-marker fa-stack-1x fa-ivnerse"></i></span></a>
                {% endif %}
            </div>{% endcomment %}
        </div>

        <div class="locBoxContainer">
            <div class="locBoxAuthor">
                <a href="<%= creator.url %>" ><span class="user-window-toggle" data-target="<%= creator.id %>">
                    <img src="<%= creator.img %>" alt="<%= creator.name %>" class="user-avatar avatarH "></span>
                </a>
            </div>
            <div class="locBoxTitle">
               <a href="<%= url %>"><%= title %></a>
            </div>
        </div>
    </div>

    <div class="locBoxCat"><a href="<%= url %>"><%= type %></a></div>

    <div class="locBoxBody"><a href="<%= url %>"><%= description %></a></div>

</div><!-- /.locBox -->
</div>
</script>