{% load i18n %}

{% comment %} Szablon dla podsumowania aktywności - location summary i user activity {% endcomment %}

<script type="text/template" id="content-item-tpl">
    <div class="locBox loc-box-<%= type %>">

    <div class="locBoxHeader">
        <div class="locBoxLoc"><%= location %></div>
        <div class="locBoxIcon">
            {% comment %}<div class="locBoxBookmark">
                <a href="#" class="custom-tooltip-right btn-add-bookmark" title="{% trans "Bookmark" %}"{% if exists %} style="display: none;"{% endif %}><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-bookmark-o fa-stack-1x fa-inverse"></i></span></a>
                <a href="#" class="custom-tooltip-right btn-remove-bookmark" title="{% trans "Remove bookmark" %}"{% if not exists %} style="display: none;"{% endif %}><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-bookmark-o fa-stack-1x fa-inverse"></i></span></a>
            </div>
            <div class="locBoxMarker">
                {% if map_markers %}
                <a href="#" class="custom-tooltip-right" title="{% trans "Show on map" %}"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-map-marker fa-stack-1x fa-ivnerse"></i></span></a>
                {% endif %}
            </div>{% endcomment %}
        </div>

        <div class="locBoxContainer">
            <div class="locBoxAuthor">
                <a href="<%= creator.url %>">
                    <img src="<%= creator.img %>" alt="<%= creator.name %>" class="user-avatar avatarH">
                </a>
            </div>
            <div class="locBoxTitle">
               <a href="<%= url %>"><%= title %></a>
            </div>
        </div>
    </div>

    <div class="locBoxCat"><%= type %></div>

    <div class="locBoxBody"><%= description %></div>

</div><!-- /.locBox -->
</script>