{% load staticfiles i18n civil_tags %}

{% include 'places_core/header.html' %}

{% comment %}Miejsce na dodatkowe pliki css.{% endcomment %}
{% block extra_styles %}{% endblock %}

{% block require_scripts %}
<script data-main="{% static 'places_core' %}/js/{% js_path %}/static-default.js" src="{% static 'places_core' %}/includes/require/require.js"></script>
{% endblock %}

</head>

<body class="body-nopd">

{% include 'staticpages/navigation.html' %}

<div class="wrap">
{% block content %}

    {% comment %}Tutaj wchodzi kod pojedynczej statycznej strony.{% endcomment %}

{% endblock %}
</div>

{% include 'places_core/footer.html' %}

</body>
</html>