{% load staticfiles %}{% load i18n %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="google-site-verification" content="93irILZQJVmZR0paJFaKesTeiXAR70oQbXo81rKvFIs" />
<title>{% block title %}{{ title | capfirst }}{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="{% static 'places_core/favicon.png' %}" />
<link href="{% static 'places_core/css/style.min.css' %}" rel="stylesheet">
<link href="{% static 'places_core/css/jquery-ui.css' %}" rel="stylesheet" type="text/css" />

{% comment %}Miejsce na dodatkowe pliki css.{% endcomment %}
{% block extra_styles %}{% endblock %}

<script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
<script>window.STATIC_URL = "{% static 'places_core' %}"</script>

{% block require_scripts %}
<script data-main="{% static 'places_core' %}/js/build/staticpages/default/main.js" src="{% static 'places_core' %}/includes/require/require.js"></script>
{% endblock %}

</head>

<body style="padding-top: 0;">

{% include 'staticpages/navigation.html' %}

<div class="wrap">
{% block content %}

    {% comment %}Tutaj wchodzi kod pojedynczej statycznej strony.{% endcomment %}

{% endblock %}
</div>

{% include 'places_core/footer.html' %}

<script type="text/javascript" src="{% static 'places_core/includes/retina/retina.min.js' %}"></script>

</body>
</html>