{% extends 'projects/index.html' %}{% load i18n %}
{% block location_navbar %}<div class="pad-list-nav">{% include 'projects/navbar.html' %}</div>{% endblock %}
{% block content %}<div class="text-center"><h1>{{ document.name }}</h1>
  <form action="{% url 'pad-download' object.pk %}" method="post">{% csrf_token %}
    {{ download_form }}
    <button type="submit">{% trans "Download this pad" %}</button>
  </form>
</div>
<div class="main-content mt25">{{ document.html|safe }}</div>{% endblock %}
