{% extends 'projects/index.html' %}{% load i18n %}
{% block content %}<h1>{{ picture }}</h1>
<img src="{{ picture.image.url }}" alt="{{ picture }}">
<p>
  {% trans "Uploaded by" %} {{ picture.uploaded_by.profile }}
  {{ picture.date_uploaded|timesince }} {% trans "ago" %}
</p>
{% if gallery_access %}<form class="custom-inline-form" action="{% url 'gallery:picture-delete' picture.pk %}" method="post">
  {% csrf_token %}{{ form.as_p }}
  <button type="submit">{% trans "Delete" %}</button>
</form>
<a href="{% url 'projects:picture-update' object.slug picture.pk %}">{% trans "Edit" %}</a>{% endif %}
<div>{{ picture.description|safe }}</div>{% endblock %}
