{% extends 'projects/index.html' %}{% load staticfiles i18n civil_tags counters %}
{% block require_scripts %}<script src="{% static 'places_core' %}/js/{% js_path %}/projects-discussion.js"></script>{% endblock %}
{% block location_navbar %}<div class="socialforumtopic-list-nav">{% include 'projects/navbar.html' %}</div>{% endblock %}
{% block content %}
<div class="col-sm-9 main-content contentPX">
  <h1 class="discussionHeading mb20">{{ discussion }}</h1>
  {% visit_counter discussion %}
  <div class="reply-entry">
    <div class="row">
      <div class="blobfish-left">&nbsp;</div>
      <div class="col-xs-1 entry-avatar-col entry-avatar-nomg">
        <img src="{{ discussion.creator.profile.avatar.url }}" alt="{{ discussion.creator.profile }}" class="user-avatar user-window-toggle" data-target="{{ discussion.creator.pk }}">
        <p class="custom-centered discussionPH">{{ discussion.creator.profile.rank_pts }}</p>
      </div>
      <div class="col-xs-11 discussion-entry-content">
        <p class="entry-meta">
          <a href="{{ discussion.creator.profile.get_absolute_url }}" class="user-window-toggle-detail" data-target="{{ discussion.creator.pk }}">{{ discussion.creator.profile }}</a>
          <span class="topic-date-col">
            {{ discussion.date_created|timesince }} {% trans "ago" %}
          </span>
        </p>
        <div class="entry-content">{{ discussion.description|safe }}</div>
        <div class="custom-clear">&nbsp;</div>
        {% if user.is_authenticated and user != discussion.creator %}<div class="entry-footer text-right"> <a href="#" title="{% trans "Report abuse" %}" class="abuse-link custom-tooltip" title="{% trans "Report abuse" %}" data-ct="{% with discussion|content_type as ctype %}{{ ctype.pk }}{% endwith %}" data-pk="{{ discussion.pk }}"><span class="fa fa-exclamation-triangle">&nbsp;</span></a></div>{% endif %}
      </div>
    </div>
  </div>
  {% for entry in object_list %}
  <div class="reply-entry" id="reply-{{ entry.pk }}">
    <div class="row">
      <div class="blobfish-left">&nbsp;</div>
      <div class="col-xs-1 entry-avatar-col entry-avatar-nomg">
        <img src="{{ entry.creator.profile.avatar.url }}" alt="{{ entry.creator.profile }}" class="user-avatar user-window-toggle" data-target="{{ entry.creator.pk }}">
        <p class="custom-centered discussionPH">{{ entry.creator.profile.rank_pts }}</p>
        {% if entry.is_edited %} <span class="label label-default">{% trans "Edited" %}</span>{% endif %}
      </div>
      <div class="col-xs-11 discussion-entry-content">
        <p class="entry-meta">
          <a href="{{ entry.creator.profile.get_absolute_url }}" class="user-window-toggle-detail" data-target="{{ entry.creator.pk }}">{{ entry.creator.profile }}</a>
          <span class="topic-date-col">
            {{ entry.date_created|timesince }} {% trans "ago" %}
          </span>
        </p>
        <div class="entry-content">{{ entry.content|safe }}</div>
        <div class="custom-clear">&nbsp;</div>
        <div class="entry-footer text-right">
          {% if project_access or user == entry.creator %}<a href="{% url 'projects:entry_update' project_slug=object.slug pk=entry.pk %}" class="custom-tooltip" title="{% trans "Edit" %}"><span class="fa fa-edit">&nbsp;</span></a>{% endif %}
          {% if project_access %}<form class="custom-inline-form" action="{% url 'projects:entry_delete' project_slug=object.slug pk=entry.pk %}" method="post">{% csrf_token %}
            <button type="submit" class="custom-tooltip" title="{% trans 'Delete' %}"><span class="fa fa-remove text-danger">&nbsp;</span></button>
          </form>{% endif %}
          {% if user.is_authenticated and user != entry.creator %}<a href="#" title="{% trans "Report abuse" %}" class="abuse-link custom-tooltip" title="{% trans "Report abuse" %}" data-ct="{% with entry|content_type as ctype %}{{ ctype.pk }}{% endwith %}" data-pk="{{ entry.pk }}"><span class="fa fa-exclamation-triangle">&nbsp;</span></a>{% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% include 'places_core/pagination.html' %}
  {% if user.is_authenticated and not discussion.is_closed %}<div class="reply-entry">
    <div class="row">
      <div class="col-xs-1 entry-avatar-nomg">
        <img src="{{ user.profile.avatar.url }}" alt="{{ user.profile }}" class="user-avatar">
        <p class="custom-centered discussionPH">{{ user.profile.rank_pts }}</p>
      </div>
      <div class="col-xs-11 discussion-entry-content border0">
        <form action="{% url 'projects:create_entry' project_slug=object.slug discussion_slug=discussion.slug %}" method="post" class="form-horizontal">{% csrf_token %}{{ answer_form.topic }}{{ answer_form.creator }}
          <div class="form-group">
            <div class="col-sm-12">{{ answer_form.content }}</div>
          </div>
          <div class="form-group text-right mb0">
            <div class="col-sm-12 text-right">
              <button type="submit" class="btn btn-primary btn-saveBig">{% trans "Reply" %}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>{% endif %}
</div>
<div class="col-sm-3 boxPX">
  <div class="sidebar">
    <div class="sidebar-label">{% trans "Actions" %}:</div>
    <ul class="custom-sidebar-nav">
      <li>{% if project_access or user == discussion.creator %}<a href="{% url 'projects:discussion_update' object.slug discussion.slug %}">{% trans "Edit" %}</a>{% endif %}</li>
    </ul>
  </div>
</div>
{% endblock %}
