{% extends 'locations/index.html' %}{% load i18n %}
{% block title %}{{ location }}, {% trans "Projects" %} - Civilhub.org {% endblock %}
{% block navigation_location %}<div class="location-page-projects">{% include 'locations/location-navbar.html' %}</div>{% endblock %}
{% block content %}{% if user.is_authenticated %}<div class="project-new-create">
  <a href="{% url 'locations:project_create' location.slug %}" class="btn-greenBig">{% trans "Create new project" %}</a>
</div>{% endif %}
{% for item in object_list %}{% if forloop.counter0 == 0 or forloop.counter0|divisibleby:4 %}<div class="row">{% endif %}<div class="col-sm-3">
  <div class="locBox loc-box-project">
    <div class="locBoxHeader" style="background-image: url({{ item.image.url }})">
      <div class="locBoxLoc"><a href="#">{{ location }}</a></div>
      <div class="locBoxContainer">
        <div class="locBoxAuthor">
          <a href="{{ item.creator.profile.get_absolute_url }}">
            <img src="{{ item.creator.profile.avatar.url }}" alt="{{ item.creator.profile }}" class="user-avatar avatarH">
          </a>
        </div>
        <div class="locBoxTitle">
          <a href="{{ item.get_absolute_url }}">{{ item }}</a>
        </div>
      </div>
    </div>
    <div class="locBoxCat">{% comment %}<a href="{{ item.get_absolute_url }}">KATEGORIA? Jaka kategoria?</a>{% endcomment %}</div>
    <div class="locBoxBody"><a href="{{ item.get_absolute_url }}">{{ item.description|safe|truncatechars:115 }}</a></div>
  </div>
</div>
{% if forloop.counter|divisibleby:4 or forloop.counter == files.count %}</div>{% endif %}{% endfor %}{% endblock %}
