{% extends 'projects/index.html' %}{% load staticfiles i18n civil_tags %}
{% block location_navbar %}<div class="socialforumtopic-list-nav">{% include 'projects/navbar.html' %}</div>{% endblock %}
{% block content %}
{% if object_list %}<div class="col-sm-9 contentPX main-content">
  <div class="custom-tablelike socialforumtopic discussion-list">
    
      {% for topic in object_list %}
      <div class="topic-list-entry custom-list-entry">
        <div class="row">
          <div class="col-sm-5 text-left excerpt">
            <a href="{{ topic.get_absolute_url }}">{{ topic }}</a>
          </div>
          <div class="col-sm-5 col-sm-offset-2 text-left">
            <img src="{{ topic.creator.profile.avatar.url }}" alt="{{ topic.creator.profile }}" class="user-avatar-minithumb">
            <a href="#"><span class="user-window-toggle" data-target="{{ topic.creator.pk }}">{{ topic.creator.profile }}</span></a>
            <span class="date-created">{{ topic.date_created|timesince }}</span>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
  {% include 'places_core/pagination.html' %}
</div>{% else %}<div class="col-sm-9 no-entries contentPX">
  <img src="/static/places_core/img/civilian.png" alt="{% trans "Sad Civilian" %}">
  <h2>
    {% trans "We didn't find any discussions" %}.<br /> 
    {% trans "Please" %}{% if user.is_authenticated %}<a href="{% url 'projects:discussion_create' object.slug %}" >
    {% else %}<a href="/users/login" >{% endif %}{% trans "add first discussion" %}</a>.
  </h2>
</div>{% endif %}
<div class="col-sm-3 boxPX">
  <div class="sidebar">
    <div class="sidebar-label">{% trans "Actions" %}:</div>
    {% if user.is_authenticated %}
    <ul class="custom-sidebar-nav">
      <li><a href="{% url 'projects:discussion_create' object.slug %}">{% trans "Create new discussion" %}</a></li>
    </ul>
    {% endif %}
  </div>
</div>
{% endblock %}
