{% extends 'projects/index.html' %}{% load staticfiles i18n civil_tags %}
{% block content %}<ul>{% for topic in object_list %}
  <li>
  	<a href="{{ topic.get_absolute_url }}">{{ topic }}</a>
  	{% if is_moderator %}<form class="custom-inline-form" method="post" action="{% url 'projects:discussion_delete' pk=topic.pk %}">{% csrf_token %}
  		<button type="submit"><span class="fa fa-remove">&nbsp;</span></button>
  	</form>{% endif %}
 	</li>
{% endfor %}</ul>
{% include 'places_core/pagination.html' %}
{% if user.is_authenticated %}<a href="{% url 'projects:discussion_create' object.slug %}">
	{% trans "Create new" %}
</a>{% endif %}{% endblock %}