{% extends 'projects/index.html' %}{% load i18n %}
{% block location_navbar %}<div class="socialproject-summary-nav">{% include 'projects/navbar.html' %}</div>{% endblock %}
{% block content %}
<div class="col-sm-6 main-project-content">
  <h1 class="mt0">{{ object }}</h1>
  <div class="text-justify">{{ object.description|safe }}</div>
</div>
<div class="col-sm-6">
  <div class="activity-stream wrapper-timeline">
    <ul class="ac-timeline">
      {% for action in actions %}<li class="timeline-item">
      <div class="timeline-wrap">
        <span class="date custom-tooltip" title=""></span>
        <a href="{{ action.actor.profile.get_absolute_url }}" class="timeline-user">
          <span class="user-window-toggle" data-target="{{ action.actor.pk }}"><img src="{{ action.actor.profile.avatar.url }}" alt="{{ action.actor.profile }}" /></span>
          <span class="user-pts">{{ action.actor.profile.rank_pts }}</span>
        </a>
        <div class="timeline-content panel">
          <span class="arrow arrow-left arrow-top"></span>
          <div class="timeline-content-head">
          <a href="{{ action.actor.profile.get_absolute_url }}">{{ action.actor.profile }}</a>
            {% trans action.verb %}
            {% if action.action_object %}
              {% if action.action_object.get_absolute_url %}<span> <a href="{{ action.action_object.get_absolute_url }}">{{ action.action_object }}</a></span>
              {% else %}<span> <a href="{{ action.action_object.get_absolute_url }}">{{ action.action_object }}</a></span>
              {% endif %}
              <span> {% trans "to" %} <a href="{{ action.target.get_absolute_url }}">{{ action.target }}</a></span>
            {% else %}<a href="{{ action.target.get_absolute_url }}">{{ action.target }}</a></span>
            {% endif %}
        </div>
        </div>
      </div>
      </li>{% endfor %}
    </ul>
  </div>
</div>{% endblock %}
