{% extends 'projects/index.html' %}{% load i18n %}

{% block location_navbar %}<div class="socialproject-attachment-nav">{% include 'projects/navbar.html' %}</div>{% endblock %}

{% block content %}<div class="main-content create-form newFormCreate">
  <h3>{{ voting|capfirst }} - {% trans "summary" %}</h3>
  <ul>{% for marker in markers %}
    <li>{{ marker }}: {{ marker.votes.count }}</li>
  {% endfor %}</ul>
  {% if user.is_authenticated %}<a href="{% url 'projects:voting' object.slug voting.pk %}">{% trans "go to voting page"|capfirst %}</a>{% endif %}
</div>{% endblock %}
