{% extends 'projects/index.html' %}{% load i18n %}

{% block location_navbar %}<div class="socialproject-attachment-nav">{% include 'projects/navbar.html' %}</div>{% endblock %}

{% block content %}<div class="main-content create-form newFormCreate">
  <p>{% trans "Are you sure? This operation cannot be undone." %}</p>
  <form method="post" action="">{% csrf_token %}
    <button type="submit" class="btn btn-danger">{% trans "yes"|capfirst %}</button> |
    <a class="btn btn-default" href="{% url 'projects:settings' object.slug %}">{% trans "no"|capfirst %}</a>
  </form>
</div>{% endblock %}
