{% extends 'projects/index.html' %}{% load i18n civil_tags %}

{% block require_scripts %}<script src="{% module_path 'votings-vote' %}"></script>{% endblock %}

{% block location_navbar %}<div class="socialproject-attachment-nav">{% include 'projects/navbar.html' %}</div>{% endblock %}

{% block content %}<script type="text/javascript">
var VA__MAP_DATA = {
  markers: {{ markers|safe }},
  enabled: {{ user_can_vote|yesno:"true,false" }}
};
</script>
<div class="main-content create-form newFormCreate">
  <h1>
    {{ voting }} {% if voting.is_active %}<span class="label label-success">{% trans "active"|capfirst %}</span>
    {% else %}<span class="label label-danger">{% trans "inactive"|capfirst %}</span>{% endif %}
    <small><a href="{% url 'projects:voting-summary' object.slug voting.pk %}">{% trans "show summary"|capfirst %}</a></small>
  </h1>
  {% if voting.start_date %}<p>{% trans "start date"|capfirst %}: {{ voting.start_date|date:"d M Y" }}</p>{% endif %}
  {% if voting.finish_date %}<p>{% trans "finish date"|capfirst %}: {{ voting.finish_date|date:"d M Y"  }}</p>{% endif %}
  <div class="row" "va__placeholder">
    <div class="col-sm-6"><div id="va__map"></div></div>
    <div class="col-sm-6">
      <div id="va__description"></div>
      <div id="va__comments"></div>
    </div>
  </div>
</div>{% endblock %}
