{% extends 'projects/index.html' %}{% load i18n civil_tags %}

{% block require_scripts %}<script src="{% module_path 'votings-vote' %}"></script>{% endblock %}

{% block location_navbar %}<div class="">{% include 'projects/navbar.html' %}</div>{% endblock %}

{% block content %}<script type="text/javascript">
var VA__MAP_DATA = {
  markers: {{ markers|safe }},
  enabled: {{ user_can_vote|yesno:"true,false" }}
};
</script>
<div class="main-content create-form newFormCreate">
  <h1 class="task-page-heading">
    {{ voting }} {% if voting.is_active %}<small class="green">{% trans "active"|capfirst %}</small>
    {% else %}<small class="green danger">{% trans "inactive"|capfirst %}</small>{% endif %}
    <a href="{% url 'projects:voting-summary' object.slug voting.pk %}" class="small">{% trans "show summary"|capfirst %}</a>
  </h1>
  <div>
  {% if voting.start_date %}<span>{% trans "start date"|capfirst %}: {{ voting.start_date|date:"d M Y" }}</span>{% endif %}
  {% if voting.finish_date %}<span>{% trans "finish date"|capfirst %}: {{ voting.finish_date|date:"d M Y"  }}</span>{% endif %}
  </div>
  <div class="row" "va__placeholder">
    <div class="col-sm-6 va__map_container"><div id="va__map"></div></div>
    <div class="col-sm-6">
      <div id="va__description"></div>
      <div id="va__comments"></div>
    </div>
  </div>
</div>{% endblock %}
