{% extends 'places_core/base.html' %}
{% load staticfiles i18n civil_tags actstream_tags %}
{% block title %}{{ user.get_full_name }} - Civilhub.org {% endblock %}
{% block description %}<meta name="description" content="{{ user.get_full_name }} {% if profile.followed_locations %}{% trans "engages in" %} {% for location in profile.followed_locations %}{{ location }}, {% endfor %}{% else %}{% endif %}" />{% endblock %}
{% block meta %}<meta property="og:image" content="https://civilhub.org{{ profile.avatar.url }}"/>
<meta property="og:site_name" content="CivilHub"/>
<meta name="keywords" content=" {{ cuser.first_name }}, {{ cuser.last_name }}, {{ cuser.get_full_name }}">{% endblock %}

{% if fb_list %}{% block require_scripts %}<script src="{% module_path 'facebook-friends' %}"></script>{% endblock %}{% endif %}

{% block header %}
<style type="text/css">
.user-logo {
  background-image: url({{ profile.background_url }});
}
@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .user-logo {
    background-image: url({{ profile.retina_background_url }});
  }
}
</style>
    <div class="user-logo">
    <div class="container">
      <div class="user-info">
        <div class="profile-page-avatar">
          <img src="{{ profile.avatar.url }}" alt="{{ profile }}" />
        </div>
        <h1 class="user-fullname">
          {{ profile }}
        </h1>
        <div class="user-more-info">{{ user.profile.followed_users|length }} {% trans "Follows" %} | {{ cuser.profile.followers|length }} {% trans "Followers" %}</div>
        {% follow_button profile.user %}
        {% if profile.gplus_url %}<a href="{{ profile.gplus_url }}" target="_blank" rel="nofollow" class="social-link-button custom-tooltip" title="{% trans "Google+ profile" %}"><span class="fa-stack"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-google btn-igred img-circle fa-stack-1x"></span>&nbsp;</span></a>{% endif %}
        {% if profile.fb_url %}<a href="{{ profile.fb_url }}" target="_blank" rel="nofollow" class="social-link-button custom-tooltip" title="{% trans "Facebook profile" %}"><span class="fa-stack"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-facebook btn-ifblue img-circle fa-stack-1x"></span>&nbsp;</span></a>{% endif %}
        {% if profile.twt_url %}<a href="{{ profile.twt_url }}" target="_blank" rel="nofollow" class="social-link-button custom-tooltip" title="{% trans "Twitter profile" %}"><span class="fa-stack"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-twitter btn-itblue img-circle fa-stack-1x"></span>&nbsp;</span></a>{% endif %}
        {% if profile.linkedin_url %}<a href="{{ profile.linkedin_url }}" target="_blank" rel="nofollow" class="social-link-button custom-tooltip" title="{% trans "LinkedIn profile" %}"><span class="fa-stack"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-linkedin btn-ilblue img-circle fa-stack-1x"></span>&nbsp;</span></a>{% endif %}
        {% if profile.website %}<a href="{{ profile.website }}" target="_blank"  rel="nofollow" class="social-link-button custom-tooltip" title="{% trans "Website" %}"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-external-link fa-stack-1x bg-color-poll img-circle"></span>&nbsp;</span></a>{% endif %}
        {% if request.user != user %}<a href="{% url 'postman_write' user.username %}" target="_blank" class="social-link-button custom-tooltip" title="{% trans "Send private message" %}"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-envelope fa-stack-1x img-circle bg-color-discussion"></span>&nbsp;</span></a>{% endif %}
      </div>
      {% if request.user == user %}
        <div class="group-change-bg-btn"><a class="change-background-btn" href="{% url 'user:background' %}">{% trans "Change background image" %}</a></div>
      {% endif %}
    </div>
  </div>
  <!-- <div class="profileIndexEmptyBox mt0"></div> -->
  <nav id="filter-navbar" class="navbar-default mt0 mb20" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-location-collapse-menu">
          <span class="sr-only">{% trans "Toggle navigation" %}</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-location-collapse-menu">
        <ul class="nav navbar-nav navbar-nav-userspace">
          <li><a href="{% url 'activities:followed' profile.clean_username %}" class="active">{% trans "Followed" %}</a></li>
          <li><a href="{% url 'activities:facebook-friends' profile.clean_username %}">{% trans "Friends from Facebook" %}</a></li>
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}
{% block content %}
  {% if fb_list and object_list|length %}<div class="row">
    <div class="text-center mb20"><a href="#" class="btn btn-greenBig" id="follow-all">{% trans "follow all"|capfirst %}</a></div>
  </div>{% endif %}
  {% for f in object_list %}
    {% if forloop.counter0 == 0 or forloop.counter0|divisibleby:4 %}<div class="row">{% endif %}
    <div class="col-sm-3">
      <div class="sublocation">
      <div class="bgactive-follower" style="background-image: url({{ f.profile.background_url }});">
        <div class="active-sublocation">
          <div class="text-center">
            <div><img src="{{ f.profile.avatar.url }}" alt="{{ f.profile }}" class="user-avatar mb0"></div>
            <h4><a href="{{ f.profile.get_absolute_url }}" class="text-white acticle-content"><strong>{{ f.get_full_name }}</strong></a></h4>
          </div>
          {% follow_button f %}
        </div>
      </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:4 or forloop.counter == object_list|length %}</div>{% endif %}
    {% empty %}
    <div class="no-entries">
      <img src="/static/places_core/img/civilian.png" alt="{% trans "Sad Civilian" %}">
      <h2>
        {% trans "You are currently not following anyone." %}
      </h2>
    </div>
  {% endfor %}
{% endblock %}
