{% load staticfiles i18n %}<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{% block title %}{{ title | default:"Civilhub" | capfirst }}{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="{% static 'places_core/favicon.png' %}" />
<link href="{% static 'places_core/css/style.min.css' %}" rel="stylesheet">
</head>
<body style="padding: 0;">
<div class="error-page not-found-page">
  <div class="not-found-content">
    <div class="not-found-info">
      <h1>{% trans "404 File or Page Not Found" %}</h1>
      <h2>{% trans "We lost something" %}... </h2>
    </div>
    <div class="back-to-home">
      <div class="logo"> <img src="/static/places_core/img/logo-footer.png" /> </div>
      <p><input type="button" class="submit-button" onclick="location.href='/'" value="{% trans 'Back to Home Page' %}"></p>
      <p>&nbsp;</p>
    </div>
  </div>
</div>
</body>
</html>
