{% load staticfiles i18n civil_tags %}

{% block meta %}<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="CivilHub">
<meta name="twitter:title" content="{{ title }}">
<meta property="og:title" content="{{ title }}"/>
<meta property="og:image" content="https://civilhub.org/static/places_core/img/map.jpg"/>
<meta property="og:site_name" content="CivilHub"/>
<meta property="og:url " content="https://civilhub.org/maps/" />
<meta property="og:description" content="{% trans "Jump into the map and see what is happening in your place." %}"/>
<meta name="keywords" content="{{ title }}">{% endblock %}

{% include 'places_core/header.html' %}

{% include 'places_core/script-templates.html' %}

<link rel="stylesheet" href="{% static 'places_core/includes/leaflet/MarkerCluster.css' %}">
<link rel="stylesheet" href="{% static 'places_core/includes/leaflet/MarkerCluster.Default.css' %}">

<script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
<script>
(function () {

"use strict";

window.STATIC_URL = "{% static 'places_core' %}";

window.MAP_STATIC_URL = "{% static 'maps' %}";

window.CONTENT_TYPES = {
{% for type in content_types %}
  {{ type.pk }}: {
    content_type: "{{ type.pk }}",
    app_label: "{{ type.app_label }}",
    model: "{{ type.model }}"
  },
{% endfor %}
};

window.CIVILAPP = {
  {% if active_marker %}
  current: {
    latitude: ("{{ active_marker.latitude }}").replace(',', '.'),
    longitude: ("{{ active_marker.longitude }}").replace(',', '.'),
    object_pk: "{{ active_marker.content_object.pk }}",
    content_type: "{{ active_marker.content_type.pk }}"
  },{% endif %}
  position: {
    lat: ("{{ position.lat }}").replace(',', '.'),
    lng: ("{{ position.lng }}").replace(',', '.')
  },
  icons: { {% for type in content_types %}
    {% if type.model in icons %}'{{ type.pk }}': {
      iconUrl: "{% static 'maps' %}/icons/marker-{{ type.model }}.png",
      iconRetinaUrl: "{% static 'maps' %}/icons/marker-{{ type.model }}@2x.png",
      iconSize: [23, 27]
    },{% endif %}
  {% endfor %} }
};

})();
</script>
<script src="{% static 'places_core' %}/includes/require/require.js"></script>
<script src="{% static 'places_core' %}/js/{% js_path %}/map-main.js"></script>
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
</head>

<body>

{% include 'places_core/navigation.html' %}

<div id="map-options-toggle">
  <div id="map-filter-toggle" href="#" title="{% trans "Filters Map" %}">
    <div class="sprite-icon"><span class="ch-icon ch-subspaces"></span> {% trans "Filters Map" %}</div>
    <div class="angle-icon-toggle"><span class="fa fa-angle-down"></span></div>
  </div>
</div>

<div id="map-options-panel">
  <div class="content">
  {% trans "Choose place" %}
    <nav id="country-nav-panel" role="navigation" class="civ-map-controller">
      <form id="country-nav-form">
        <input type="text" id="select-location-field" placeholder="{% trans "Search" %}" />
      </form>
    </nav>
  </div>
  <div class="controls-divider"></div>
  <div class="content">
    {% trans "Show" %}
    <nav class="civ-map-controller" role="navigation">
      <ul>
        <li><input type="checkbox" data-target="locations.location" class="map-filter-toggle" checked="checked" /><img src="{% static 'maps/icons/marker-location.png' %}" /> {% trans "Places" %}</li>
        <li><input type="checkbox" data-target="ideas.idea" class="map-filter-toggle" checked="checked" /><img src="{% static 'maps/icons/marker-idea.png' %}" /> {% trans "Ideas" %}</li>
        <li><input type="checkbox" data-target="polls.poll" class="map-filter-toggle" checked="checked" /><img src="{% static 'maps/icons/marker-poll.png' %}" /> {% trans "Polls" %}</li>
        <li><input type="checkbox" data-target="topics.discussion" class="map-filter-toggle" checked="checked" /><img src="{% static 'maps/icons/marker-discussion.png' %}" /> {% trans "Discussions" %}</li>
        <li><input type="checkbox" data-target="blog.news" class="map-filter-toggle" checked="checked" /><img src="{% static 'maps/icons/marker-news.png' %}" /> {% trans "News" %}</li>
        <li><input type="checkbox" data-target="projects.socialproject" class="map-filter-toggle" checked="checked" /> <img src="{% static 'maps/icons/marker-socialproject.png' %}" /> {% trans "Projects" %}</li>
      </ul>
    </nav>
  </div>
</div>

<div id="main-map"><div class="chSpinBox"><img src="{% static 'maps/images/logo.svg' %}" alt="CivilHub spin" class="fa-chSpin chSpin"><!-- <span class="fa fa-spin fa-circle-o-notch">&nbsp;</span> --></div></div>

</body>
</html>
{% include 'places_core/script-templates/flash-msg-tpl.html' %}
