{% extends 'places_core/base.html' %}
{% load staticfiles %}{% load i18n %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'maps/css/maps.css' %}" />
{% endblock %}

{% block content %}
<!-- Add Google Maps support -->
<script src="//maps.googleapis.com/maps/api/js?keyAIzaSyD9xJ_hO0PSwdf-8jaTKMAJRcy9USx7YjA&sensor=false"></script>
<div id="map"></div>
{% endblock %}

{% block footer_scripts %}
<script>
(function ($) {
    "use strict";
    //
    // Prepare Google Map
    // ------------------
    function createMap(locations, pointers) {
        // DEBUGI
        console.log(locations);
        console.log(pointers);
        
        var mapOptions = {
            center: new google.maps.LatLng(0, 0),
            zoom: 2
        };
        
        var map = new google.maps.Map(document.getElementById("map"),
            mapOptions);
            
        function placeMarker(location) {
          var marker = new google.maps.Marker({
                position: location,
                map: map
            });
        }
        
        $(locations).each(function () {
            var position = new google.maps.LatLng(this.latitude, this.longitude)
            placeMarker(position);
        });
        
        $(pointers).each(function () {
            var position = new google.maps.LatLng(this.latitude, this.longitude)
            placeMarker(position);
        });
    }
    //
    // Fetch objects from server and create map
    // ----------------------------------------
    $.get('/maps/pointers/', function (resp) {
        resp = JSON.parse(resp);
        if (resp.success) {
            createMap(resp.locations, resp.pointers);
        } else {
            console.log("Failed to load map data");
        }
    });
    
})(jQuery);
</script>
{% endblock %}