{% load staticfiles %} {% load i18n %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{% block title %}{{ title | capfirst }}{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="{% static 'places_core/favicon.png' %}" />
<link href="{% static 'places_core/css/style.min.css' %}" rel="stylesheet">
<link href="{% static 'places_core/css/jquery-ui.css' %}" rel="stylesheet" type="text/css" />

{% comment %}Miejsce na dodatkowe pliki css.{% endcomment %}
{% block extra_styles %}{% endblock %}

<script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
<script src="{% static 'places_core/includes/require/require.js' %}"></script>

{% include 'places_core/navigation.html' %}

<script>
window.STATIC_URL = "{% static 'maps' %}";

require.config({
    baseUrl: "{% static 'places_core' %}",
    
    urlArgs: "bust=" + (new Date()).getTime(),
    
    waitSeconds: 200,
    
    paths: {
        async: 'includes/require/async',
        jquery: 'includes/jquery/jquery',
        bootstrap: 'includes/bootstrap/bootstrap',
        underscore: 'includes/underscore/underscore',
        backbone: 'includes/backbone/backbone',
        common: 'js/common'
    },
    
    shim: {
        underscore: {
            deps: ['jquery'],
            exports: '_'
        },
        
        backbone: {
            deps: ['underscore'],
            exports: 'Backbone'
        },
        
        bootstrap: {
            deps: ['jquery']
        },
        
        tagsinput: {
            deps: ['jquery']
        }
    }
});

define('gmaps', ['async!//maps.googleapis.com/maps/api/js?keyAIzaSyD9xJ_hO0PSwdf-8jaTKMAJRcy9USx7YjA&sensor=false'], function () {
    return google.maps;
});

require(['jquery',
         'js/maps/map',
         'gmaps',
         'common'],

function ($, CivilMap) {
    
    "use strict";
    
    (function () {
        var topAdjust = $('#navbar-top').height(),
            $map      = $('#map'),
            $toggle   = $('#map-filter-toggle'),
            $panel    = $('#map-options-panel');

        $map.css({
            position : "absolute",
            left     : 0,
            top      : topAdjust,
            width    : "100%",
            height   : $(window).height() - topAdjust,
            'z-index': 10
        });

        //$panel.hide();

        $toggle // show/hide map options button.
            .tooltip({placement:'right'})
            .bind('click',
                function (evt) {
                    evt.preventDefault();
                    $panel.slideToggle('fast');
                    $toggle.find('.fa')
                        .toggleClass('fa-arrow-circle-down')
                        .toggleClass('fa-arrow-circle-up');
                }
            );

    })();
    
    window.CONTENT_TYPES = {
    {% for type in content_types %}
        {{ type.pk }}: {
            app_label: "{{ type.app_label }}",
            model: "{{ type.model }}"
        },
    {% endfor %}
    };
    
    window.mapDialogTpl = _.template($('#map-dialog-tpl').html());
    
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: parseInt({{ zoom }}, 10),
        center: new google.maps.LatLng(parseFloat({{ latitude }}), parseFloat({{ longitude }}))
    });
    
    $.get('/api-maps/data/?code={{ code }}', function (resp) {
        var app = new CivilMap(map, resp);
    });
    
    //~ $.get('/api-maps/pointers/', function (resp) {
        //~ var app = new CivilMap(map, resp.results);
    //~ });
    
    $(document).trigger('load');
    
});
</script>

<div id="map-options-toggle">
    <a id="map-filter-toggle" href="#" title="{% trans "Show options" %}">
        <span class="fa fa-arrow-circle-down"> </span>
    </a>
    {% if user.is_authenticated %}
    <a id="map-follow-toggle" href="#" title="{% trans "Only followed locations" %}">
        <span class="fa fa-circle-o"> </span>
    </a>
    {% endif %}
</div>
<nav id="map-options-panel" role="navigation">
    <ul>
        <li>{% trans "Places" %} <input type="checkbox" data-target="location" class="map-filter-toggle" checked="checked" /></li>
        <li>{% trans "Ideas" %} <input type="checkbox" data-target="idea" class="map-filter-toggle" checked="checked" /></li>
        <li>{% trans "Polls" %} <input type="checkbox" data-target="poll" class="map-filter-toggle" checked="checked" /></li>
        <li>{% trans "Discussions" %} <input type="checkbox" data-target="discussion" class="map-filter-toggle" checked="checked" /></li>
        <li>{% trans "News" %}<input type="checkbox" data-target="news" class="map-filter-toggle" checked="checked" /></li>
    </ul>
</nav>

<div id="map"><span class="fa fa-spin fa-circle-o-notch">&nbsp;</span></div>

<script type="text/template" id="user-popup-tpl">
    <div class="user-popup-avatar">
        <img src="<%= avatar %>" alt="<%= username %>" />
    </div>
    <div class="user-popup-details">
        <span class="fa fa-times-circle-o user-popup-close"> </span>
        <p class="user-popup-personals">
            <a href="<%= user_link %>"><%= fullname %></a><br />
            <%= rank_pts %> {% trans 'pts' %}
        </p>
        <p>
            <% for (var i = 0; i < follows.length; i++) { %>
                <%= follows[i] %>,&nbsp;
            <% } %>
        </p>
    </div>
</script>

{% comment %}Szablon dla okienka dialogowego Google Maps{% endcomment %}

<script type="text/template" id="map-dialog-tpl">
    <div class="col-sm-2"><img src="<%= img %>" alt="<%= title %>" class="map-dialog-thumb" style="max-width:100%;margin:10px auto 0px auto;" /></div>
    <div class="col-sm-10">
        <h4><a href="<%= url %>"><%= title %></a> (<%= type %>)</h4>
        <div><%= desc %></div>
        <div>
            {% trans "Created" %}
            <% if (date !== '') { %>
                 <%= date %> {% trans "ago" %}
            <% } %>
            {% trans "by" %} <a href="<%= profile %>"><%= user %></a>
        </div>
    </div>
</script>

<div style="display:none;">{% include 'places_core/footer.html' %}</div>

</body>
</html>