{% load staticfiles %}

{% if map_markers %}
<div id="minimap"></div>
<div style="clear:both;">&nbsp;</div>
{% comment %}<script src="{% static 'maps/js/minimap.js' %}"></script>
<script class="minimap-data">
(function ($) {
    "use strict";
    var minimapData = [];
    {% for m in map_markers %}
    minimapData.push({
        lat: '{{ m.latitude }}',
        lng: '{{ m.longitude }}',
        pk: '{{ m.pk }}'
    });
    {% endfor %}
    $('#minimap').minimap(minimapData);
})(jQuery);
</script>{% endcomment %}
{% endif %}