{% load staticfiles %}{% load i18n %}

{% comment %}
    Templatka dla formularza dodawania punktów na mapie. Formularz wypełniany
    jest automatycznie na podstawie wybranej treści.
{% endcomment %}

<script type="text/template" id="map-marker-form-template">
<div class="modal fade" id="pointer-form">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{% trans "Create map marker" %}</h4>
            </div>
            <div class="modal-body">
                <form role="form" method="post" action="{% url 'maps:save' %}">
                    {{ marker_form }}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                <button type="button" class="btn btn-primary submit-btn">{% trans "Save" %}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
</script>