<div class="comment-avatar-col pull-left"><img src="<%= author.profile.avatar %>" alt="<%= author.full_name %>" class="user-avatar avatarViewIMG comment-author-avatar" /></div>
<div class="comment-main-col comment-removed">
  <a href="<%= author.profile.url %>" class="comment-author-name user-window-toggle" data-target="<%= author.id %>"><strong><%= author.full_name %></strong></a>
  <small class="comment-date-from-now"><%= moment(submit_date).fromNow() %></small>
  <span class="comment-controls">
    <% if(permission) { %><a href="#" class="comment-moderate" title="<%= gettext("Hide entry") %>"><span class="fa fa-flag"> </span></a><% } %>
  </span>
  <div class="comment-content" id="content-<%= id %>"><%= gettext("This comment has been removed by moderator") %></div>
  <div class="comment-meta-options">
    <span class="comment-total-votes"><%= note %></span>
    <% if (answers > 0) { %> &bull; <a class="show-replies" href="#">(<%= gettext("hide") %>) <%= answers %></a><% } %>
    </p>
    <div class="comment-votes-detail">
      <label class="alert-success"><span class="fa fa-long-arrow-up"> </span><%= upvotes %></label>
      <label class="alert-danger"><span class="fa fa-long-arrow-down"> </span><%= downvotes %></label>
      <label class="alert-info"><span class="fa fa-bar-chart-o"> </span><%= note %></label>
    </div>
    <ul class="vote-summary"></ul>
  </div>
  <div class="subcomments"></div>
</div>
