{% extends 'places_core/base.html' %}
{% load staticfiles i18n activity_tags civil_tags %}

{% block require_scripts %}
<script>window.API_URL = "/api-userspace/activity/";</script>
<script>window.USER_ID = "{{ user.pk }}";</script>
<script data-main="{% static 'places_core' %}/js/{% js_path %}/userspace-activity.js" src="{% static 'places_core' %}/includes/require/require.js"></script>
{% endblock %}

{% block title %}{% trans "Your feed" %}{% endblock %}

{% block content %}

    <div class="activities-page">

        <div class="col-lg-5">
            <div class="activity-stream"></div>
        </div>

        <div class="col-lg-4">
            <div class="sidebar">
                
                <div class="ambasador-image">
                    <h3>{% trans "Zostań ambasadorem" %}</h3>
                </div>
                
                <div class="sidebar-label">{% trans "News" %}</div>
                <div class="sidebar-content">
                {% for n in blog %}
                    <a href="{{ n.get_absolute_url }}">{{ n.title }}</a>
                {% endfor %}
                </div>
                
                <div class="sidebar-label">{% trans "Discussions" %}</div>
                <div class="sidebar-content">
                {% for t in topics %}
                    <a href="{{ t.get_absolute_url }}">{{ t.question }}</a>
                {% endfor %}
                </div>
                
                <div class="sidebar-label">{% trans "Ideas" %}</div>
                <div class="sidebar-content">
                {% for i in ideas %}
                    <a href="{{ i.get_absolute_url }}">{{ i.name }}</a>
                {% endfor %}
                </div>
                
                <div class="sidebar-label">{% trans "Polls" %}</div>
                <div class="sidebar-content">
                {% for p in polls %}
                    <a href="{{ p.get_absolute_url }}">{{ p.title }}</a>
                {% endfor %}
                </div>
                
            </div>
        </div>


        <div class="col-lg-3">
            <div class="sidebar">
                <div class="sidebar-label">{% trans "About me" %}</div>
                <div class="sidebar-content">
                    {{ actor.profile.description|striptags }}
                </div>
            </div>
        </div>
    
    </div>

    <script type="text/template" id="action-template">
        <div class="col-md-2 entry-avatar-col">
            <img src="<%= actor.avatar %>" alt="<%= actor.fullname %>" class="user-avatar" />
            <%= actor.rank_pts %>
        </div>
        
        <div class="col-md-10 entry-meta-col">
            <div class="entry-header">
                <a href="<%= actor.user_link %>"><%= actor.fullname %></a>
                <%= verb %>
                <% if (!_.isEmpty(object_ct)) { %>
                    <%= object_ct %>
                    <% if (_.isEmpty(target_ct)) { %>
                        <a href="<%= object.url %>"><%= object.name %></a>
                    <% } else { %>
                        <a href="<%= object.url %>"><%= object.name %></a>
                        {% trans "to" %} <a href="<%= target.url %>"><%= target.name %></a>
                    <% } %>
                <% } else if (!_.isEmpty(target_ct)) { %>
                    <a href="<%= target.url %>"><%= target.name %></a>
                <% } %>
                <%= timestamp %> {% trans "ago" %}
            </div>
            <div class="entry-body"><%= description %></div>
            <div class="clear">&nbsp;</div>
            <div class="entry-footer"></div>
        </div><!-- // .entry-meta-col -->
    </script>

{% endblock %}
