{% extends 'places_core/base.html' %}
{% load staticfiles i18n activity_tags civil_tags bookmark_tags %}

{% block require_scripts %}
<script>window.API_URL = "/api-userspace/activity/";</script>
<script>window.USER_ID = "{{ user.pk }}";</script>
<script>window.LOCATION_ID = "{{ user.pk }}";</script>
<script>window.CONTENT_API_URL = "/api-userspace/contents/";</script>
<script src="{% static 'places_core' %}/js/{% js_path %}/userspace-activity.js"></script>
{% endblock %}

{% block title %}{% trans "Your feed" %}{% endblock %}

{% block content %}

    <div class="col-sm-9 colHline colHP">
        <div id="location-content-collection" class="containerLocationCollection"></div>
    </div>

    <div class="col-sm-3 colHline">
        <div class="activity-stream"></div>
    </div>

    {% include 'places_core/script-templates/action-template.html' %}

    {% include 'places_core/script-templates/content-item-template.html' %}

{% endblock %}
