{% extends 'places_core/base.html' %}{% load i18n %}
{% block content %}<div>
  <p>{% blocktrans %}Thank You for register in CivilHub.{% endblocktrans %}</p>
  <p>{% blocktrans %}Below you can see list of places that may be interesting for you.{% endblocktrans %}</p>
	{% for location in locations %}{% if forloop.counter0 == 0 or forloop.counter0|divisibleby:4 %}<div class="row">{% endif %}
    <div class="col-sm-3 sublocation">
      <img src="{{ location.thumb_url }}" />
      <div class="location-content"><a href="{{ location.get_absolute_url }}"><b>{{ location.name }}</b></a></div>
      {% if user not in location.users.all and user.is_authenticated %}<button type="button" class="btn-follow-location" data-location-id="{{ location.pk }}">{% trans "Follow" %}</button>
      {% else %}<button type="button" class="btn-unfollow-location" data-location-id="{{ location.pk }}">{% trans "You are following" %}</button>{% endif %}
      <div class="followers sprite-icon"><span class="ch-icon ch-followers"></span> {{ location.users.count }}</div>
    </div>
  {% if forloop.counter|divisibleby:4 or forloop.counter == locations.count %}</div>{% endif %}{% endfor %}
  <p><a href="{% url 'locations:index' %}?new_user=true" class="btn btn-primary">{% trans "Proceed" %}</a></p>
</div>{% endblock %}