{% extends 'places_core/base.html' %}{% load staticfiles i18n actstream_tags %}
{% block header %}<center><h1 class="topHeadingH">{% trans "My places" %}</h1></center>{% endblock %}
{% block content %}<div class="container sublocations">
  {% for l in profile.followed_locations %}
  <div class="col-lg-3 col-sm-3">
    <div class="sublocation">
      <div class="carousel-inner"><img src="{{ l.thumb_url }}" />
        <a href="{{ l.get_absolute_url }}" class="full-click-box"></a>
      </div>
      <div class="sublocation-content">
        <a href="{{ l.get_absolute_url }}"><b>{{ l.name }}</b></a>
      </div>
      {% follow_button l %}
      <div class="followers">{{ l.users.count }}</div>
    </div>
  </div>
  {% endfor %}
</div>{% endblock %}
