{% extends 'places_core/base.html' %}
{% load staticfiles %}{% load i18n %}

{% block content %}
{% for error in errors %}
    {{ error }}
{% endfor %}
{% if user.is_authenticated %}

<div class="row">
    <div class="col-sm-3">
        <img src="{{ profile.avatar.url }}" alt="Avatar" class="user-thumb" />
        <form id="upload-avatar-form" role="form" enctype="multipart/form-data" method="post" action="{% url 'user:upload_avatar' %}">
            {% csrf_token %}
            {{ avatar_form }}
        </form>
        <p><a href="{% url 'user:chpass' %}">{% trans "Change password" %}</a></p>
        <p>Points: {{ profile.rank_pts }}</p>
        <ul>
        {% for badge in profile.badges.all %}
            <li><img src="{{ badge.thumbnail.url }}" alt="{{ badge.name }}" class="user-badge-thumb" title="{{ badge.name}} - {{ badge.description | escape }}" /></li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-sm-9">
        <form id="user-profile-form" method="post" action="{% url 'user:save_settings' %}">
            {% csrf_token %}
            {{ form }}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">{% trans "Save changes" %}</button>
            </div>
        </form>
    </div>
</div>
{% include 'gallery/media-uploader.html' %}
{% else %}
    <p class="custom-booklike">{% trans "You are not allowed to visit this page. Sorry." %}</p>
{% endif %}
{% endblock %}

{% block footer_scripts %}
<script src="{% static 'places_core/includes/bootstrap/bootstrap.file-input.js' %}"></script>
<script src="{% static 'places_core/includes/ckeditor/ckeditor.js' %}"></script>
<script src="{% static 'gallery/js/media-uploader.js' %}"></script>
<script src="{% static 'userspace/js/userarea.js' %}"></script>
{% endblock %}
