{% extends 'userspace/base.html' %}
{% load staticfiles %}
{% block content %}
{% if user.is_authenticated %}

<div class="row">
    <div class="col-sm-3">
        <img src="{{ profile.avatar.url }}" alt="Avatar" class="user-thumb" />
        <form id="upload-avatar-form" role="form" enctype="multipart/form-data" method="post" action="{% url 'user:upload_avatar' %}">
            {% csrf_token %}
            {{ avatar_form }}
        </form>
        <p><a href="{% url 'user:passet' %}">Change password</a></p>
    </div>
    <div class="col-sm-9">
        <form id="user-profile-form" method="post" action="">
            {% csrf_token %}
            {{ form }}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</div>
{% else %}
    <p class="custom-booklike">You are not allowed to visit this page. Sorry.</p>
{% endif %}
<script src="{% static 'userspace/includes/bootstrap/bootstrap.file-input.js' %}"></script>
<script>
(function ($) {
    "use strict";
    $('#id_avatar').bootstrapFileInput();
    $('#id_avatar').on('change', function () {
        $('#upload-avatar-form').submit();
    });
})(jQuery);
</script>
{% endblock %}
