{% extends 'places_core/base.html' %}
{% load staticfiles %}{% load i18n %}
{% block content %}
<div class="login-page">

    {% if welcome_msg %}
        <p class="alert alert-success">{% blocktrans %}Thank you for registeration. You can now log in.{% endblocktrans %}</p>
    {% endif %}

    <div class="login-form">
        <h1 class="login-form-header">{% trans "Sign In" %}</h1>
        <div class="login-form-body">
            <div class="login-social row">
                <div class="login-facebook col-sm-4">
                    <a href="{% url 'social:begin' 'facebook' %}"><img src="facebook.jpg"></a>
                </div>
                <div class="login-twitter col-sm-4">
                    <a href="#"><img src="twitter.jpg"></a>
                </div>
                <div class="login-google col-sm-4">
                    <a href="{% url 'social:begin' 'google' %}"><img src="google.jpg"></a>
                </div>
            </div>
            <form action="" method="post">
                <div class="input-section row">
                    <div class="col-sm-12">
                                    
                                    {{ form.errors }}
                                    <form class="form-horizontal" action="{% url 'user:login' %}" method="post">
                                        {% csrf_token %}
                                        {{ form }}
                                        <div class="submit-section row">
                                            <div>
                                                
                                                <a href="{% url 'user:passreset' %}"> {% trans "Forgot password" %}</a>
                                            </div>
                                            <div>
                                                <input type="submit" value="{% trans "Login" %}">
                                            </div>
                                        </div>
                                    </form>
                                    <a href="{% url 'user:register' %}">Don't have account?</a>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>

{% endblock %}
