{% extends 'places_core/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="row">
    <div class="col-sm-6">
        <p>
            <a href="{% url 'social:begin' 'facebook' %}">
                <img src="{% static 'userspace/img/facebook-logo.png' %}" alt="Login with Facebook" width="200" />
            </a>
        </p>
        <p>
            <a href="{% url 'social:begin' 'google' %}">
                <img src="{% static 'userspace/img/google-logo.png' %}" alt="Login with Google" width="200" />
            </a>
        </p>
    </div>
    <div class="col-sm-6">
        {{ form.errors }}
        <form class="form-horizontal" action="{% url 'user:login' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <div class="form-group">
                <button class="btn btn-primary btn-login-submit" type="submit">Login</button>
            </div>
        </form>
    </div>
</div>
<p class="custom-centered">Don't have account yet? <a href="{% url 'user:register' %}">Register</a> now</p>
{% endblock %}
