{% extends 'staticpages/index.html' %}{% load staticfiles i18n civil_tags %}
{% block title %}{% trans "Create a new account" %} - {% trans "CivilHub - People have the Power." %}{% endblock %}
{% block description %}<meta name="description" content="{% trans "Create an account and help in the development of your country or city. Let`s engage in public life and show everyone the place we would like to live in." %}" />{% endblock %}
{% block require_scripts %}<script src="{% static 'places_core' %}/js/{% js_path %}/static-home.js"></script>
<script src="{% static 'places_core/includes/fort/fort.js' %}"></script>
{% endblock %}
{% block extra_styles %}<link rel="stylesheet" type="text/css" href="{% static 'places_core/includes/fort/fort.css' %}">{% endblock %}
{% block body %}<body class="body-nopd body-register">
  {% block navigation %}{% endblock %}
  {% block content %}<div class="fort-top"></div><div id="register-Page">
    <a href="/"><div class="logo-Home"></div></a>
    <div class="brief-Home">
      <a href="/brief/"><p>{% trans "Brief" %}</p></a>
    </div>
    {% comment %}<div class="features-Home">
      <a href="/features/"><p>{% trans "Features" %}</p></a>
    </div>{% endcomment %}
    <div class="login-Home">
      <a href="{% url 'user:login' %}"><p class="alink-home antimanA">{% trans "Login" %}</p></a>
    </div>
    <div class="register-box">
      <h1 class="text-center">{% trans "Create a new account" %}</h1>
      <form id="pl-register-form" method="post" action="" role="form" class="form-horizontal formRegister">{% csrf_token %}
        <div class="form">
        <div class="form-group">
          <div class="col-xs-6 pl0">
            <input id="name" class="short short-left form-control{% if form.errors.first_name %} error-popover" data-content="{% for error in form.errors.first_name %}{{ error }}{% endfor %}"{% else %}"{% endif %}" type="text" name="first_name" placeholder="{% trans "First name" %}" value="{{ form.first_name.value|default_if_none:"" }}"></div>
          <div class="col-xs-6 pr0">
            <input id="surname" class="short form-control{% if form.errors.last_name %} error-popover" data-content="{% for error in form.errors.last_name %}{{ error }}{% endfor %}"{% else %}"{% endif %}" type="text" name="last_name" placeholder="{% trans "Surname" %}" value="{{ form.last_name.value|default_if_none:"" }}">
          </div>
        </div>
        <div class="form-group">
          <input id="email" class="long form-control{% if form.errors.email %} error-popover" data-content="{% for error in form.errors.email %}{{ error }}{% endfor %}"{% else %}"{% endif %} type="text" name="email" placeholder="{% trans "Your email" %}" value="{{ form.email.value|default_if_none:"" }}">
        </div>
        <div class="form-group">
          <input id="pass1" class="long form-control{% if form.errors.password1 %} error-popover" data-content="{% for error in form.errors.password1 %}{{ error }}{% endfor %}"{% else %}"{% endif %}" type="password" name="password1" placeholder="{% trans "Create a password" %}">
        </div>
        <div class="form-group">
          <input id="pass2" class="long form-control{% if form.errors.password2 %} error-popover" data-content="{% for error in form.errors.password2 %}{{ error }}{% endfor %}"{% else %}"{% endif %}" type="password" name="password2" placeholder="{% trans "Repeat password" %}">
        </div>
        </div>
        <div class="registerButtons text-center">
          <a class="facebook-btn" href="{% url 'social:begin' 'facebook' %}" onClick="ga('send', 'event', 'facebook-register', 'click', 'facebook-register');"><span class="fa fa-facebook"></span></button>
          <a class="twitter-btn" href="{% url 'social:begin' 'twitter' %}" onClick="ga('send', 'event', 'twitter-register', 'click', 'twitter-register');"><span class="fa fa-twitter"></span></button>   
          <a class="linkedin-btn" href="{% url 'social:begin' 'linkedin' %}"  onClick="ga('send', 'event', 'linkedin-register', 'click', 'linkedin-register');"><span class="fa fa-linkedin"></span></button>
          <a class="google-btn" href="{% url 'social:begin' 'google-plus' %}"><span class="fa fa-google-plus"></span></a>
        </div>
        <div class="registerButtonSubmit text-center">
          <button id="signup_button" type="submit" class="long signup-button antiman btn-greenBig">{% trans "Sign up" %}</button>
        </div>
        <p class="terms text-center">{% trans "By clicking &quot;Sign up&quot;, you agree to our" %} <br /> <a href="/terms" target="_blank"><strong>{% trans "term of service" %}</strong></a> {% trans "and" %} <a href="/privacy" target="_blank"><strong>{% trans "privacy policy" %}</strong></a>.</p>
      </form>
    </div>
    <div class="footerLang footer" id="footer-register">   
      <form id="main-lang-form" method="post" action="{% url 'set_language' %}">
        <input type="text" name="next" value="{{ request.path }}" />
        <input type="text" name="language" id="lang-selected-field" value="{{ LANG }}" />
      </form>
      <div id="lang-selector">
        <a><img src="/static/places_core/img/lang/{{ LANG }}.png" />{% trans "Choose language" %}</a>
        <div id="popover-lang-list">
          <ul id="lang-list" data-current-lang="{{ LANG }}">{% langlist request %}</ul>
        </div>
      </div>
    </div>
  </div>{% endblock %}
  {% block footer %}
    {% include 'places_core/script-templates/flash-msg-tpl.html' %}
    {% include 'places_core/user-popup.html' %}
    {% include 'places_core/abuse-window-modal.html' %}
    {% include 'places_core/sublocation-dropdown.html' %}
  {% endblock %}
</div>{% endblock %}
