{% load staticfiles %}{% load i18n %}
{% comment %}
    Widok dla sidebara, dołączany do templatki w ramach
    widoku profilu użytkownika. Widok ten widzi tylko zalogowany
	użytkownik na stronie własnego profilu.
{% endcomment %}

{% if user.is_authenticated and request.user == cuser %}   

<div class="col-sm-4">
    <div class="sidebar ">
        <div class="ambasador-image"><h3>{% trans "Zostań ambasadorem" %}</h3></div>
        
        <div class="sidebar-label">{% trans "Actions" %}:</div>
            
                <ul class="custom-sidebar-nav"> 
                    <li><a href="{% url 'user:locations' user.pk %}"><span class="ch-icon ch-home"></span>{% trans "My Places" %}</a></li>
                    <li><a href="{% url 'gallery:index' %}"><span class="ch-icon ch-photos"></span>{% trans "Media" %}</a></li>
                    <li><a href="{% url 'user:index' %}"><span class="ch-icon ch-edit"></span>{% trans "Edit profile" %}</a></li>
                </ul>
           
    </div>
</div>

{% endif %}