{% extends 'places_core/base.html' %}
{% load staticfiles i18n %}


{%comment %} przy tworzeniu konta przez TW musieliśmy podać jedynie email w formularzu, czy te Full Name i Profile Address będzie wymagane tego nie wiem {% endcomment %}

{% block header %}

{% endblock %}


{% block content %}

    {% comment %}<form role="form" method="post" action="{% url 'social:complete' 'twitter' %}">{% endcomment %}

    <div class="twitterDiv">

    	<div class="twitterDivLabel">
    		<h2>{% trans "Almost there" %}</h2>
    		<h4>{% trans "Finish creationg your CivilHub account" %}<h4>
    		<p class="twAccount"><a href="/user/login/"><span>{% trans "I already have an account" %}</span></a><p>
    	</div>

	    <form role="form" method="post" action="">{% csrf_token %}
	        {% comment %}{{ form }}{% endcomment %}

	      <div class="form-group">
	        <label for="id_account_email" class="control-label">{% trans "Email address" %}</label>
	        
	          <input type="email" class="form-control" id="id_account_email"
	            maxlength="{{ form.fields.account_email.max_length }}"
	            name="{{ form.account_email.name }}">
	            {% if form.account_email.errors %}
	              <p class="form-error">{{ form.account_email.errors.as_text }}</p>
	            {% endif %}
	       
	      </div>

	      <div class="form-group">
	      	<label for="id_full_name" class="control-label">{% trans "Full name" %}</label>
	
	      		<input type="text" class="form-control" id="id_full_name"
	      			maxlength="200"
	      			name="name">
	      	</div>

			<div class="form-group">
			 	<div class="twCreatingAccept"><p>{% trans "By creating an account, I accept CivilHub" %}<a href="/terms/">{% trans "Terms of Service" %}</a> {% trans "and" %} <a href="/privacy/">{% trans "Privacy Police" %}</a></p></div>
			</div>

	        <div class="form-group">
	            <div class="twButton"><button class="btn btn-sendBlue">{% trans "Send" %}</button></div>
	        </div>

	       
	    </form>
	</div>


{% endblock %}
