{% extends 'places_core/base.html' %}{% load i18n civil_tags %}

{% block require_scripts %}<script src="{% module_path 'user-ranking' %}"></script>{% endblock %}

{% block content %}
<div class="col-sm-3">
  <div class="sidebar left">
    <div class="sidebar-label">{% trans "Actions" %}:</div>
    <div class="sidebar-content">
      <ul>
        <li><a href="{% url 'user:ranking' %}">{% trans "User ranking" %}</a></li>
        <li><a href="">{% trans "Location ranking" %}</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="col-sm-9 main-content">
  <div class="create-form newFormCreate">
    <h3>{% trans "User ranking" %}</h3>
    <form action="" method="get">{% form_from_params %}
      <input id="ranking-filter" type="text" class="form-control" name="q" placeholder="{% trans "filter"|capfirst %}" autofocus>
    </form>
    <div class="container-fluid">
      <div class="row civ-tablelike-heading">
        <div class="col-xs-1">&nbsp;</div>
        <div class="col-xs-3"><a href="{% url_from_params 'o' 'name' %}" data-field="name">{% trans "user name"|capfirst %}</a></div>
        <div class="col-xs-6">{% trans "badges taken"|capfirst %}</div>
        <div class="col-xs-2 text-center"><a href="{% url_from_params 'o' 'rank_pts' %}" data-field="rank_pts">{% trans "rank points"|capfirst %}</a></div>
      </div>
      {% for entry in object_list %}<div class="row civ-tablelike{% if entry == user.profile %} active{% endif %}">
        <div class="col-xs-1"><img src="{{ entry.avatar.url }}" alt="{{ entry }}" class="user-avatar"></div>
        <div class="col-xs-3">
          <a href="{{ entry.get_absolute_url }}" class="custom-tooltip" title="{% trans "date joined"|capfirst %}: {{ entry.user.date_joined|date:"d.m.Y" }}">{{ entry }}</a>
        </div>
        <div class="col-xs-6">{% for badge in entry.badges.all %}{{ badge }} {% endfor %}</div>
        <div class="col-xs-2 text-center">{{ entry.rank_pts }}</div>
      </div>{% endfor %}
    </div>
    {% include 'places_core/pagination.html' %}
  </div>
</div>

{% comment %}
<h1>{% trans "User ranking" %}</h1><hr>
<form action="" method="get">{% form_from_params %}
  <input id="ranking-filter" type="text" class="form-control" name="q" placeholder="{% trans "filter"|capfirst %}" autofocus>
</form>
<div class="container">
  <div class="row civ-tablelike-heading">
    <div class="col-xs-1">&nbsp;</div>
    <div class="col-xs-3"><a href="{% url_from_params 'o' 'name' %}" data-field="name">{% trans "user name"|capfirst %}</a></div>
    <div class="col-xs-6">{% trans "badges taken"|capfirst %}</div>
    <div class="col-xs-2 text-center"><a href="{% url_from_params 'o' 'rank_pts' %}" data-field="rank_pts">{% trans "rank points"|capfirst %}</a></div>
  </div>
  {% for entry in object_list %}<div class="row civ-tablelike{% if entry == user.profile %} active{% endif %}">
    <div class="col-xs-1"><img src="{{ entry.avatar.url }}" alt="{{ entry }}" class="user-avatar"></div>
    <div class="col-xs-3">
      <a href="{{ entry.get_absolute_url }}" class="custom-tooltip" title="{% trans "date joined"|capfirst %}: {{ entry.user.date_joined|date:"d.m.Y" }}">{{ entry }}</a>
    </div>
    <div class="col-xs-6">{% for badge in entry.badges.all %}{{ badge }} {% endfor %}</div>
    <div class="col-xs-2 text-center">{{ entry.rank_pts }}</div>
  </div>{% endfor %}
</div>
{% include 'places_core/pagination.html' %}
{% endcomment %}
{% endblock %}
