/* Discussion list view */
.discussion-list {
  .news-user-avatar {
    margin: 0px !important;
  }
}

/* Discussion active detail view */
.reply-entry {
  .entry-controls {
    float: right;
    display: none;
  }
  .entry-edited-label {
    margin-left: 35px;
  }
}
