.discussion-list {
  margin-top: 25px;
  .row {
    position: relative;
    text-align: center;
    border-bottom: 1px solid #F2F2F2;
    margin: 0px;
    z-index: 0;
  }
  .topic-list-heading {
    font-size: 18px;
    font-weight: bold;
    line-height: 2em;
  }
  .topic-list-entry {
    padding: 5px 0px 5px 0px;
    &:hover {
      .list-entry-controls {
        opacity: 1;
      }
    }
  }
  .news-user-avatar {
    margin: 0px !important;
  }
  .user-avatar-minithumb {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
  }
  .list-entry-controls {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    transition: all 0.3s;
    z-index: 50;
    button {
      cursor: pointer;
    }
  }
}