{% load staticfiles %} {% load i18n %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{% block title %}{{ title | capfirst }}{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="{% static 'places_core/favicon.png' %}" />
<link href="{% static 'places_core/css/style.min.css' %}" rel="stylesheet">
<link href="{% static 'places_core/css/jquery-ui.css' %}" rel="stylesheet" type="text/css" />

{% comment %}Miejsce na dodatkowe pliki css.{% endcomment %}
{% block extra_styles %}{% endblock %}

<script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
<script src="{% static 'places_core/includes/require/require.js' %}"></script>

{% block require_scripts %}

    {% comment %}
        W tym bloku definiujemy inicjalizator dla Require.js, e.g. 'require.config'
        i startową funkcję dla aplikacji. Zależności w Require powinny odzwierciedlać
        faktycznie wszystkie wykorzystywane na stronie biblioteki i pluginy.
    {% endcomment %}
    
    <script>
    require.config({
        baseUrl: "{% static 'places_core' %}",
        
        urlArgs: "bust=" + (new Date()).getTime(),
        
        waitSeconds: 200,
        
        paths: {
            jquery: 'includes/jquery/jquery',
            bootstrap: 'includes/bootstrap/bootstrap',
            underscore: 'includes/underscore/underscore',
            backbone: 'includes/backbone/backbone',
            tagsinput: 'includes/jquery/jquery.tagsinput',
            bootbox: 'includes/bootstrap/bootbox',
            ui: 'js/ui/ui',
            utils: 'js/utils/utils',
            common: 'js/common'
        },
        
        shim: {
            underscore: {
                deps: ['jquery'],
                exports: '_'
            },
            
            backbone: {
                deps: ['underscore'],
                exports: 'Backbone'
            },
            
            bootstrap: {
                deps: ['jquery']
            },
            
            bootbox: {
                deps: ['bootstrap'],
                exports: 'bootbox'
            },
            
            tagsinput: {
                deps: ['jquery']
            },
        }
    });

    require(['jquery', 'common'], function ($) {
        
        $(document).trigger('load');
        
    });
    </script>
    
{% endblock %}

{% comment %}Dodatkowe skrypty do załączenia globalnie.{% endcomment %}
{% block extra_scripts %}{% endblock %}
</head>
<body>
    
    <div id="messages"></div>

{% comment %}Main page navigation - top navbar{% endcomment %}
{% include 'places_core/navigation.html' %}

{% comment %}Page content begins here.{% endcomment %}
<div class="main-page-content">
    
    <div id="messages"></div>
    
    {% comment %}
        W bloku header zostawiłem miejsce dla nagłówka lokalizacji - banner
        ze zdjęciem, ścieżka lokalizacji oraz drugie menu poniżej banneru mają
        swoje miejsce tutaj.
    {% endcomment %}
    
    {% block header %}
    
        <div class="container">
            <h1 class="custom-main-title">{{ title | capfirst }} <small>{{ subtitle | capfirst }}</small></h1>
            <hr />
        </div>
    
    {% endblock %}
    
    <div class="container">
        
        {% comment %}
            W tym bloku znajduje się menu z filtrami wyszukiwania oraz formularzem
            wyszukiwarki. Nadpisywany w szablonie każdego modułu.
        {% endcomment %}
        {% block topbar %}{% endblock %}
        
        {% comment %}Główna zawartość strony.{% endcomment %}
        {% block content %}<p class="custom-booklike">Lorem ipsum dolor sit amet.</p>{% endblock %}
        
        {% comment %}Sidebar dla podstron lokalizacji - czyli menu po prawej.{% endcomment %}
        {% block sidebar %}{% endblock %}
        
        {% include 'places_core/footer.html' %}
        
    </div>
</div>

{% comment %}
    Modal dla formularza 'abuse report'. Dostępny na każdej stronie.
{% comment %}

{% if user.is_authenticated %}
<script type="text/template" id="abuse-form-tpl">
<div class="modal fade" id="abuse-form-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{% trans "Report abuse" %}</h4>
            </div>
            <div class="modal-body">
                <form role="presentation" method="post" action="" >
                    <div class="form-group">
                        <label for="category-description">{% trans "Reason" %}</label>
                        <textarea id="category-description" cols="10" rows="10" class="form-control"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                <button type="button" class="btn btn-primary submit-btn">{% trans "Send" %}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</script>
{% endif %}

{% comment %}Dodatkowe skrypty dołączane przed zamknięciem 'body'.{% endcomment %}
{% block footer_scripts %}{% endblock %}

<script type="text/template" id="user-popup-tpl">
<div class="user-popup-avatar">
    <img src="<%= avatar %>" alt="<%= username %>" />
</div>
<div class="user-popup-details">
    <span class="fa fa-times-circle-o user-popup-close"> </span>
    <p class="user-popup-personals">
        <a href="<%= user_link %>"><%= fullname %></a><br />
        <%= rank_pts %> {% trans 'pts' %}
    </p>
    <p>
        <% for (var i = 0; i < follows.length; i++) { %>
            <%= follows[i].name %>,&nbsp;
        <% } %>
    </p>
</div>
</script>

</body>
</html>