{% load staticfiles i18n civil_tags analytical %}
    
<!DOCTYPE html>
{% get_current_language as LANG %}
<html lang="{{ LANG }}">
<head>
{% analytical_head_top %}
<meta charset="utf-8">
<title>{% block title %}{{ title | default:"Civilhub - People Have the Power" | capfirst }}{% endblock %}</title>
<meta name="google-site-verification" content="93irILZQJVmZR0paJFaKesTeiXAR70oQbXo81rKvFIs" />
<meta name="msvalidate.01" content="E0442A02BBB71BAA5B21CC0D8F020ED6" />
<meta property="fb:app_id" content="345109858975991" />
{% block description %}<meta name="description" content="{% trans "CivilHub - People have the Power. The best tools to collaborate in local communities." %}" />{% endblock %}
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{% static 'places_core/css/style.min.css' %}" rel="stylesheet">
<link href="{% static 'places_core/css/jquery-ui.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'places_core/css/leaflet.css' %}" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="{% static 'places_core/favicons/favicon.ico' %}">
<link rel="apple-touch-icon" sizes="57x57" href="{% static 'places_core/favicons/apple-touch-icon-57x57.png' %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'places_core/favicons/apple-touch-icon-114x114.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'places_core/favicons/apple-touch-icon-72x72.png' %}">
<link rel="apple-touch-icon" sizes="144x144" href="{% static 'places_core/favicons/apple-touch-icon-144x144.png' %}">
<link rel="apple-touch-icon" sizes="60x60" href="{% static 'places_core/favicons/apple-touch-icon-60x60.png' %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'places_core/favicons/apple-touch-icon-120x120.png' %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'places_core/favicons/apple-touch-icon-76x76.png' %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'places_core/favicons/apple-touch-icon-152x152.png' %}">
<link rel="icon" type="image/png" href="{% static 'places_core/favicons/favicon-196x196.png' %}" sizes="196x196">
<link rel="icon" type="image/png" href="{% static 'places_core/favicons/favicon-160x160.png' %}" sizes="160x160">
<link rel="icon" type="image/png" href="{% static 'places_core/favicons/favicon-96x96.png' %}" sizes="96x96">
<link rel="icon" type="image/png" href="{% static 'places_core/favicons/favicon-16x16.png' %}" sizes="16x16">
<link rel="icon" type="image/png" href="{% static 'places_core/favicons/favicon-32x32.png' %}" sizes="32x32">
<link rel="publisher" href="https://plus.google.com/+CivilhubOrg">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="msapplication-TileImage" content="{% static 'places_core/favicons/mstile-144x144.png' %}">
<meta name="msapplication-config" content="{% static 'places_core/favicons/browserconfig.xml' %}">

<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js" type="text/javascript"></script>
<![endif]--> 

<script src="{% static 'places_core/includes/modernizr/modernizr.js' %}"></script>
<script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
<script src="{% static 'places_core' %}/includes/require/require.js"></script>
{% include 'places_core/script-templates.html' %}
{% include 'places_core/init-scripts.html' %}

{% google_data user %}

{% hreflang request %}

{% analytical_head_bottom %}
    
{% comment %} ~~~~~~~~~~~~~~~~~~~~~ TAGS ~~~~~~~~~~~~~~~~~~~~~ {% endcomment %}
{% block meta %}{% endblock %}

{% comment %} ~~~~~~~~~~~~~~~~~~~ GEO TAGS ~~~~~~~~~~~~~~~~~~~ {% endcomment %}
{% block geometa %}{% endblock %}

{% comment %} ~~~~~~~~~~~~~ ADDITIONAL CSS FILES ~~~~~~~~~~~~~~ {% endcomment %}
{% block extra_styles %}{% endblock %}

{% comment %} ~~~~~~~~~~~~~~ REQUIRE.JS CONFIG ~~~~~~~~~~~~~~~ {% endcomment %}
{% block require_scripts %}

    {% comment %}
        Here we define Require.js initializator, e.g. 'require.config' and
        a starting function for the application. Dependencies in Require should
        reflect all used in the plugin and library site.  
    {% endcomment %}
    
    <script src="{% static 'places_core' %}/js/{% js_path %}/default.js"></script>
    
{% endblock %}

{% comment %} ~~~~~~~~~~~~~~~ EXTRA JS FILES ~~~~~~~~~~~~~~~~ {% endcomment %}
{% block extra_scripts %}{% endblock %}

</head>
<body>
{% analytical_body_top %}

{% if user.is_authenticated %}<div id="cookie-if"></div>{% endif %}
<div id="messages"></div>
<div id="cookie-msg"></div>
    
{% include 'places_core/navigation.html' %}

{% block main_page_content %}
<div class="main-page-content wrap">
    
    <div id="messages"></div>
    
    {% block header %}
    
        <div class="container">
            <h1 class="custom-main-title" id="headlingBase">{{ title | capfirst }} <small>{{ subtitle | capfirst }}</small></h1>
        </div>
    
    {% endblock %}
    
    {% block container_main %}
    <div class="container">
    
        {% block topbar %}{% endblock %}
        
        {% block content %}{% endblock %}
        
        {% block sidebar %}{% endblock %}

    </div>

    {% endblock %}
    
</div>
{% endblock %}
{% block base_footer %}
{% include 'places_core/footer.html' %}
{% endblock %}
{% comment %}template for notificatioins (alert){% endcomment %}
{% include 'places_core/script-templates/flash-msg-tpl.html' %}

{% comment %} ~~~~~~~~~~~~~~~~ FOOTER SCRIPTS ~~~~~~~~~~~~~~~~ {% endcomment %}
{% block footer_scripts %}{% endblock %}

{% analytical_body_bottom %}
</body>
</html>
