{% load staticfiles i18n civil_tags cache analytical %}

{% get_current_language as LANG %}

{% cache 600 footer_top LANG %}

<div class="clear"></div>

<div class="nfooter" itemscope itemtype="http://schema.org/WPFooter">
  <div class="container">
    <div class="col-sm-2 hidden-xs">
      <div class="logo-footer">
        {% if LANG == 'pl' %}
        <a href="/"><img src="{% static "places_core/img/footer_logo_pl@2x.png" %}" alt="CivilHub" itemprop="img" /></a>
        {% else %}
        <a href="/"><img src="{% static "places_core/img/footer_logo@2x.png" %}" alt="CivilHub" itemprop="img" /></a>
        {% endif %}
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <p><strong>{% trans "Support" %}</strong></p>
      <ul class="list-unstyled">
        <li><a href="/brief/" itemprop="url" rel="up"><span itemprop="name">{% trans "Brief" %}</span></a></li>
        <li><a href="/local-communities/" itemprop="url" rel="up"><span itemprop="name">{% trans "Local Communities" %}</span></a></li>
        <li><a href="/project-features/" itemprop="url" rel="up"><span itemprop="name">{% trans "About Projects" %}</span></a></li>
        <li><a href="/idea-to-law/" itemprop="url" rel="up"><span itemprop="name">{% trans "Law changes" %}</span></a></li>
        <li><a href="/idea-to-project/" itemprop="url" rel="up"><span itemprop="name">{% trans "Idea to Projects" %}</span></a></li>
        <li><a href="/for-city-administration/" itemprop="url" rel="up"><span itemprop="name">{% trans "For City Administration" %}</span></a></li>
        <li><a href="/for-organizations/" itemprop="url" rel="up"><span itemprop="name">{% trans "For your Organization" %}</span></a></li>
      </ul>
    </div>
    <div class="col-xs-6 col-sm-3">
      <p><strong>{% trans "Shortcuts" %}</strong></p>
      <ul class="list-unstyled">
        <li><a href="/support" itemprop="url" rel="up"><span itemprop="name">{% trans "Support" %}</span></a></li>
        <li><a href="/privacy" itemprop="url" rel="up"><span itemprop="name">{% trans "Privacy Policy" %}</span></a></li>
        <li><a href="/cookies" itemprop="url" rel="up"><span itemprop="name">{% trans "Cookies" %}</span></a></li>
        <li><a href="/terms" itemprop="url" rel="up"><span itemprop="name">{% trans "Terms of Use" %}</span></a></li>
      </ul>
    </div>
    <div class="col-xs-6 col-sm-2">
      <p><strong>{% trans "Shortcuts" %}</strong></p>
      <ul class="list-unstyled">
        <li><a href="/about-us" itemprop="url" rel="up"><span itemprop="name">{% trans "About Us" %}</span></a></li>
        <li><a href="/press" itemprop="url" rel="up"><span itemprop="name">{% trans "Press" %}</span></a></li>
        <li><a href="/press-coverage/" itemprop="url" rel="up"><span itemprop="name">{% trans "Press Coverage" %}</span></a>
        <li><a href="/jobs" itemprop="url" rel="up"><span itemprop="name">{% trans "Jobs" %}</span></a></li>
      </ul>
    </div>
    <div class="col-xs-6 col-sm-2">
      <p><strong>{% trans "About CivilHub" %}</strong></p>
      <ul class="list-unstyled">
        <li><a href="/mission" itemprop="url" rel="up"><span itemprop="name">{% trans "Mission" %}</span></a></li>
        <li><a href="/team" itemprop="url" rel="up"><span itemprop="name">{% trans "Team" %}</span></a></li>
        <li><a href="/creed" itemprop="url" rel="up"><span itemprop="name">{% trans "Creed" %}</span></a></li>
        <li><a href="/history-timeline" itemprop="url" rel="up"><span itemprop="name">{% trans "History" %}</span></a></li>
        <li><a href="/licence" itemprop="url" rel="up"><span itemprop="name">{% trans "Licence" %}</span></a></li>
        <li><a href="/blog" itemprop="url" rel="up"><span itemprop="name">{% trans "Our Blog" %}</span></a></li>
        <li><a href="/contact" itemprop="url" rel="up"><span itemprop="name">{% trans "Contact" %}</span></a></li>
      </ul>
    </div>
  </div>
</div>

<div class="bfooter" itemscope>
  <div class="container share-buttons">
{% endcache %}
    <div class="col-md-3" id="footerDivLang">
      <form id="main-lang-form" method="post" action="{% url 'set_language' %}">
        <input type="text" name="next" value="{{ request.path }}" />
        <input type="text" name="language" id="lang-selected-field" value="{{ LANG }}" />
      </form>
      <div id="lang-selector">
        <a><img src="/static/places_core/img/lang/{{ LANG }}.png" alt="{{ LANG }}"/>{% trans "Choose language" %}</a>
        <div id="popover-lang-list">
          <ul id="lang-list" data-current-lang="{{ LANG }}">{% langlist request %}</ul>
        </div>
      </div>
    </div>
{% cache 600 footer_bottom LANG %}
    <div class="col-md-8" id="footerDivBut">
      <!-- Twitter -->
      <a href="https://twitter.com/CivilHub_org" class="twitter-follow-button" data-align="right" data-show-count="true">Follow @CivilHub_org</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

      <!-- Facebook -->
      {% if LANG == 'pl' %}
          <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));</script>
          <div class="fb-like" data-href="https://www.facebook.com/civilhubpl" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
      {% else %}
          <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));</script>
          <div class="fb-like" data-href="https://www.facebook.com/pages/CivilHub-En/838421706197370" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
      {% endif %}

      <!-- Google 1+ -->
      <div class="g-plusone" data-size="medium" data-href="https://plus.google.com/+CivilhubOrg"></div>
      <script type="text/javascript">
        window.___gcfg = {lang: 'pl'};

        (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/platform.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
      </script>
    </div>
  </div>
  <div class="container">
    <div class="socialSmallIcon">
      <ul>
        <li class="youtube"><a href="https://www.youtube.com/user/civilhuborg" target="_blank" rel="nofollow" itemprop="url"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-youtube-play fa-stack-1x fa-inverse"></i></span></a></li>
        <li class="linkedin"><a href="https://www.linkedin.com/company/civilhub" target="_blank" rel="nofollow" itemprop="url"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-linkedin fa-stack-1x fa-inverse"></i></span></a></li>
        {% comment %}<li class="instagram"><a href="#" target="_blank" rel="nofollow" itemprop="url"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-instagram fa-stack-1x fa-inverse"></i></span></a></li>{% endcomment %}
      </ul>
    </div>
    <div class="by-nc-sa display-ib-m"><a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank" itemprop="license"><img src="/static/places_core/img/by-nc-sa.png" alt="Creative Commons Licence" itemprop="img" /></a></div>
  </div>




{% comment %} ~~~~~~~~~~~~~~~~~ JS TEMPLATES ~~~~~~~~~~~~~~~~~ {% endcomment %}

{% include 'places_core/abuse-window-modal.html' %}
{% include 'places_core/sublocation-dropdown.html' %}
{% include 'places_core/user-popup.html' %}
{% include 'gallery/media-uploader.html' %}
<script>window.civchat = {
    apiKey: "VPa8Z1uYDsojVRG0nRUemBZV70uMY7mtMmIFUXFF73I0dklfK9dAWXZpAcV3rgzp",
    username: "{{ user.get_full_name }}",
    email: "{{ user.email }}"
};</script>
<script src="https://widget.userengage.io/widget.js"></script>
</div>

{% endcache %}
