{% load staticfiles i18n civil_tags %}{% get_current_language as LANG %}<script>
(function () {
    
  "use strict";

  // Avoid 'redactorPlugins is undefined' error
  if (typeof(window.RedactorPlugins) === 'undefined')
    window.RedactorPlugins = {};
  
  // Create new object from given arguments. Takes any number of other objects
  // to join together. If they declare same properties, they will be overwritten
  // by last declaration. Objects are processed in order they are passed to 
  // function
  // 
  // @returns { Obj } Plain object
  
  function extend () {
    var obj = {}, i = 0, j, prop;
    for (i; i < arguments.length; i++) {
      if (typeof (arguments[i] === 'object') && arguments[i] !== null) {
        for (prop in arguments[i]) {
          if (arguments[i].hasOwnProperty(prop)) {
            obj[prop] = arguments[i][prop];
          }
        }
      }
    }
    return obj;
  }
  
  var CivilApp = window.CivilApp || {};
  
  // Set all necessary paths/properties and settings
  // taken from django template system and context.
  
  CivilApp = extend(CivilApp, {
    
    staticURL: "{% static 'places_core' %}",
    
    language: "{{ LANG }}",
    
    debug: "{% settings_value 'DEBUG' %}",
    
    maxComments: "{% settings_value 'COMMENT_PAGINATOR_LIMIT' %}",
    
    currentUserId: {% if user.is_authenticated %}"{{ user.pk }}"{% else %}null{% endif %}
  });
  
  // Export to public scope
  
  window.CivilApp = CivilApp;
  
  // Legacy - things, that are already used in apps
  // as publicly available.
  
  window.STATIC_URL = CivilApp.staticURL;
  
})();
</script>