{% load i18n %}{% if is_paginated %}<ul class="pagination">
  {% if page_obj.has_previous %}<li><a href="?page={{ page_obj.previous_page_number }}" rel="prev">{% trans "previous" %}</a></li>{% endif %}
  {% for i in paginator.page_range %}<li>
    <a href="?page={{ i }}"{% if i == page_obj.number %} class="active"{% endif %}>{{ i }}</a>
  </li>{% endfor %}
  {% if page_obj.has_next %}<li><a href="?page={{ page_obj.next_page_number }}" rel="next">{% trans "next" %}</a></li>{% endif %}
</ul>{% endif %}
