{% load i18n %}
<script type="text/template" id="user-popup-tpl">
<div class="user-popup-avatar">
    <img src="<%= avatar %>" alt="<%= username %>" />
</div>
<div class="user-popup-details">
    <span class="fa fa-times-circle-o user-popup-close"> </span>
    <p class="user-popup-personals">
        <a href="<%= user_link %>"><%= fullname %></a><br />
        <%= rank_pts %> {% trans 'pts' %}
    </p>
    <p>
        <% for (var i = 0; i < follows.length; i++) { %>
            <%= follows[i].name %>,&nbsp;
        <% } %>
    </p>
</div>
</script>