<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="<%= gettext("Close") %>"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= gettext("Share") %></h4>
      </div>
      <div class="modal-body">
        <h4><%= gettext("Thank you for your vote. Please, share this page with your friends") %>.</h4>
        <p>
          <a class="trigger-link facebook-button" data-backend="Facebook" href="https://www.facebook.com/sharer/sharer.php?app_id=<%= token %>&sdk=joey&u=<%= url %>&display=popup&ref=plugin&src=share_button">Facebook</a>
          <a data-backend="Twitter" href="https://twitter.com/intent/tweet?original_referer=<%= url %>&related=anywhereTheJavascriptAPI&text=<%= title %>&tw_p=tweetbutton&url=<%= title %>" class="twitter-button">Twitter</a>
        </p>
      </div>
      <div class="modal-footer">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
